{% extends "../layout.njk" %}

{% block questions %}

    <h1 class="govuk-heading-l">

        {{ page.title }}
    </h1>

    <p>Please see <a
                href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1148946/transgender-pf.pdf">The
            Care and Management of Individuals who are Transgender' framework</a> or contact <a
                href="mailto:HMPPStransgender@justice.gov.uk">HMPPStransgender@justice.gov.uk</a> for further advice</p>

    {{ formPageRadios({
        fieldName: 'reviewRequired',
        items: [
            {
                value: "yes",
                text: "Yes"
            },
            {
                value: "no",
                text: "No"
            }
        ]
    },
        fetchContext()
    ) }}
{% endblock %}
