{% extends "../layout.njk" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block questions %}

    <h1 class="govuk-heading-l">
        {{ page.title }}
    </h1>
    <p class="govuk-body">This information has been imported from Delius.</p>

    <input type="hidden" name="userDetailsFromDelius[name]" value="{{ page.userDetailsFromDelius.name }}"/>
    <input type="hidden" name="userDetailsFromDelius[emailAddress]" value="{{ page.userDetailsFromDelius.emailAddress }}"/>
    <input type="hidden" name="userDetailsFromDelius[phoneNumber]" value="{{ page.userDetailsFromDelius.phoneNumber }}"/>
    <input type="hidden" name="userDetailsFromDelius[area]" value="{{ page.userDetailsFromDelius.area }}"/>

    {% set rows = ([
        {
            key: {
                text: "Name"
            },
            value: {
                text: page.userDetailsFromDelius.name
            }
        }, {
            key: {
                text: "Email"
            },
            value: {
                text: page.userDetailsFromDelius.emailAddress
            }
        }, {
            key: {
                text: "Phone number"
            },
            value: {
                text: page.userDetailsFromDelius.phoneNumber
            }
        }, {
            key: {
                text: "Area"
            },
            value: {
                text: page.userDetailsFromDelius.area.name
            }
        }
    ])
 %}

    {{ govukSummaryList({
      rows: rows
    }) }}

    {% set nameHtml %}
    {{
            formPageInput({
            fieldName: 'name',
            label: {
                text: page.questions.name.label,
                classes: "govuk-visually-hidden"
            },
            classes: "govuk-input--width-20"
            },
            fetchContext())
        }}
    {%endset %}

    {% set emailAddressHtml %}
    {{
            formPageInput({
            fieldName: 'emailAddress',
            label: {
                text: page.questions.emailAddress.label,
                classes: "govuk-visually-hidden"
            },
            inputmode: 'email',
            classes: "govuk-input--width-25"
            },
            fetchContext())
        }}
    {%endset %}

    {% set phoneNumberHtml %}
    {{
            formPageInput({
            fieldName: 'phoneNumber',
            label: {
                text: page.questions.phoneNumber.label,
                classes: "govuk-visually-hidden"
            },
            classes: "govuk-input--width-20",
            inputmode: 'tel'
            },
            fetchContext())
        }}
    {%endset %}

    {% set areaHtml %}
    {{
            formPageSelect({
            fieldName: 'area',
            label: {
                text: page.questions.area.label,
                classes: "govuk-visually-hidden"
            },
            classes: "govuk-input--width-20",
            items: convertObjectsToSelectOptions(areas, 'All areas', 'name', 'id', 'area', '', context.page)
            },
            fetchContext())
        }}
    {%endset %}

    {% set conditionalArray = [nameHtml, emailAddressHtml, phoneNumberHtml, areaHtml] %}

    {{
        formPageCheckboxes({
            fieldName: 'detailsToUpdate[]',
            fieldset: {
                legend: { 
                    text: page.questions.updateDetails.label,
                    classes: "govuk-fieldset__legend--m"
                }
            },
            hint: {
                html: page.questions.updateDetails.hint
            },
            values: page.detailsToUpdate,
            items: FormUtils.convertArrayToCheckboxItems(page.questions.updateDetails.items, conditionalArray)
        },
        fetchContext()
        )
    }}

    {{
        formPageRadios({
            fieldName: 'caseManagementResponsibility',
            fieldset: {
                legend: { 
                    text: page.questions.caseManagementResponsibility.label,
                    classes: "govuk-fieldset__legend--m"
                }
            },
            items: [{
                value: 'yes',
                text: 'Yes'
            }, 
            {
                value: 'no',
                text: 'No'
            }
            ]
        },
        fetchContext()
        )
    }}
{% endblock %}
