{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% extends "../layout.njk" %}

{% block questions %}

  <h1 class="govuk-heading-l">
    {{ page.title }}
  </h1>

  {{
    formPageDateInput(
      {
        fieldName: "sedDate",
        fieldset: {
          legend: {
            text: page.questions.sedDate
          }
        },
        hint: {
          text: "For example, 27 3 2024"
        },
        items: dateFieldValues('sedDate', errors)
      },
      fetchContext()
    )
  }}

  {{
    formPageDateInput(
      {
        fieldName: "ledDate",
        fieldset: {
          legend: {
            text: page.questions.ledDate
          }
        },
        hint: {
          text: "For example, 27 3 2024"
        },
        items: dateFieldValues('ledDate', errors)
      },
      fetchContext()
    )
  }}

  {{
    formPageDateInput(
      {
        fieldName: "pssDate",
        fieldset: {
          legend: {
            text: page.questions.pssDate
          }
        },
        hint: {
          text: "For example, 27 3 2024"
        },
        items: dateFieldValues('pssDate', errors)
      },
      fetchContext()
    )
  }}

{% endblock %}
