{% from "govuk/components/details/macro.njk" import govukDetails %}
{% extends "../layout.njk" %}

{% block questions %}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
    {{ page.title }}
  </h1>

  {{ formPageInput({
        fieldName: "managerName",
        label: {
          text: page.questions.managerName,
          classes: "govuk-label--s"
        }
      },fetchContext()) }}

  {{
    formPageDateInput(
      {
        fieldName: "agreementDate",
        fieldset: {
          legend: {
            text: page.questions.agreementDate,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "For example, 27 3 2007"
        },
        items: dateFieldValues('agreementDate', errors)
      },
      fetchContext()
    )
  }}

  {{ formPageTextarea({
      fieldName: 'agreementSummary',
      label: {
        text: page.questions.agreementSummary,
        classes: "govuk-label--s"
        },
        hint:{
            text:'Tell us why this is an exceptional case'
        }
    }, fetchContext()) }}



{% endblock %}
