{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "../layout.njk" %}

{% block questions %}

  <h1 class="govuk-heading-l">
    {{ page.title }}
  </h1>

  <p>Based on your answers, this person is not normally eligible because they are in tier {{ page.tier  }}</p>

  <p>In exceptional cases, they may still be eligible if this has been agreed with a senior manager.</p>

  <h2 class="govuk-heading-s">Examples of exceptional cases</h2>
  <ol class="govuk-list govuk-list--number">
    <li>They’ve been convicted of sex offences and publicly identified.</li>
    <li>They have a high national media profile.</li>
  </ol>

  {{
    formPageRadios(
      {
        fieldName: "isExceptionalCase",
        fieldset: {
          legend: {
            text: page.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          html: hintHTML
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            text: "No",
            value: "no"
          }
        ]
      },
      fetchContext()
    )
  }}

{% endblock %}
