{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading  %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{page.title}}</h1>

      <p>Based on your answers, this person is not normally eligible because:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>they are in tier {{ page.tier }}</li>
          <li>their exceptional case has not been agreed with a senior manager</li>
       </ul>
      <p>
        <a href="{{ paths.applications.index() }}">Go to dashboard</a>
      </p>
    </div>
  </div>

{% endblock %}
