{% extends "../layout.njk" %}

{% block questions %}

  <h1 class="govuk-heading-l">What is the purpose of the Approved Premises (AP) placement?</h1>

  {% set otherReason %}
  {{
    formPageInput(
      {
        fieldName: "otherReason",
        type: "text",
        label: {
          text: "Please specify"
        }
      },
      fetchContext()
    )
  }}
  {% endset %}

  {{
    formPageCheckboxes(
      {
        fieldName: "placementPurposes",
        hint: {
          text: "Select all that apply."
        },
        items: page.items(otherReason)
      },
      fetchContext()
    )
  }}

{% endblock %}
