{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "../layout.njk" %}

{% block questions %}

  {% if page.title %}
    <h1 class="govuk-heading-l">{{ page.title }}</h1>
  {% endif %}

  {% set conditionalHTML %}
  {{ formPageInput({
        fieldName: "other",
        label: {
          text: "Provide reason"
        }
      },fetchContext()) }}
  {% endset %}

  {{
    formPageRadios(
      {
        fieldName: "reason",
        fieldset: {
          legend: {
            text: page.question,
            classes: "govuk-fieldset__legend--{{ 'm' if page.title else 'l' }}",
            isPageHeading: true
          }
        },
        hint: {
          text: 'This information helps HMPPS to improve this service.'
        },
        items: page.items(conditionalHTML)
      },
      fetchContext()
    )
  }}

{% endblock %}