{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "../layout.njk" %}

{% block questions %}

  {% if page.title %}
    <h1 class="govuk-heading-l">{{ page.title }}</h1>
    {% set legendClasses = "govuk-fieldset__legend--m" %}
    {% set pageHeading = false %}
  {% else %}
    {% set legendClasses = "govuk-fieldset__legend--l" %}
    {% set pageHeading = true %}
  {% endif %}

  {% set conditionalHTML %}
  {{ formPageInput({
        fieldName: "other",
        label: {
          text: "Provide reason"
        }
      },fetchContext()) }}
  {% endset %}

  {{
    formPageRadios(
      {
        fieldName: "reason",
        fieldset: {
          legend: {
            text: page.question,
            classes: legendClasses,
            isPageHeading: pageHeading
          }
        },
        hint: {
          text: 'This information helps HMPPS to improve this service.'
        },
        items: page.items(conditionalHTML)
      },
      fetchContext()
    )
  }}

{% endblock %}