{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% extends "../layout.njk" %}

{% set conditionalHtml %}
  {% set html %}
  <p class="govuk-body">Non-statutory cases managed under MAPPA can be placed in Approved Premises.</p>
  <p class="govuk-body">In a non-statutory case a person's management by the probation service continues after the end of their sentence or licence.</p>
  <p class="govuk-body">If a person is or will be on post-sentence supervision (PSS) they cannot be a non-statutory case.</p>
  {% endset %}

{{ govukNotificationBanner({
        html: html
    }) }}
{% endset -%}

{% block questions %}

  {{
    formPageRadios(
      {
        fieldName: "sentenceType",
        fieldset: {
          legend: {
            text: page.title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
        text: "Select the sentence type that is shown on NDelius"
      },
        items: page.items(conditionalHtml)
      },
      fetchContext()
    )
  }}

{% endblock %}
