{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{% macro navigation(activeTab) %}
  {{
    mojSubNavigation({
      label: 'Sub navigation',
      items: [
        {
          text: 'My Applications',
          href: paths.applications.index({}),
          active: (activeTab === 'myApplications' or activeTab|length === 0)
        },
        {
          text: 'All Applications',
          href: paths.applications.dashboard({}),
          active: (activeTab === 'allApplications')
        }
      ]
    })
  }}
{% endmacro %}
