{% from "components/sortableTable/macro.njk" import sortableTable %}

{% macro applicationsTable(title, rows, id) %}
    {% if rows %}
        {{ sortableTable({
            attributes: { 'data-module': 'moj-sortable-table' },
            caption: title,
            captionClasses: "govuk-table__caption--m",
            firstCellIsHeader: true,
            head: [
                {
                    text: "Person",
                    attributes: { "aria-sort": "none" }
                },
                {
                    text: "CRN",
                    attributes: { "aria-sort": "none" }
                },
                {
                    text: "Tier",
                    attributes: { "aria-sort": "none" }
                },
                {
                    text: "Arrival date",
                    attributes: { "aria-sort": "none" }
                },
                {
                    text: "Started",
                    attributes: { "aria-sort": "ascending" }
                },
                {
                    text: "Status",
                    attributes: { "aria-sort": "none" }
                },
                {
                    text: "Actions"
                }
            ],
            rows: rows
        }, 'table-' + id) }}
    {% endif %}
{% endmacro %}
