{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  {{ govukBackLink({
      text: "Back",
      href: paths.applications.show({ id: application.id })
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-width-container">
      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

      <div class="main-box">
        <div class="box-title govuk-heading-m">
          Person Details
        </div>
        <div class="box-content" data-cy-check-your-answers-section="person-details">
          {{ govukSummaryList({
          rows: ([
            {
              key: {
                text: "Names"
              },
              value: {
                text: application.person.name
              }
            },
            {
              key: {
                text: "CRN"
              },
              value: {
                text: application.person.crn
              }
            },
            {
              key: {
                text: "Date of Birth"
              },
              value: {
                text: formatDate(application.person.dateOfBirth, { format: 'short' })
              }
            },
            {
              key: {
                text: "NOMS Number"
              },
              value: {
                text: application.person.nomsNumber
              }
            },
            {
              key: {
                text: "Nationality"
              },
              value: {
                text: application.person.nationality
              }
            },
            {
              key: {
                text: "Religion or Belief"
              },
              value: {
                text: application.person.religionOrBelief
              }
            },
            {
              key: {
                text: "Sex"
              },
              value: {
                text: application.person.sex
              }
            },
            {
              key: {
                text: "Gender Identity"
              },
              value: {
                text: application.person.genderIdentity
              }
            },
            {
              key: {
                text: "Status"
              },
              value: {
                html: statusTag(application.person.status)
              }
            },
            {
              key: {
                text: "Prison"
              },
              value: {
                text: application.person.prisonName
              }
            }
          ])
        }) }}
        </div>
      </div>

      {% for section in sections %}
        <h2 class="govuk-heading-l">{{ section.title }}</h2>
        {% for task in section.tasks %}
          <div class="main-box">
            <div class="box-title govuk-heading-m">
              {{ task.title }}
            </div>
            <div class="box-content" data-cy-check-your-answers-section="{{ task.id }}">
              {{
                govukSummaryList({
                  rows: responses[task.id]
                })
              }}
            </div>
          </div>
        {% endfor %}
      {% endfor %}

    </div>
  </div>
{% endblock %}
