{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "Application confirmation"
            }) }}

            <h2 class="govuk-heading-m">What happens next</h2>

            <p>We’ve sent your application to the Central Referral Unit (CRU) for Approved Premises (AP) in your
                region.</p>
            <p>The CRU will assess your application within 10 working days.</p>
            <p>If further information is required to assess your application you will receive an email notification.</p>
            <p>You can check the status of your application on you AP applications dashboard.</p>
            <p><a href="{{ feedbackSurveyUrl }}">What did you think of this service?</a> (takes 30 seconds)</p>

            {{ govukButton({
                text: "Back to dashboard",
                href: paths.applications.index(),
                preventDoubleClick: true
            }) }}
        </div>
    </div>


{% endblock %}
