{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "moj/components/badge/macro.njk" import mojBadge %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% from "components/sortableTable/macro.njk" import sortableTable %}

{% from "./_navigation.njk" import navigation %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
    {% include "../_messages.njk" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h1 class="govuk-heading-l">Approved Premises applications</h1>

            {{ navigation('allApplications') }}

            <form action="{{ paths.applications.dashboard({}) }}" method="get" class="search-and-filter">
                <div class="govuk-form-group">
                    <label class="search-and-filter__crn-label" for="crnOrName">
                        Find an application
                    </label>

                    <div id="crn-hint" class="govuk-hint moj-crn__hint ">
                        You can search by CRN or name
                    </div>

                    <input class="govuk-input moj-search__input" id="crnOrName" name="crnOrName" type="search"
                           aria-describedby="crn-hint" value="{{ crnOrName }}">
                </div>

                <h2 class="govuk-heading-m govuk-!-margin-top-4">Filters</h2>

                <div class="search-and-filter__row">
                    {{ govukSelect({
                        label: {
                            text: "Statuses",
                            classes: "govuk-label--s"
                        },
                        id: "status",
                        name: "status",
                        items: ApplyUtils.applicationStatusSelectOptions(status)
                    }) }}

                    {{ govukButton({
                        name: 'submit',
                        text: 'Apply filters',
                        preventDoubleClick: true
                    }) }}
                </div>
            </form>

            {{ sortableTable({
                caption: title,
                captionClasses: "govuk-table__caption--m",
                firstCellIsHeader: true,
                head: ApplyUtils.dashboardTableHeader(sortBy, sortDirection, hrefPrefix),
                rows: ApplyUtils.dashboardTableRows(applications, { linkInProgressApplications: false })
            }) }}

            {{ govukPagination(pagination(pageNumber, totalPages, hrefPrefix)) }}

        </div>
    </div>
{% endblock %}
