{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../partials/layout-with-details.njk" %}
{% from "components/sortableTable/macro.njk" import sortableTable %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: paths.applications.new()
    }) }}
{% endblock %}

{% set detailsHtml %}
    <span>Significant changes can include:</span>
    <ul class="govuk-list govuk-list--bullet">
        <li>a change to MAPPA or risk level</li>
        <li>an order breach - for example, restraining order</li>
        <li>new or increased risks like risk to self</li>
        <li>the person is at risk in the community (being "outed”)</li>
        <li>placement issues like serious incidents</li>
        <li>multiple failed placements (non-arrival, recall or bed withdrawal)</li>
        <li>change to AP placement type or support needs</li>
    </ul>
{% endset %}

{% block content %}
    {% include "../_messages.njk" %}
    <div class="govuk-grid-row">
        <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

        {% if continuePath %}
            <p class="govuk-body">To create an application for this person, select continue with application
                below.</p>
            {{ govukButton({
                text: "Continue with application",
                href: continuePath,
                preventDoubleClick: true
            }) }}
        {% else %}
            <div class="govuk-grid-column-two-thirds">
                <p>You can only have one active application for each person.</p>
                <p>You’ll need to withdraw, expire or create an placement request for the existing applications before
                    you can start a new one.</p>

                <h2 class="govuk-heading-m">When to create a placement request</h2>
                <span>You can create a placement request for an existing application to do one of the following:</span>
                <ul class="govuk-list govuk-list--bullet">
                    <li>provide dates for a ROTL (release on temporary licence) placement or after a parole board
                        hearing
                    </li>
                    <li>ask for an additional placement</li>
                </ul>

                <h2 class="govuk-heading-m">When to withdraw an existing application</h2>
                <span>You must withdraw an existing application if both of the following apply:</span>
                <ul class="govuk-list govuk-list--bullet">
                    <li>there has been a significant change in circumstances</li>
                    <li>the person has not yet moved to an AP</li>
                </ul>

                {{ govukDetails({
                    summaryText: 'Examples of a significant change',
                    html: detailsHtml
                }) }}

                <h2 class="govuk-heading-m">When to expire an existing application</h2>
                <span>You must withdraw an existing application if both of the following apply:</span>
                <ul class="govuk-list govuk-list--bullet">
                    <li>there has been a significant change in circumstances</li>
                    <li>the person has arrived, departed or been marked as a non-arrival</li>
                </ul>
                {{ govukDetails({
                    summaryText: 'Examples of a significant change',
                    html: detailsHtml
                }) }}
                <h2 class="govuk-heading-m">When to continue an application</h2>
                <p>You can continue and complete an unsubmitted application if there has been no significant change in
                    circumstances.</p>
            </div>

            {{ sortableTable({
                attributes: {
                    "data-module": "moj-sortable-table",
                    "data-application-table": "true"
                },
                firstCellIsHeader: false,
                head: applicationsHeader,
                rows: applicationsRows
            }) }}

        {% endif %}
    </div>

    <p class="govuk-body">
        <a href="{{ paths.applications.new() }}">Back to application homepage</a>
    </p>

{% endblock %}
