{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../components/formFields/form-page-input/macro.njk" import formPageInput %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading  %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.applications.people.find() }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ showErrorSummary(errorSummary) }}
        {% if restrictedPerson === 'true' %}

          {% set html %}
          <p class='govuk-body'>You do not have access to this offender as this person is a limited access offender (LAO).</p>
          <p class='govuk-body'>You cannot continue with the application without requesting LAO access.</p>
          <p class='govuk-body'>Please follow <a href="https://equip-portal.equip.service.justice.gov.uk/CtrlWebIsapi.dll/?__id=webDiagram.show&map=0%3AFF2D8D3F16B44268B814F7F8177A16F7&dgm=0CCF9118DFAC43F697E66CE331889D60" target="_blank">the guidance in EQuiP</a> to remove the restriction if this is not correct or to request access.</p>
          {% endset %}

          {{ govukNotificationBanner({ html: html }) }}
        {% endif %}

        {{
          formPageInput(
            {
              label: {
                text: "Enter the person's CRN",
                classes: "govuk-label--l",
                isPageHeading: true
              },
              hint: {
                html: "<p>Enter the CRN for the person needing an AP placement.</p><p>We'll import their details into your application.</p>
                 <p>For example, a CRN is DO16821</p>"
              },
              classes: "govuk-input--width-10",
              fieldName: "crn"
            },
            fetchContext()
          )
        }}

        {{ govukButton({
                    name: 'submit',
                    text: "Save and continue"
                }) }}
      </form>
    </div>
  </div>
{% endblock %}