{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "./partials/_readonly-application.njk" import applicationReadonlyView %}
{% from "./partials/_timeline.njk" import timeline %}
{% from "./partials/_request-a-placement.njk" import requestAPlacement %}
{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-width-container">
      <div class="moj-page-header-actions">
        <div class="moj-page-header-actions__title">
          <span class="govuk-caption-l">{{ pageHeading }}</span>
          <h1 class="govuk-heading-l">
            {{ application.person.name }}
            {% if application.type == 'Offline' %}
              {{
                govukTag({
                  text: "Offline application",
                  classes: "govuk-tag--grey govuk-!-margin-5"
                })
              }}
            {% endif %}
          </h1>
        </div>
      </div>
      {% include "../_messages.njk" %}

      {% if application.assessmentDecision %}
        {% set html %}
        <p class="govuk-body">Application was {{ application.assessmentDecision }} on {{ formatDate(application.assessmentDecisionDate) }}</p>
        <p class="govuk-body">
          <a href="{{paths.assessments.show({id: application.assessmentId})}}" data-cy-assessmentId="{{ application.assessmentId }}">View assessment</a>
        </p>
        {% endset %}

        {{ govukInsetText({
          html: html
        }) }}
      {% endif %}

      {% set subNavClasses = "govuk-grid-column-full" %}

      {% if tab === ApplyUtils.applicationShowPageTabs.application %}
        {% set subNavClasses =  "govuk-grid-column-three-quarters govuk-!-padding-right-0" %}
      {% endif %}

      <div class="{{subNavClasses}}">
        {{ mojSubNavigation({
        items: [{
          text: 'Application',
          href: ApplyUtils.applicationShowPageTab(application.id, ApplyUtils.applicationShowPageTabs.application),
          active: tab === ApplyUtils.applicationShowPageTabs.application
        }, {
          text: 'Timeline',
          href:  ApplyUtils.applicationShowPageTab(application.id, ApplyUtils.applicationShowPageTabs.timeline),
          active: tab === ApplyUtils.applicationShowPageTabs.timeline
        },
        {
          text: 'Placement requests',
          href: ApplyUtils.applicationShowPageTab(application.id, ApplyUtils.applicationShowPageTabs.placementRequests),
          active: tab === ApplyUtils.applicationShowPageTabs.placementRequests
        }
        ]
      }) }}
      </div>

      {% if tab === ApplyUtils.applicationShowPageTabs.application %}
        <div class="govuk-grid-column-one-quarter govuk-!-padding-left-0 govuk-!-padding-right-0">

          {{ mojIdentityBar({
          classes: 'govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-!-margin-top-0 govuk-!-margin-bottom-0',
          menus: [{
            items: [
            {
              text: "Withdraw application",
              href: withdrawalLink,
              classes: "govuk-button--secondary",
              attributes: {
                "data-cy-withdraw-application": application.id
              }
            }
          ]
          }]
        }) }}
        </div>

        {%endif%}

        <div class="govuk-grid-column-full">
          {% if tab === ApplyUtils.applicationShowPageTabs.timeline %}
            {{ timeline(mapTimelineEventsForUi(timelineEvents), application, csrfToken) }}
          {% elif tab === ApplyUtils.applicationShowPageTabs.placementRequests %}
            {{ requestAPlacement(placementApplications, application, user, csrfToken) }}
          {% else %}
            {{ applicationReadonlyView(application) }}
          {% endif %}
        </div>
      </div>
    </div>
  {% endblock %}

  {% block extraScripts %}
    {% if tab === ApplyUtils.applicationShowPageTabs.application %}
      <script type="text/javascript" nonce="{{ cspNonce }}">
        new MOJFrontend.ButtonMenu({container: $('.moj-button-menu'), mq: "(min-width: 200em)", buttonText: "Actions", menuClasses: "moj-button-menu__wrapper--right"});
      </script>
      {%endif%}
    {% endblock %}
