{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "./partials/_readonly-application.njk" import applicationReadonlyView %}
{% from "./partials/_timeline.njk" import timeline %}
{% from "./partials/_request-a-placement.njk" import requestAPlacement %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {% if referrer %}
    {{ govukBackLink({
      text: "Back",
      href: referrer
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-width-container">
      <div class="moj-page-header-actions">
        <div class="moj-page-header-actions__title">
          <span class="govuk-caption-l">{{ pageHeading }}</span>
          <h1 class="govuk-heading-l">
            {{ application.person.name }}
            {% if application.type == 'Offline' %}
              {{
                govukTag({
                  text: "Offline application",
                  classes: "govuk-tag--grey govuk-!-margin-5"
                })
              }}
            {% endif %}
          </h1>
        </div>
      </div>
      {% include "../_messages.njk" %}

      {% if application.assessmentDecision %}
        {% set html %}
        <p class="govuk-body">Application was {{ application.assessmentDecision }} on {{ formatDate(application.assessmentDecisionDate) }}</p>
        <p class="govuk-body">
          <a href="{{paths.assessments.show({id: application.assessmentId})}}" data-cy-assessmentId="{{ application.assessmentId }}">View assessment</a>
        </p>
        {% endset %}

        {{ govukInsetText({
          html: html
        }) }}
      {% endif %}

      {{ mojSubNavigation({
        items: [{
          text: 'Application',
          href: paths.applications.show({id: application.id}) + '?tab=application',
          active: tab === 'application'
        }, {
          text: 'Timeline',
          href:  paths.applications.show({id: application.id}) + '?tab=timeline',
          active: tab === 'timeline'
        },
        {
          text: 'Placement requests',
          href: paths.applications.show({id: application.id}) + '?tab=placementRequests',
          active: tab === 'placementRequests'
        }]
      }) }}

      {% if tab === 'timeline' %}
        {{ timeline(mapTimelineEventsForUi(timelineEvents)) }}
      {% elif tab === 'placementRequests'%}
        {{ requestAPlacement(placementApplications, application, user, csrfToken) }}
      {% else %}
        {{ applicationReadonlyView(application) }}
      {% endif %}

    </div>
  </div>
{% endblock %}
