{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading  %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ govukBackLink({
		text: "Back",
		href: paths.applications.index()
	}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.applications.new() }}" method="get">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <h1>{{ pageHeading }}</h1>

        <p class="govuk-body">Use this service to apply for a placement in an Approved Premises (AP) on behalf of a person on probation.</p>

        <p class="govuk-!-font-weight-bold">This service is currently only available for applications to Male Approved Premises. Applications for females must continue to be made in nDelius until further notice.</p>

        <p class="govuk-body">Approved Premises support the risk management of individuals who pose a very high / high risk of serious harm and have complex needs. When applying for an Approved Premises placement you must identify how the placement will contribute to risk management.</p>

        <p class="govuk-body">Applications for Approved Premises should not be made primarily for accommodation need. Alternatives should be considered such as CAS2 / CAS3 where this is the case.</p>

        <p class="govuk-body">If a person is leaving prison, you should aim to complete your application 6 months before they are released, unless there are exceptional reasons such as a short sentence or a change in risk or other circumstances.</p>

        <p class="govuk-body">You can leave and return to your application at any time. Your progress will be saved.</p>


        <h2>Before you start</h2>

        <h3>You need:</h3>

        <ul>
          <li>the person's CRN </li>
          <li>an up to date OASys assessment completed within the last 6 months - this is required in order for the service to import OASys information</li>
        </ul>

        <h3>You need to know:</h3>

        <ul>
          <li>
            <a href="https://equip-portal.equip.service.justice.gov.uk/CtrlWebIsapi.dll?__id=webMyTopics.searchOne&k=8722">eligibility requirements</a> - you'll need to demonstrate why an AP is necessary over other interventions and accommodation options</li>
          <li>factors impacting which location, type of AP, and type of room will be suitable</li>
          <li>how you'll prepare for move on after the AP</li>
        </ul>

        {{ govukWarningText({
          html: "<p class='govuk-!-font-weight-bold'>The person's OASys record must be updated before starting an application.</p><p class='govuk-!-font-weight-bold'>If you start an application and then update the OASys record, any changes will not be imported. You will need to restart the application from the beginning for the changes to be imported.</p>",
          iconFallbackText: "Warning"
        }) }}



        {{ govukButton({
            text: "Start now",
            isStartButton: true,
            preventDoubleClick: true
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
