{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% extends "./start.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading  %}
{% set mainClasses = "app-container govuk-body" %}

{% block introContent %}
        <p class="govuk-body">Use this service to apply for a placement in an Approved Premises (AP) on behalf of a person on probation.</p>

        <p class="govuk-!-font-weight-bold">This service is currently only available for applications to Male Approved Premises. Applications for females must continue to be made in nDelius until further notice.</p>

        <p class="govuk-body">Approved Premises support the risk management of individuals who pose a very high / high risk of serious harm and have complex needs. When applying for an Approved Premises placement you must identify how the placement will contribute to risk management.</p>

        <p class="govuk-body">Applications for Approved Premises should not be made primarily for accommodation need. Alternatives should be considered such as CAS2 / CAS3 where this is the case.</p>

        <p class="govuk-body">If a person is leaving prison, you should aim to complete your application 6 months before they are released, unless there are exceptional reasons such as a short sentence or a change in risk or other circumstances.</p>

        <p class="govuk-body">You can leave and return to your application at any time. Your progress will be saved.</p>

{% endblock %}

