{% from "../../partials/personDetails.njk" import personDetails %}
{% from "../../partials/documentSections.njk" import documentSections %}

{% macro applicationReadonlyView(application) %}

    {% if application.status === 'withdrawn' %}
        {% set sections = SummaryListUtils.summaryListSections(application, false) %}
    {% else %}
        {% set sections = getDocumentSections(application) %}
    {% endif %}

    {{ personDetails(application.person, statusOnSubmission = application.personStatusOnSubmission) }}

    {% if application.type !== 'Offline' %}
        {{ documentSections(sections) }}
    {% endif %}

{% endmacro %}
