{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../../partials/personDetails.njk" import personDetails %}

{% macro applicationReadonlyView(application) %}

  {% if application.status === 'withdrawn' %}
    {% set sections = SummaryListUtils.summaryListSections(application, false) %}
  {%else%}
    {% set sections = getSummaryCardsForApplication(application) %}
  {%endif%}

    {{ personDetails(application.person, statusOnSubmission = application.personStatusOnSubmission) }}

    {% if application.type !== 'Offline' %}
      {% for section in sections %}
        <h2 class="govuk-heading-l">{{ section.title }}</h2>
        {% for task in section.tasks %}
          {{
              govukSummaryList(task)
            }}
        {% endfor %}
      {% endfor %}
    {% endif %}

  {% endmacro %}
