{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro requestAPlacement(application, user, csrfToken) %}
    <div class="moj-page-header-actions__actions">
        <div class="moj-button-menu">
            <div class="moj-button-menu__wrapper">
                {% if application.createdByUserId === user.id and application.assessmentDecision === 'accepted' %}
                    <form action="{{paths.placementApplications.create({}) }}" method="post">
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                        <input type="hidden" name="applicationId" value="{{ application.id }}"/>
                        {{ govukButton({
                    text: "Create placement request"
                  }) }}
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    {%endmacro%}
