{%- from "moj/components/timeline/macro.njk" import mojTimeline -%}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../partials/_applicationTimeline.njk" import applicationTimeline %}
{% macro timeline(timelineEvents, application, csrfToken) %}

    <form action="{{ paths.applications.notes.new({id: application.id}) }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{ govukTextarea({
            name: "note",
            id: "note",
            label: {
                text: "Add a note to the application",
                classes: "govuk-label--m"
            }
        }) }}

        {{ govukButton({
            text: "Add note",
            preventDoubleClick: true
        }) }}
    </form>

    <h2 class="govuk-heading-m">Application history</h2>

    {{ applicationTimeline(timelineEvents) }}

{% endmacro %}
