{% extends "../layout.njk" %}

{% block questions %}

  <h1 class="govuk-heading-l">{{ page.title }}</h1>

  {{
    formPageCheckboxes(
      {
        fieldName: "secretingHistory",
        fieldset: {
          legend: {
            text: page.questions.secretingHistory,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: page.secretingHistoryItems()
      },
      fetchContext()
    )
  }}

  {% set yesDetails %}
  {{
    formPageTextarea(
      {
        fieldName: "secretingIntelligenceDetails",
        type: "textarea",
        label: {
          text: page.questions.secretingIntelligenceDetails
        }
      },
      fetchContext()
    )
  }}
  {% endset -%}

  {{
    formPageRadios(
      {
        fieldName: "secretingIntelligence",
        hint: {
          text: "For example, DOS, JEXU or NSD."
        },
        fieldset: {
          legend: {
            text: page.questions.secretingIntelligence,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: yesDetails
            }
          },
          {
            text: "No",
            value: "no"
          }
        ]
      },
      fetchContext()
    )
  }}

  {{
    formPageTextarea(
      {
        fieldName: "secretingNotes",
        label: {
          text: page.questions.secretingNotes,
          classes: "govuk-label--m"
        }
      },
      fetchContext()
    )
  }}

{% endblock %}
