{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "../layout.njk" %}

{% block questions %}

  <h1 class="govuk-heading-l">{{ page.title }}</h1>

  {{ govukCheckboxes({
      name: "secretingHistory",
      errorMessage: errors.secretingHistory,
      fieldset: {
        legend: {
          text: page.questions.secretingHistory,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: page.secretingHistoryItems()
    }) }}

  {% set yesDetails %}
  {{
    applyTextarea(
      {
        fieldName: "secretingIntelligenceDetails",
        type: "textarea",
        spellcheck: false,
        label: {
          text: page.questions.secretingIntelligenceDetails
        }
      },
      fetchContext()
    )
  }}
  {% endset -%}
      {
        text: "No",
        value: "no",
        checked: secretingIntelligence == 'no'
      }
    ]
    }) }}

  <h2 class="govuk-heading-s">{{ page.questions.secretingNotes }}</h2>

  {{
    applyTextarea(
      {
        fieldName: "secretingNotes"
      },
      fetchContext()
    )
  }}

{% endblock %}
