{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "../layout.njk" %}

{% block questions %}

  {{
    formPageRadios(
      {
        fieldName: "pipeReferral",
        fieldset: {
          legend: {
            text: page.title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            text: "No",
            value: "no"
          }
        ]
      },
      fetchContext()
    )
  }}

  {{
    formPageTextarea({
        label: {
         html: '<h2 class="govuk-heading-s">Provide any additional detail about why the person needs a PIPE placement.</h2>'
      },
      hint: {
        text: 'Please ensure a copy of the consultation or formulation notes are attached when uploading documents as part of your application.'
      }
    })
  }}

{% endblock %}
