{% extends "../layout.njk" %}

{% block questions %}

  {% set opdPathwayDateHTML %}
  {{
    formPageDateInput(
        {
          fieldName: "opdPathwayDate",
          fieldset: {
            legend: {
              text: page.questions.opdPathwayDate
            }
          },
          hint: {
            text: "For example, 27 3 2007"
          },
          items: dateFieldValues('opdPathwayDate', errors)
        },
        fetchContext()
      )
  }}
  {% endset -%}

  {{
    formPageRadios(
      {
        fieldName: "opdPathway",
        fieldset: {
          legend: {
            text: page.title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: opdPathwayDateHTML
            }
          },
          {
            text: "No",
            value: "no"
          }
        ]
      },
      fetchContext()
    )
  }}

{% endblock %}
