{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "../layout.njk" %}

{% block questions %}

  {{
    formPageRadios(
      {
        fieldName: "pipeReferral",
        fieldset: {
          legend: {
            text: page.title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            text: "No",
            value: "no"
          }
        ]
      },
      fetchContext()
    )
  }}

  {{
    formPageTextarea(
      {
        fieldName: "pipeReferralMoreDetail",
        label: {
          text: page.questions.pipeReferralMoreDetail
        }
      },
      fetchContext()
    )
  }}

{% endblock %}
