{% macro applicationTimeline(timelineEvents) %}
    <div class="moj-timeline">
        {% for event in timelineEvents %}
            <div class="moj-timeline__item">

                <div class="moj-timeline__header">
                    <h3 class="moj-timeline__title">{{event.label.text}}</h3>
                    {% if event.createdBy %}
                        <p class="moj-timeline__byline">by {{event.createdBy}}</p>
                        {%endif%}
                    </div>

                    <p class="moj-timeline__date">
                        <time datetime="{{event.datetime.timestamp}}">{{event.datetime.date}}</time>
                    </p>

                    {% if event.content %}
                        <div class="moj-timeline__description">
                            {{ event.content | linebreaksToParagraphs | safe }}
                        </div>
                        {%endif%}
                        {% if event.associatedUrls %}
                            {% for associatedUrl in event.associatedUrls %}
                                <div class="moj-timeline__description">
                                    <ul class="govuk-list govuk-list--bullet">
                                        <li>
                                            <a class="govuk-link" href="{{associatedUrl.url}}">View {{associatedUrl.type}}</a>
                                        </li>
                                    </ul>
                                </div>
                            {% endfor %}
                            {%endif%}
                        </div>
                    {% endfor %}
                </div>
                {%endmacro%}
