{% macro occupancyCalendar(calendar) %}
    <div class="calendar">
        {% for month in calendar %}
            <section>
                <h3 class="govuk-heading-m">{{ month.name }}</h3>

                <ul class="calendar__month govuk-list">
                    {% for day in month.days %}

                        {% set tagColour = 'govuk-tag--green' %}
                        {% if day.status !== 'available' %}
                            {% set tagColour = 'govuk-tag--yellow' if day.status in ['availableForCriteria','full'] else 'govuk-tag--red' %}
                        {% endif %}

                        <li class="calendar__day calendar__day--{{ day.name.slice(0,3) | lower }} {{ tagColour }}">
                            <a class="calendar__link" {% if day.link %}href="{{ day.link }}"{% endif %}>
                                <time class="calendar__date" datetime="{{ day.date }}">{{ day.name }}</time>

                                <dl class="calendar__availability">
                                    <dt class="govuk-visually-hidden">Availability:</dt>
                                    {% block dayContent %}
                                    {% endblock %}
                                </dl>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endfor %}
    </div>
{% endmacro %}
