{% from "govuk/components/details/macro.njk" import govukDetails %}

{% if previewText %}
  <p class="govuk-body govuk-body__text-block">{{ previewText }}</p>
{% endif %}

{{ govukDetails({
    summaryText: summaryText,
    html: text | linebreaksToParagraphs
}) }}