{%- from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}

{% macro personDetails(person) %}
  {{ govukSummaryList({
      card: {
        title: {
          text: "Person Details",
          headingLevel: "3"
        },
        attributes: {
          'data-cy-section': "person-details"
        }
      },
      rows: ([
        {
          key: {
            text: "Name"
          },
          value: {
            text: person.name
          }
        },
        {
          key: {
            text: "CRN"
          },
          value: {
            text: person.crn
          }
        },
        {
          key: {
            text: "Date of Birth"
          },
          value: {
            text: formatDate(person.dateOfBirth, { format: 'short' })
          }
        },
        {
          key: {
            text: "NOMS Number"
          },
          value: {
            text: person.nomsNumber
          }
        },
        {
          key: {
            text: "Nationality"
          },
          value: {
            text: person.nationality
          }
        },
        {
          key: {
            text: "Religion or Belief"
          },
          value: {
            text: person.religionOrBelief
          }
        },
        {
          key: {
            text: "Sex"
          },
          value: {
            text: person.sex
          }
        },
        {
          key: {
            text: "Gender Identity"
          },
          value: {
            text: person.genderIdentity
          }
        },
        {
          key: {
            text: "Status"
          },
          value: {
            html: statusTag(person.status)
          }
        },
        {
          key: {
            text: "Prison"
          },
          value: {
            text: person.prisonName
          }
        }
      ] | removeBlankSummaryListItems)
  }) }}
{% endmacro %}
