{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{% macro prisonInformationTable(caseNotes, adjudications, acctAlerts) %}

    {{ mojSubNavigation({
                label: 'Sub navigation',
                items: [{
                    text: 'Prison case notes',
                    href: '#caseNotes',
                    attributes: {
                        'aria-controls': 'caseNotes',
                        'id': 'caseNotesTab',
                        'aria-selected': true
                    }
                },
                {
                    text: 'Adjudications',
                    href: '#adjudications',
                    attributes: {
                        'aria-controls': 'adjudications',
                        'id': 'adjudicationsTab'
                    }
                },
                {
                    text: 'ACCT',
                    href: '#acct',
                    attributes: {
                        'aria-controls': 'acct',
                        'id': 'acctTab'
                    }
                }]
            }) }}

    <div class="govuk-column-full-width" id="caseNotes" role="tabpanel" aria-labelledby="caseNotesTab" hidden>
        {{caseNotes | safe}}
    </div>

    <div class="govuk-column-full-width" id="adjudications" role="tabpanel" aria-labelledby="adjudicationsTab" hidden>
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Adjudications</caption>

            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Adjudication number</th>
                    <th scope="col" class="govuk-table__header">Report date and time</th>
                    <th scope="col" class="govuk-table__header">Establishment</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Offence description	</th>
                    <th scope="col" class="govuk-table__header">Finding</th>
                </tr>
            </thead>

            <tbody class="govuk-table__body">
                {% for adjudication in adjudications %}
                    <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell">{{ adjudication.id }}</td>
                        <td scope="row" class="govuk-table__cell">{{ formatDateTime(adjudication.reportedAt) }}</td>
                        <td scope="row" class="govuk-table__cell">{{ adjudication.establishment }}</td>
                        <td scope="row" class="govuk-table__cell">{{ adjudication.offenceDescription }}</td>
                        <td scope="row" class="govuk-table__cell">{{ adjudication.finding | sentenceCase }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="govuk-column-full-width" id="acct" role="tabpanel" aria-labelledby="acctTab" hidden>
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">ACCT</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" style="width:100px;">Alert type</th>
                    <th scope="col" class="govuk-table__header">ACCT description</th>
                    <th scope="col" class="govuk-table__header">Date created</th>
                    <th scope="col" class="govuk-table__header">Expiry date</th>
                </tr>
            </thead>

            <tbody class="govuk-table__body">
                {% for alert in acctAlerts %}
                    <tr class="govuk-table__row">
                        <td scope="row" class="govuk-table__cell">{{ alert.alertId }}</td>
                        <td scope="row" class="govuk-table__cell">{{ alert.comment }}</td>
                        <td scope="row" class="govuk-table__cell">{{ formatDate(alert.dateCreated) }}</td>
                        <td scope="row" class="govuk-table__cell">{{ formatDate(alert.dateExpires) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% block extraScripts %}
        <script type="text/javascript" nonce="{{ cspNonce }}" src="../../../../../assets/tabPanelTableScript.js"></script>
    {% endblock %}

    {% endmacro%}
