{% macro summaryCard(params) %}
{# A card component, heavily based on the card that can surround a GDS summary list
    params: {
        title:  {
            text/html,
            classes,
            headingLevel (2)
        },
        actions:{
            classes,
            items:[{
                href,
                text/html,
                visuallyHiddenText
            },...]
        },
        html
    }
#}
    {%- set headingLevel = params.title.headingLevel if params.title.headingLevel else 2 -%}

    {%- macro _actionLink(action, cardTitle) %}
        <a class="govuk-link {%- if action.classes %} {{ action.classes }}{% endif %}" href="{{ action.href }}">
            {{- action.html | safe | indent(4) if action.html else action.text -}}
            {%- if action.visuallyHiddenText -%}
                <span class="govuk-visually-hidden">{{ action.visuallyHiddenText }}</span>
            {%- endif -%}
        </a>
    {% endmacro -%}

    <div class="govuk-summary-card govuk-summary-card--with-status {%- if params.classes %} {{ params.classes }}{% endif %}">
        <div class="govuk-summary-card__title-wrapper">
            <div class="govuk-summary-card__title-container">
                {% if params.title %}
                    <h{{ headingLevel }}
                            class="govuk-summary-card__title {%- if params.title.classes %} {{ params.title.classes }}{% endif %}">
                        {{ params.title.html | safe | trim | indent(6) if params.title.html else params.title.text }}
                    </h{{ headingLevel }}>
                {% endif %}
                {% if params.status %}
                    <div class="govuk-summary-card__status govuk-!-margin-left-5">
                        {{ params.status | safe }}
                    </div>
                {% endif %}
            </div>
            {% if params.actions.items.length %}
                {% if params.actions.items.length == 1 %}
                    <div class="govuk-summary-card__actions {%- if params.actions.classes %} {{ params.actions.classes }}{% endif %}">
                        {{ _actionLink(params.actions.items[0], params.title) | trim | indent(4) }}
                    </div>
                {% else %}
                    <ul class="govuk-summary-card__actions {%- if params.actions.classes %} {{ params.actions.classes }}{% endif %}">
                        {% for action in params.actions.items %}
                            <li class="govuk-summary-card__action">
                                {{ _actionLink(action, params.title) | trim | indent(8) }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
        </div>
        <div class="govuk-summary-card__content">
            {{ params.html | safe }}
        </div>
    </div>
{% endmacro %}
