<div class="govuk-grid-row whats-new-top-banner" id="whats-new-top-banner" data-banner-version="february-2026">
    <div class="govuk-grid-column-full">
        <div class="govuk-width-container govuk-body whats-new-top-container">
            <div class="whats-new-top-content">
                <strong class="whats-new-top-whats-new">New features</strong>
                <span>
                    We're updating the service all the time, <a class="govuk-link govuk-link--inverse" href="/whats-new">find out more on the What's new page.</a>
                </span>
            </div>
            <a id="hide-message" class="whats-new-top-hide-message govuk-link govuk-link--inverse" href="#" aria-current="page">Hide message</a>
        </div>
    </div>
</div>

