{% from "../../../components/formFields/form-page-input/macro.njk" import formPageInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "../../../partials/layout.njk" %}

{% macro fieldset(index, includeButton = false) %}
  {%
    call govukFieldset({
      classes: "govuk-fieldset moj-add-another__item",
      legend: {
        text: "Partner Agency " + (
        index + 1),
        classes: "govuk-fieldset__legend moj-add-another__title govuk-fieldset__legend--m"
      }
    })
  %}
  {% for id, label in page.fields %}
    {% set type = "text" %}
    {% set inputMode = 'text' %}
    {% set value = page.body[index] %}
    {% set fieldName = "partnerAgencyDetails[" + index + "][" + id + "]" %}
    {% set fieldId = "partnerAgencyDetails_" + index + "_" + id %}
    {% set context = fetchContext() %}

    {% if id == "phoneNumber" %}
      {% set type = "number" %}
      {% set inputMode = 'numeric'%}
    {% endif %}

    {{
      govukInput({
        label: {
          text: label
        },
        id: fieldId,
        name: fieldName,
        type: type,
        inputMode: inputMode,
        errorMessage: errors[fieldId],
        value: context.partnerAgencyDetails[index][id]
      })
    }}
  {% endfor %}
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  {% if includeButton %}
    {{ addButton() }}
  {% endif %}
  {% endcall %}
{% endmacro %}

{% macro addButton() %}
  {{
    govukButton({
      text: "Remove",
      attributes: {
        "data-remove-agency": "true"
      },
      classes: "govuk-button govuk-button--secondary moj-add-another__remove-button",
      preventDoubleClick: true
    })
  }}
{% endmacro %}

{% set pageTitle = applicationName + " - " + page.title %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: paths.applications.pages.show({ id: applicationId, task: task, page: page.previous() })
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.applications.pages.update({ id: applicationId, task: task, page: page.name }) }}?_method=PUT" method="post">
        {% if errorSummary | length %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorSummary
          }) }}
        {% endif %}

        <h1 class="govuk-heading-l">{{page.title}}</h1>
        <p class="govuk-hint">In this screen you will need to identify partners who will play a role in contingency plans, particularly out of hours. </p>
        <p class="govuk-hint">Complete the required fields and provide a clear indication of that agency / persons role in contingency arrangements.If there is more than one agency involved, click 'add another agency' and repeat the steps. </p>
        <p class="govuk-hint">When all partner agencies and their role has been provided, click 'Save and continue' </p>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        <div id="fieldset-wrapper">
          {% for i in range(0, 5) -%}
            {{ fieldset(i) }}
          {% endfor %}
        </div>

        {{
          govukButton({
            text: "Add another agency",
            attributes: {
              "data-add-agency": "true"
            },
            classes: "govuk-button--secondary",
            preventDoubleClick: true
          })
        }}

        {{
          govukButton({
            text: "Save and continue",
            preventDoubleClick: true
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}

{% block extraScripts %}
  <script type="text/javascript" nonce="{{ cspNonce }}">
    function initializeAddButton() {
      var addButton = document.querySelector('button[data-add-agency]');

      addButton.addEventListener("click", (event) => {
        var fieldsets = document.querySelectorAll('fieldset')
        var hiddenFieldsets = document.querySelectorAll('fieldset[class*="govuk-visually-hidden"]');

        if (hiddenFieldsets.length) {
          hiddenFieldsets[0]
            .classList
            .remove("govuk-visually-hidden");
        } else {
          var fieldsetWrapper = document.querySelector('#fieldset-wrapper')
          var newFieldset = `{{ fieldset("INDEX", true) }}`
            .replace('INDEX1', fieldsets.length)
            .replaceAll('INDEX', fieldsets.length - 1)
          fieldsetWrapper.innerHTML += newFieldset;

          var removeButtons = fieldsetWrapper.querySelectorAll('button[data-remove-agency]');
          initializeRemoveButtons(removeButtons);
        }

        event.preventDefault();
      })
    }

    function initializeRemoveButtons(buttons) {
      for (let i = 0; i < buttons.length; i++) {

        buttons[i].addEventListener("click", (event) => {
          var fieldset = event.target.parentElement;
          var inputs = fieldset.querySelectorAll('input');

          fieldset
            .classList
            .add('govuk-visually-hidden');

          for (var i = 0; i < inputs.length; i++) {
            inputs[i].value = '';
          }

          event.preventDefault();
        })
      }
    }

    function initializeFieldsets() {
      var fieldsets = document.querySelectorAll('fieldset')

      for (let i = 1; i < fieldsets.length; i++) {
        var complete = false;
        {% for id, label in page.fields %}
          var {{ id }} = fieldsets[i].querySelector('input[name="partnerAgencyDetails[' + i + '][{{ id }}]"]');
          if ({{ id }}.value.length > 0) {
            complete = true;
          }
        {% endfor %}
        if (complete === false) {
          fieldsets[i]
            .classList
            .add('govuk-visually-hidden');
        }
        fieldsets[i].innerHTML += `{{ addButton() }}`
      }

      var removeButtons = document.querySelectorAll('button[data-remove-agency]');

      initializeAddButton();
      initializeRemoveButtons(removeButtons);
    }

    initializeFieldsets();
  </script>
{% endblock %}
