{% extends "../layout.njk" %}

{% block questions %}

    <h1 class="govuk-heading-l">
        {{ page.title }}
    </h1>

    <p class="govuk-hint">You will be asked a series of questions to help inform what actions AP staff should take in the event of behaviour concerns or non compliance out of hours. The questions have short on screen guidance available.  </p>

    {% if page.contingencyPlanPartnerNames.length > 0%}
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Partner agencies added to application</h2>
        <dl class="govuk-summary-list">
            {% for contingencyPlanPartnerName in page.contingencyPlanPartnerNames %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Partner agency
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{contingencyPlanPartnerName}}
                    </dd>

                </div>
            {% endfor %}
        </dl>

    {% endif %}

    {% for questionId, question in page.questions %}
        {% if question.hint %}
            {{formPageTextarea({
                fieldName: questionId,
                label:{
                    text:  question.question,
                    classes: 'govuk-label--m'
                },
                hint: {
                    text: question.hint
                }
            }, fetchContext())
            }}
        {% else %}
            {{formPageTextarea({
                fieldName: questionId,
                label:{
                    text:  question.question,
                    classes: 'govuk-label--m'
                }
            }, fetchContext())
            }}
            {%endif%}
        {% endfor %}
    {% endblock %}
