{% extends "../layout.njk" %}

{% block questions %}

  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l"> Further placement considerations</span>
    {{ page.title }}
  </h1>

  <p>This information is used to match a person with a suitable room in a suitable premises.</p>


    {% set yesDetails %}
    {{
      formPageTextarea(
        {
          fieldName: "previousPlacementDetail",
          type: "textarea",
          label: {
            text: "Summarise the person's response to the AP placement. Include whether the person successfully completed their placement, or if they were recalled."
          }
        },
        fetchContext()
      )
    }}
    {% endset -%}

    {{
      formPageRadios({
        fieldName: "previousPlacement",
        fieldset: {
          legend: {
            text: page.questions.previousPlacement,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: page.hints.previousPlacements,
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: yesDetails
            }
          },
          {
            value: "no",
            text: "No"
          },
          {
            value: "iDontKnow",
            text: "I don't know"
          }
        ]
      },
      fetchContext()
      )
    }}
      

{% endblock %}
