{% extends "../layout.njk" %}

{% block questions %}

  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">{{ page.title }}</span>
    Further placement considerations
  </h1>

  <p>This information is used to match a person with a suitable room in a suitable premises.</p>

  {% for key, value in page.questions %}
    {% include "./../../partials/_yes-no-dont-know-with-detail.njk" %}
  {% endfor %}

{% endblock %}
