{% extends "../layout.njk" %}

{% block questions %}

  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">Further placement considerations</span>
    {{ page.title }}
  </h1>

  {{ govukDetails({
      summaryText: "What is an RFAP?",
      html: '<p class="govuk-body">RFAP provide concentrated support for prison leavers who have begun to address their substance misuse in custody.</p>
   <p class="govuk-body">RFAP work closely with key recovery partners and organisations within the local community to offer people on probation the best level of support available.</p>
   <p class="govuk-body">RFAP staff will be trained as recovery coaches and take a personalised approach to rehabilitation, including committing a minimum of 10 hours to each individual to work on a recovery plan tailored to their needs.</p>'
    }) }}

  {{ formPageRadios({
      fieldName: "needARfap",
      fieldset: {
        legend: {
          classes: "govuk-fieldset__legend--m",
          html: '<h2 class="govuk-heading-m">Does this person need a RFAP?</h2>
                 <p class="govuk-body">You will be asked to provide details on whether:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>the person has been living in an incentivised substance free living (ISFL) area in custody</li>
                        <li>the person has engaged with the DART team in custody</li>
                        <li>the person is willing to comply with the RFAP regime</li>
                    </ul>
                    <p class="govuk-body">These are not requirements for a placement in a RFAP. But the information will be used to help place someone in a suitable AP.</p>'
        }
        },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }, fetchContext()) }}

{% endblock %}
