{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "../../layout-with-details.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLink
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

            <h2 class="govuk-heading-m">{{ formatDate(date) }}</h2>

            {% if status === 'available' %}
                <p>The space you require is available.</p>
            {% endif %}
            {% if status === 'availableForCriteria' %}
                <p>This AP is full or overbooked, but the space you require is available as it is occupied by someone
                    who does not need it.</p>
            {% endif %}
            {% if status === 'overbooked' %}
                <p>This AP is full or overbooked. The space you require is not available.</p>
            {% endif %}

            {{ govukSummaryList({
                classes: 'govuk-summary-list--swap-bolding',
                rows: availabilitySummaryListItems
            }) }}

        </div>
    </div>
{% endblock %}
