{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "./partials/_occupancyCalendar.njk" import occupancyCalendar %}

{% extends "../../layout-with-details.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back to other APs",
        href: paths.v2Match.placementRequests.search.spaces({ id: placementRequest.id })
    }) }}
{% endblock %}

{% block extraScripts %}
    {# TODO: useful for debugging, remove once page complete! #}
    <script type="text/javascript" nonce="{{ cspNonce }}">
      console.log(JSON.parse('{{ calendar | dump | safe }}'))
    </script>
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

    {% set detailsHTML %}
        {{ govukSummaryList({
            rows: matchingDetailsSummaryList
        }) }}
    {% endset %}

    {{ govukDetails({
        summaryText: "Matching details",
        open: true,
        html: detailsHTML
    }) }}

    <section>
        <h2 class="govuk-heading-l">View availability and book your placement
            for {{ formatDuration(durationDays) }}
            from {{ formatDate(startDate, { format: 'short' }) }}</h2>

        {{ govukNotificationBanner({
            html: occupancySummaryHtml,
            classes: 'govuk-notification-banner--full-width-content'
        }) }}

        {{ occupancyCalendar(calendar) }}
    </section>

    <section>
        <h2 class="govuk-heading-l">Book your placement</h2>

        <a class="govuk-button"
           href="{{ MatchUtils.redirectToSpaceBookingsNew({placementRequestId: placementRequest.id, premisesName: premisesName, premisesId: premisesId, apType: apType, startDate: startDate, durationDays: durationDays }) }}">
            Continue
        </a>
    </section>
{% endblock %}
