{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% extends "../../layout-with-details.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back to other APs",
        href: paths.v2Match.placementRequests.search.spaces({ id: placementRequest.id })
    }) }}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

    {% set detailsHTML %}
        {{ govukSummaryList({
            rows: matchingDetailsSummaryList
        }) }}
    {% endset %}

    {{ govukDetails({
        summaryText: "Matching details",
        open: true,
        html: detailsHTML
    }) }}

    {{ govukNotificationBanner({
        html: occupancySummaryHtml,
        classes: 'govuk-notification-banner--full-width-content'
    }) }}

    <h1 class="govuk-heading-l">Book your placement</h1>
    <form action="{{ paths.v2Match.placementRequests.spaceBookings.viewSpaces.bookSpace({ id: placementRequest.id }) }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <input type="hidden" name="premisesId" value="{{ premisesId }}" />
        <input type="hidden" name="premisesName" value="{{ premisesName }}" />
        <input type="hidden" name="apType" value="{{ apType }}" />
        <input type="hidden" name="startDate" value="{{ startDate }}" />
        <input type="hidden" name="durationDays" value="{{ durationDays }}" />

        {{ govukDateInput({
            id: "arrivalDate",
            namePrefix: "arrivalDate",
            fieldset: {
                legend: {
                    text: "Arrival date",
                    classes: "govuk-fieldset__legend--s"
                }
            },
            hint: {
                text: "For example, 17 5 2024"
            },
            items: dateFieldValues('arrivalDate', errors),
            errorMessage: errors.arrivalDate
        }) }}

        {{ govukDateInput({
            id: "departureDate",
            namePrefix: "departureDate",
            fieldset: {
                legend: {
                    text: "Departure date",
                    classes: "govuk-fieldset__legend--s"
                }
            },
            hint: {
                text: "For example, 17 5 2024"
            },
            items: dateFieldValues('departureDate', errors),
            errorMessage: errors.departureDate
        }) }}

        {{ govukButton({
            text: "Continue",
            preventDoubleClick: true
        }) }}
    </form>
{% endblock %}
