<p>Consider the location of any victims, local associations, and/or exclusion zones which may affect placement.</p>
<p>Provide details of areas or locations which may be unsuitable.</p>
<p>Considerations regarding location may include:</br>
</p>
<ul>
<li>Licence conditions or other orders which prevent contact or overnight leave</li>
<li>Other orders such as restraining orders or sexual harm prevention orders (SHPOs) which may provide additional exclusion zones or location restrictions, such as distance from schools or playgrounds.</li>
<li>Risk to children</li>
<li>Any permitted family contact</li>
<li>Domestic abuse situations where the person is still in a relationship with a victim, in a new relationship, or where their ex-partner is located.</li>
<li>Co-defendants, serious and organised crime (SOC), or gang links that could impact the placement</li>
<li>Whether placing the person in an alternative area would disrupt a pattern of offending or associations with criminal peers</li>
<li>If there are partner agency factors to take into account when placing. For example joint agency management such as MAPPA or the police</li>
<li>Media and local community reactions which may affect placement</li>
</ul>
<p>
<strong>Positive factors</strong>
</p>
<p>Identify if there are positive factors such as support from family, friends, other agencies and/or employment that would make placement in a specific area beneficial to the person.</p>
