<p>At a minimum the application should contain a description of the intended actions the probation practitioner will undertake to support a timely move on. For example, applications to local housing providers which can be followed up in the initial 3-way within 5 working days of arrival.</p>
<p>There is no requirement for a confirmed move on plan or address to be supplied as some accommodation providers will not allow applications to be made this far in advance.</p>
<p>
    <strong>Foreign nationals</strong>
</p>
<p>Foreign nationals without recourse to public funds or employment may be dependent on Home Office provided accommodation for move on. These circumstances will be addressed post release.  However, there should be evidence that the applicant has made contact with the Foreign National Offender Returns Command (FNORC) case worker to have an early discussion regarding move on options.</p>
<p>
    <strong>Move on date</strong>
</p>
<p>Consider whether the duration of placement identified in the application is sufficient to address the risk.</p>
