<p>Consider:</p>
<ul>
    <li> If there is an immediate risk of harm which an AP placement can support in managing</li>
    <li>
        <p> Whether an AP placement would still be necessary if alternative accommodation was available. AP placements are not solely for accommodation purposes even for a person who is considered high risk.  Consider suggesting whether CAS3 may be more appropriate.</p>
        <p> If you believe this to be an application for accommodation only, you must clearly explain why</p>
    </li>
</ul>
<p> Note that whilst there should be reference to the need for AP placement in the OASys Risk Management Plan, this may not be fully formed at the point of a timely application. An application should be made 6 months prior to arrival which in many cases will be during the OMiC handover period.</p>
