<p> Consider which features of an AP are essential or beneficial for risk management. This could include monitoring and control measures that an AP can offer, such as:</p>
<ul>
    <li>24 hour staff support and monitoring</li>
    <li>Overnight curfew (from 11pm until 6am)</li>
    <li>CCTV</li>
    <li>Room searches</li>
    <li>Rehabilitative activities (formerly purposeful activities)</li>
    <li>Monitoring of medication</li>
    <li>Monitoring of risk to self</li>
    <li>Monitoring of mental health needs</li>
</ul>
<p>The application should include an explanation of how these measures would add value to the management of the risk of serious harm.</p>
<p>If the AP environment and facilities would not provide added value to the management of risk, consider whether an AP placement is appropriate.</p>
