{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../../partials/prisonInformationTable.njk" import prisonInformationTable %}
{% from "../../../components/riskWidgets/macro.njk" import widgets %}

{% extends "../../../partials/layout.njk" %}

{% set columnClasses = "govuk-grid-column-full" %}
{% set pageTitle = applicationName + " - " + pageHeading %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: paths.assessments.pages.show({ task: 'review-application', page: 'review', id: assessmentId })
    }) }}
{% endblock %}

{% block content %}

    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div>
                <p>Imported from OASys: <strong>{{ dateOfImport }}</strong>
                </p>

            </div>

            {{ mojSubNavigation({
                label: 'Sub navigation',
                attributes: { 'data-sub-navigation-as-tabs': true },
                items: [{
                    text: 'RoSH summary',
                    href: '#roshSummary',
                    attributes: {
                        'aria-controls': 'roshSummary',
                        'id': 'roshSummaryTab'
                    }
                },
                    {
                        text: 'Offence details',
                        href: '#offenceDetails',
                        attributes: {
                        'aria-controls': 'offenceDetails',
                        'id': 'offenceDetailsTab'
                    }
                    },
                    {
                        text: 'Supporting information',
                        href: '#supportingInformation',
                        attributes: {
                        'aria-controls': 'supportingInformation',
                        'id': 'supportingInformationTab'
                    }
                    },
                    {
                        text: 'Risk management plan',
                        href: '#riskManagementPlan',
                        attributes: {
                        'aria-controls': 'riskManagementPlan',
                        'id': 'riskManagementPlanTab'
                    }
                    },
                    {
                        text: 'Risk to self',
                        href: '#riskToSelf',
                        attributes: {
                        'aria-controls': 'riskToSelf',
                        'id': 'riskToSelfTab'
                    }
                    }
                ]
            }) }}

            {{ OASysUtils.oasysTableTabs(oasysSections) | safe }}

        </div>
        <div class="govuk-grid-column-one-third">
            {{ widgets(risks | mapApiPersonRisksForUi) }}
        </div>
    </div>

    <a href="{{ paths.assessments.pages.show({ task: 'review-application', page: 'review', id: assessmentId }) }}"
       class="govuk-link"> Back to application</a>
{% endblock %}
