{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "../../../partials/layout.njk" %}

{% set columnClasses = "govuk-grid-column-full" %}
{% set pageTitle = applicationName + " - " + pageHeading %}

{% block content %}

    {{ govukBackLink({
		text: "Back",
		href: paths.assessments.pages.show({ task: 'review-application', page: 'review', id: assessmentId })
	}) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div>
                <p>Imported from NOMIS: <strong>{{dateOfImport}}</strong>
                </p>
                <p>Imported from DPS:  <strong>{{dateOfImport}}</strong>
                </p>
                <p>Review the information provided.</p>
                <p>Applicants were asked to provide information to help Approved Premises (AP) managers understand factors that may help with the person's risk management.</p>
            </div>

            {{ mojSubNavigation({
                label: 'Sub navigation',
                attributes: {
                'role': 'tablist'
                },
                items: [{
                text: 'Adjudications',
                href: '#adjudications',
                attributes: {
                    'aria-controls': 'adjudications',
                    'id': 'adjudicationsTab',
                    role: 'tab'
                }
                }, {
                text: 'ACCT',
                href: '#acct',
                attributes: {
                    'aria-controls': 'ACCT',
                    'id': 'acctTab',
                    role: 'tab'
                }
                }]
            }) }}

            <div class="govuk-column-full-width" id="adjudications" role="tabpanel" aria-labelledby="adjudicationsTab" hidden>
                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--m">Adjudications</caption>

                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Adjudication number</th>
                            <th scope="col" class="govuk-table__header">Report date and time</th>
                            <th scope="col" class="govuk-table__header">Establishment</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Offence description	</th>
                            <th scope="col" class="govuk-table__header">Finding</th>
                        </tr>
                    </thead>

                    <tbody class="govuk-table__body">
                        {% for adjudication in adjudications %}
                            <tr class="govuk-table__row">
                                <td scope="row" class="govuk-table__cell">{{ adjudication.id }}</td>
                                <td scope="row" class="govuk-table__cell">{{ formatDateTime(adjudication.reportedAt) }}</td>
                                <td scope="row" class="govuk-table__cell">{{ adjudication.establishment }}</td>
                                <td scope="row" class="govuk-table__cell">{{ adjudication.offenceDescription }}</td>
                                <td scope="row" class="govuk-table__cell">{{ adjudication.finding | sentenceCase }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

        {% block extraScripts %}
            <script type="text/javascript" nonce="{{ cspNonce }}">
                function hidePanels() {
                    for (var i = 0; i < panels.length; i++) {
                        panels[i].setAttribute('hidden', 'true')
                    }
                }

                function showPanel(panel) {
                    hidePanels()
                    panel.removeAttribute('hidden')
                }

                function setCurrent(current) {
                    for (var i = 0; i < panels.length; i++) {
                        navLinks[i].removeAttribute('aria-selected')
                    }

                    current.setAttribute('aria-selected', 'true')
                }

                var navLinks = document.querySelectorAll('[role="tab"]')
                var panels = document.querySelectorAll('[role="tabpanel"')

                showPanel(panels[0])

                for (var i = 0; i < navLinks.length; i++) {
                    navLinks[i].addEventListener('click', function (e) {
                        var link = e.target
                        var id = link
                            .attributes['aria-controls']
                            .value
                        var panel = document.querySelector('#' + id)

                        showPanel(panel)
                        setCurrent(link)

                        e.preventDefault()
                    })
                }
            </script>
        {% endblock %}
    {% endblock %}
