{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: paths.premises.show({ premisesId: premisesId  })
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1>{{ pageHeading }}</h1>

            <form action="{{ paths.bookings.arrivals.create({ premisesId: premisesId, bookingId: bookingId }) }}"
                  method="post">
                {{ showErrorSummary(errorSummary) }}
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukDateInput({
                    id: "arrival[arrivalDateTime]",
                    namePrefix: "arrivalDateTime",
                    fieldset: {
                        legend: {
                            text: "What is the arrival date?",
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    items: dateFieldValues('arrivalDateTime', errors, true),
                    errorMessage: errors.arrivalDateTime,
                    hint: {
                        text: "For example, 27 3 2024"
                    }
                }) }}

                <label class="govuk-label govuk-label--m" for="arrivalDateTime-time">
                    What is the time of arrival?
                </label>
                <input type="time" id="arrivalDateTime-time" name="arrivalDateTime-time"
                       class="govuk-input govuk-input--width-5 govuk-!-margin-bottom-4">

                {{ govukDateInput({
                    id: "arrival[expectedDepartureDate]",
                    namePrefix: "expectedDepartureDate",
                    fieldset: {
                        legend: {
                            text: "What is their expected departure date?",
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    items: dateFieldValues('expectedDepartureDate', errors),
                    errorMessage: errors.expectedDepartureDate,
                    hint: {
                        text: "For example, 27 3 2024"
                    }
                }) }}

                {{ govukSelect({
                    label: {
                        text: "Key Worker",
                        classes: "govuk-label--m"
                    },
                    classes: "govuk-input--width-20",
                    id: "keyWorkerStaffCode",
                    name: "arrival[keyWorkerStaffCode]",
                    items: convertObjectsToSelectOptions(staffMembers, 'Select a keyworker', 'name', 'code', 'keyWorkerStaffCode'),
                    errorMessage: errors.keyWorkerStaffCode
                }) }}

                {{ govukTextarea({
                    name: "arrival[notes]",
                    id: "notes",
                    value: arrival.notes,
                    label: {
                        text: "Any other information"
                    }
                }) }}

                {{ govukButton({
                    name: 'arrival[submit]',
                    text: "Submit",
                    preventDoubleClick: true
                }) }}
            </form>

        </div>
    </div>
{% endblock %}
