{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% extends "../layout.njk" %}

{% block questions %}
    <h1 class="govuk-heading-l">Application timeliness</h1>

    <div class="govuk-inset-text">
        <h2 class="govuk-heading-m">Application information</h2>

        <p><span class="govuk-!-font-weight-bold">Application date: </span>{{ page.applicationDetails.applicationDate }}</p>
        <p><span class="govuk-!-font-weight-bold">Arrival date: </span>{{ page.applicationDetails.arrivalDate }}</p>
        <p><span class="govuk-!-font-weight-bold">Reason for late application: </span>{{ page.applicationDetails.lateApplicationReason }}</p>
    </div>


        {%
            call govukFieldset({
                legend: {
                    text: page.question,
                    classes: "govuk-fieldset__legend--m"
                }
            })
        %}

        {% set reasonForLateApplicationHtml %}
            {{
                formPageSelect(
                    {
                    fieldName: "reasonForLateApplication",
                    label: {

                            text: page.reasonForLateApplicationQuestion

                    },
                    items: convertObjectsToSelectOptions(page.reasonsForLateApplicationReasons, 'Select an option', 'text', 'value', '', context)
                    },
                    fetchContext()
                )
            }}
        {% endset -%}

        {{
            formPageRadios({
                hint: {
                    text: "This question does not impact decision making on assessment"
                },
                    fieldName: "agreeWithShortNoticeReason",
                    items: [
                    {
                        value: "yes",
                        text: "Yes"
                    },
                    {
                        value: "no",
                        text: "No",
                        conditional: {
                            html: reasonForLateApplicationHtml
                        }
                    }
                    ]
                }, fetchContext()
            )
        }}

        {{
            formPageTextarea({
                fieldName: "agreeWithShortNoticeReasonComments",
                label: {
                    text: "Provide details to support the decision",
                    classes: "govuk-label--s"
                }
            }, fetchContext())
        }}

        {% endcall %}
{% endblock %}
