{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% extends "../layout.njk" %}

{% block questions %}
    <h1 class="govuk-heading-l">Suitability assessment</h1>

    {% for sectionName, question in page.sections %}
        {%
            call govukFieldset({
                legend: {
                    text: question,
                    classes: "govuk-fieldset__legend--m"
                }
            })
        %}

        {% set hintHtml %}
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                View guidance notes
                </span>
            </summary>

            <div class="govuk-details__text">
                {% include './partials/' + sectionName + '.njk' %}
            </div>
        </details>
        {% endset %}

        {{
            formPageRadios({
                hint: {
                    html: hintHtml
                },
                    fieldName: sectionName,
                    items: [
                    {
                        value: "yes",
                        text: "Yes"
                    },
                    {
                        value: "no",
                        text: "No"
                    }
                    ]
                }, fetchContext()
            )
        }}

        {{
            formPageTextarea({
                fieldName: sectionName + "Comments",
                label: {
                    text: "Additional comments",
                    classes: "govuk-label--s"
                }
            }, fetchContext())
        }}

        {% endcall %}
    {% endfor %}
{% endblock %}
