{% macro weekCalendar(capacity, dateHeader) %}
    <table class="govuk-table national-calendar">
        <thead>
        <tr>
            <th class="govuk-!-font-weight-bold">Approved premises</th>
            {% for date in dateHeader %}
                <th class="calendar-date-heading">{{ date }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for ap in capacity %}
            <tr>
                <th class="govuk-table__header" scope="row">
                    <dl>
                        {% for field in ap.summaryRows %}
                            <dd>{{ field | safe }}</dd>
                        {% endfor %}
                    </dl>
                </th>
                {% for day in ap.apCapacity %}
                    <td class="{{ day.classes }}">
                        <a class="calendar__link"
                           href="{{ day.link }}">
                            <dl class="calendar__availability">
                                <dt class="govuk-visually-hidden">Availability:</dt>
                                <dd class="govuk-!-font-weight-bold">{{ day.capacity }}</dd>
                            </dl>
                        </a>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}
