{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{% macro navigation(activeTab) %}
  {{
    mojSubNavigation({
      label: 'Sub navigation',
      items: [
        {
          text: 'Ready to match',
          href: paths.admin.placementRequests.index({}),
          active: (activeTab === 'notMatched' or activeTab|length === 0)
        },
        {
          text: 'Unable to match',
          href: paths.admin.placementRequests.index({}) + "?status=unableToMatch",
          active: (activeTab === 'unableToMatch')
        },
        {
          text: 'Matched',
          href: paths.admin.placementRequests.index({}) + "?status=matched",
          active: (activeTab === 'matched')
        },
        {
          text: 'Search',
          href: paths.admin.placementRequests.search({}),
          active: (activeTab === 'search')
        }
      ]
    })
  }}
{% endmacro %}
