{% extends "../../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% set pageTitle = applicationName + " - " + pageHeading  %}
{% set mainClasses = "app-container govuk-body assessments--index" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "../../_messages.njk" %}

      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

      <p class="govuk-body">
        All applications that have been assessed as suitable and require matching to an AP are listed below
      </p>

      {{
        mojSubNavigation({
          label: 'Sub navigation',
          items: [
            {
              text: 'Confirmed release date',
              href: paths.admin.placementRequests.index({}),
              active: (isParole === false)
            },
            {
              text: 'Parole',
              href: paths.admin.placementRequests.index({}) + "?isParole=1",
              active: (isParole === true)
            }
        ]
        })
      }}

      {{
              govukTable({
                  firstCellIsHeader: true,
                  attributes: {
                    'data-module': 'moj-sortable-table'
                  },
                  head: [
                      {
                          text: "Name"
                      },
                      {
                          text: "CRN"
                      },
                      {
                          text: "Tier"
                      },
                      {
                          text: ("Date of decision" if isParole else "Arrival date"),
                          attributes: {
                            "aria-sort": "none"
                          }
                      },
                      {
                          text: "Length of stay",
                          attributes: {
                            "aria-sort": "none"
                          }
                      },
                      {
                          text: "Status"
                      }
                  ],
                  rows: PlacementRequestUtils.tableUtils.dashboardTableRows(placementRequests)
                })
            }}

      {{ govukPagination(pagination(pageNumber, totalPages, hrefPrefix)) }}

    </div>
  </div>
{% endblock %}

{% block extraScripts %}
  <script type="text/javascript" nonce="{{ cspNonce }}">
    window
      .MOJFrontend
      .initAll()
  </script>
{% endblock %}
