{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}

{% block content %}
  {% include "../../_messages.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-width-container">
      <div class="govuk-grid-column-full">
        {{ mojIdentityBar(PlacementRequestUtils.adminIdentityBar(placementRequest)) }}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-width-container">
        <div class="govuk-grid-column-two-thirds">
          {% if placementRequest.isParole %}
            {% set html %}
            <p class="govuk-notification-banner__heading">
                This application is parole
              </p>
            <p class="govuk-body">
                The person can be placed in an Approved Premises six weeks after the boards date of decision. The release date has been calculated as {{ formatDate(placementRequest.expectedArrival) }}.
              </p>
            <p class="govuk-body">
                You can change the placement arrival date by using the ‘Amend dates’ screen. Contact the PP for further details on the release date.
              </p>
            {% endset %}

            {{ govukNotificationBanner({
              html: html
            }) }}
          {% endif %}

          <ul class="govuk-list govuk-!-padding-bottom-3">
            <li>
              <a href="{{paths.applications.show({id: placementRequest.applicationId})}}">View application</a>
              <span class="govuk-body-s">(Completed on {{ formatDate(placementRequest.applicationDate) }})</span>
            </li>
            <li>
              <a href="{{paths.assessments.show({id: placementRequest.assessmentId})}}">View assessment</a>
              <span class="govuk-body-s">(Completed on {{ formatDate(placementRequest.assessmentDate) }})</span>
            </li>
          </ul>

          {{
            govukSummaryList(PlacementRequestUtils.adminSummary(placementRequest))
          }}

          {{
            govukSummaryList(PlacementRequestUtils.matchingInformationSummary(placementRequest))
          }}

          {% if placementRequest.booking %}
            <h2 class="govuk-heading-m">Matched Placement</h2>
            {{
              govukSummaryList(BookingUtils.bookingSummaryList(placementRequest.booking))
            }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extraScripts %}
  <script type="text/javascript" nonce="{{ cspNonce }}">
    new MOJFrontend.ButtonMenu({container: $('.moj-button-menu'), mq: "(min-width: 200em)", buttonText: "Actions", menuClasses: "moj-button-menu__wrapper--right"});
  </script>
{% endblock %}
