{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% from "../../components/keyDetails/macro.njk" import keyDetails %}
{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - View Placement Request" %}

{% block header %}
    {{ super() }}
    {{ keyDetails(MatchUtils.keyDetails(placementRequest)) }}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: paths.admin.cruDashboard.index({})
    }) }}
{% endblock %}

{% block content %}
    {% include "../../_messages.njk" %}

    {{ mojIdentityBar(adminIdentityBar) }}

    {% include "./_change-request-banner.njk" %}

    {% if placementRequest.isParole %}
        {% set html %}
            <p class="govuk-notification-banner__heading">
                Parole board directed release
            </p>
            <p class="govuk-body">
                The person's arrival date has been estimated
                as {{ formatDate(placementRequest.expectedArrival) }}.
                This is 6 weeks after the parole board's date of decision.
            </p>
            {% if placementRequest.booking %}
                <p class="govuk-body">
                    If needed, you can <a
                            href="{{ paths.premises.placements.changes.new({ premisesId: placementRequest.booking.premisesId, placementId: placementRequest.booking.id }) }}">change
                        the arrival date</a> in the Approved Premises service.
                </p>
            {% endif %}

        {% endset %}

        {{ govukNotificationBanner({
            html: html
        }) }}
    {% endif %}


    <ul class="govuk-list govuk-!-padding-top-3 govuk-!-padding-bottom-3">
        <li>
            <a href="{{ paths.applications.show({id: placementRequest.applicationId}) }}">View application</a>
            <span class="govuk-body-s">(Completed on {{ formatDate(placementRequest.applicationDate) }})</span>
        </li>
        <li>
            <a href="{{ paths.assessments.show({id: placementRequest.assessmentId}) }}">View assessment</a>
            <span class="govuk-body-s">(Completed on {{ formatDate(placementRequest.assessmentDate) }})</span>
        </li>
    </ul>

    {{ govukSummaryList(placementRequestSummaryList) }}

    {% if bookingSummaryList %}
        <h2 class="govuk-heading-l">Booked placement</h2>

        <h3 class="govuk-heading-m">Placement information</h3>

        {{ govukSummaryList(bookingSummaryList) }}
    {% endif %}
{% endblock %}

