{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../../../components/formFields/form-page-radios/macro.njk" import formPageRadios %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{% extends "../layout.njk" %}

{% block questions %}

  <div class="govuk-grid-row">

    <h1 class="govuk-heading-xl">
      {{ page.title }}
    </h1>

    {{ mojSubNavigation({
        label: 'Sub navigation',
        attributes: {
          'role': 'tablist'
        },
        items: AssessmentUtils.getReviewNavigationItems()
      }) }}

    <div class="main-box">
      <h3 class="box-title govuk-heading-m">
          Person Details
        </h3>
      <div class="box-content" data-cy-review-section="person-details" >
        {{ govukSummaryList({
          rows: ([
            {
              key: {
                text: "Names"
              },
              value: {
                text: page.document.application.person.name
              }
            },
            {
              key: {
                text: "CRN"
              },
              value: {
                text: page.document.application.person.crn
              }
            },
            {
              key: {
                text: "Date of Birth"
              },
              value: {
                text: formatDate(page.document.application.person.dateOfBirth, { format: 'short' })
              }
            },
            {
              key: {
                text: "NOMS Number"
              },
              value: {
                text: page.document.application.person.nomsNumber
              }
            },
            {
              key: {
                text: "Nationality"
              },
              value: {
                text: page.document.application.person.nationality
              }
            },
            {
              key: {
                text: "Religion or Belief"
              },
              value: {
                text: page.document.application.person.religionOrBelief
              }
            },
            {
              key: {
                text: "Sex"
              },
              value: {
                text: page.document.application.person.sex
              }
            },
            {
              key: {
                text: "Gender Identity"
              },
              value: {
                text: page.document.application.person.genderIdentity
              }
            },
            {
              key: {
                text: "Status"
              },
              value: {
                html: statusTag(page.document.application.person.status)
              }
            },
            {
              key: {
                text: "Prison"
              },
              value: {
                text: page.document.application.person.prisonName
              }
            }
          ])
        }) }}
      </div>
    </div>

    {% for section in AssessmentUtils.assessmentSections(page.document.application) %}
      <h2 class="govuk-heading-l" id={{section.title | kebabCase }}>{{ section.title }}</h2>
      {% for task in section.tasks %}
        <div class="main-box">
          <h3 class="box-title govuk-heading-m">
            {{ task.title }}
          </h3>
          <div class="box-content" data-cy-review-section="{{ task.id }}">
            {{
                govukSummaryList({
                  rows: task.rows
                })
              }}
            {{AssessmentUtils.getSectionSuffix(task) | safe}}
          </div>
        </div>
      {% endfor %}
    {% endfor %}

    {{ formPageRadios({
          fieldName: "reviewed",
          fieldset: {
            legend: {
              text: "Have you reviewed all of the application and documents provided?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        },fetchContext()) }}

  </div>
{% endblock %}
