{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{% macro navigation(activeTab, apArea, requestType) %}
  {{
    mojSubNavigation({
      label: 'Sub navigation',
      items: PlacementRequestUtils.placementRequestTabItems(activeTab, apArea, requestType)
    })
  }}
{% endmacro %}
