{% extends "../../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "moj/components/identity-bar/macro.njk" import mojIdentityBar %}

{% from "./_navigation.njk" import navigation %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body assessments--index" %}

{% set titleHtml %}
    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
{% endset %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include "../../_messages.njk" %}

            {{ mojIdentityBar({
                title: {
                    html: titleHtml
                },
                menus: actions
            }) }}

            <p class="govuk-body">
                {{ subheading }}
            </p>

            <form action="{{ paths.admin.cruDashboard.index({}) }}" method="get" class="search-and-filter">
                <input type="hidden" name="status" value="{{ status }}">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                <h2 class="govuk-heading-m">Filters</h2>

                <div class="search-and-filter__row">
                    {{ govukSelect({
                        label: {
                            text: "AP Area",
                            classes: "govuk-label--s"
                        },
                        classes: "govuk-input--width-20",
                        id: "cruManagementArea",
                        name: "cruManagementArea",
                        items: convertObjectsToSelectOptions(cruManagementAreas, 'All areas', 'name', 'id', 'cruManagementArea', 'all', context)
                    }) }}

                    {% if status != "pendingPlacement" %}
                        {{ govukSelect({
                            label: {
                                text: "Request type",
                                classes: "govuk-label--s"
                            },
                            id: "requestType",
                            name: "requestType",
                            items: convertObjectsToSelectOptions(PlacementRequestUtils.requestTypes, 'All request types', 'name', 'value', 'requestType', '', context)
                        }) }}
                    {% endif %}

                    {% if status === "pendingPlacement" %}
                        {{ govukSelect({
                            label: {
                                text: "Release type",
                                classes: "govuk-label--s"
                            },
                            id: "releaseType",
                            name: "releaseType",
                            items: ApplyUtils.releaseTypeSelectOptions(releaseType)
                        }) }}
                    {% endif %}

                    {{ govukButton({
                        "name": "submit",
                        "text": "Apply filters",
                        "preventDoubleClick": true
                    }) }}
                </div>
            </form>

            {{ navigation(status, cruManagementArea, requestType) }}

            {% if status == "pendingPlacement" %}
                {{ govukTable({
                    firstCellIsHeader: true,
                    head: ApplyUtils.pendingPlacementRequestTableHeader(sortBy, sortDirection, hrefPrefix),
                    rows: ApplyUtils.pendingPlacementRequestTableRows(applications)
                }) }}
            {% else %}
                {{ govukTable({
                    firstCellIsHeader: true,
                    head: PlacementRequestUtils.tableUtils.dashboardTableHeader(status, sortBy, sortDirection, hrefPrefix),
                    rows: PlacementRequestUtils.tableUtils.dashboardTableRows(placementRequests, status)
                }) }}
            {% endif %}

            {{ govukPagination(pagination(pageNumber, totalPages, hrefPrefix)) }}

        </div>
    </div>
{% endblock %}
