{% extends "../../partials/layout.njk" %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "moj/components/identity-bar/macro.njk" import mojIdentityBar %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}

{% from "components/sortableTable/macro.njk" import sortableTable %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body assessments--index" %}

{% set titleHtml %}
    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
{% endset %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include "../../_messages.njk" %}

            {{ mojIdentityBar({
                title: {
                    html: titleHtml
                },
                menus: actions
            }) }}

            <form action="{{ currentUrl }}" method="get" class="search-and-filter">
                <input type="hidden" name="status" value="{{ activeTab }}">

                <h2 class="govuk-heading-m">Filters</h2>

                <div class="search-and-filter__row">
                    {{ govukSelect({
                        label: {
                            text: "AP Area",
                            classes: "govuk-label--s"
                        },
                        classes: "govuk-input--width-20",
                        id: "cruManagementArea",
                        name: "cruManagementArea",
                        items: convertObjectsToSelectOptions(cruManagementAreas, 'All areas', 'name', 'id', 'cruManagementArea', 'all', context)
                    }) }}

                    {% if activeTab != "pendingPlacement" %}
                        {{ govukSelect({
                            label: {
                                text: "Request type",
                                classes: "govuk-label--s"
                            },
                            id: "requestType",
                            name: "requestType",
                            items: convertObjectsToSelectOptions(PlacementRequestUtils.requestTypes, 'All request types', 'name', 'value', 'requestType', '', context)
                        }) }}
                    {% endif %}

                    {% if activeTab === "pendingPlacement" %}
                        {{ govukSelect({
                            label: {
                                text: "Release type",
                                classes: "govuk-label--s"
                            },
                            id: "releaseType",
                            name: "releaseType",
                            items: releaseTypes
                        }) }}
                    {% endif %}

                    {{ govukButton({
                        type: "submit",
                        text: "Apply filters",
                        preventDoubleClick: true
                    }) }}
                </div>
            </form>

            {{ mojSubNavigation({
                label: 'Sub navigation',
                items: tabs
            }) }}

            {{ sortableTable({
                firstCellIsHeader: true,
                head: tableHead,
                rows: tableRows
            }) }}

            {{ govukPagination(pagination) }}

        </div>
    </div>
{% endblock %}
