{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "../layout.njk" %}

{% block questions %}

  <h1 class="govuk-heading-l">{{ page.title }}</h2>

  {% if page.arrivalDate %}
    <h2 class="govuk-heading-m"> Expected dates of stay in Approved Premises:</h2>

    <p class="govuk-body">
      <strong>Arrival date:</strong>
      {{dateObjToUIDate(page.arrivalDate)}}</p>

    <p class="govuk-body">
      <strong>Departure date:</strong>
      {{dateObjToUIDate(page.departureDate)}}</p>
  {% endif %}

  {{ govukDetails({
      summaryText: "View guidance on AP placement duration",
      html: "<p>The typical placement duration for each type of AP is as follows: </p>
   <ul>
    <li>Standard AP, 12 weeks</li>
    <li>Psychologically Informed Planned Environment (PIPE), 26 weeks</li>
    <li>Enhanced Security AP, 56 weeks</li>
   </ul>
   <p>Placements can be longer or shorter in exceptional circumstances when required for risk management purposes.</p>
   <p>Consider the level of support and risk management you expect the AP to provide and how long it will take to be effective.</p>"
    }) }}

  {% set yesDetails %}
  {{
    formPageInput(
      {
        label: {
          text: page.questions.duration
        },
        classes: "govuk-input--width-2",
        fieldName: "duration"
      },
      fetchContext()
    )
  }}

  {{
    formPageTextarea(
      {
        fieldName: "reason",
        label: {
        text: page.questions.reason
        }
      },
      fetchContext()
    )
  }}

  {% endset -%}

  {{
  formPageRadios({
    fieldName: 'differentDuration',
    fieldset: {
      legend: {
        text: page.questions.differentDuration,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes",
        conditional: {
          html: yesDetails
        }
      },
      {
        value: "no",
        text: "No"
      }
    ]
  },
  fetchContext()
  )
}}

{% endblock %}
