{% extends "../layout.njk" %}

{% set accommodationTypes = page.items() %}

{% block questions %}
  <h1 class="govuk-heading-l">
    {{page.title}}
  </h1>

  {% set otherAccommodationType %}
  {{ formPageInput({
        fieldName: 'otherAccommodationType',
        classes: "govuk-!-width-two-thirds",
        label: {
          text: "Other accommodation type"
        }
      }, fetchContext()) }}
  {% endset %}

  {{ formPageRadios({
      fieldName: "accommodationType",
      hint: {
        text: page.question
      },
      fieldset: {
        legend: {
          text: page.questions.needs.question,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: (accommodationTypes.push({
              value: "other",
              text: page.otherQuestion,
              checked: page.body.accommodationType === 'other',
              conditional: {
                  html: otherAccommodationType
              }
          }), accommodationTypes
        )
    }, fetchContext()) }}
{% endblock %}
