{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}

{% macro profileBanner(resident, actions) %}

<div class="{{ 'profile-banner' }} govuk-!-margin-bottom-2 govuk-!-margin-top-7">
    {% if resident.photoUrl %}
    <div class="profile-banner__photo">
        <img class="residents-profile-pic" alt="Photo of {{ resident.name }}" src="{{ resident.photoUrl }}">
    </div>
    {% endif %}
    <div class="profile-banner__content">
        <div class="profile-banner__header govuk-!-margin-bottom-2">
            <h2 class="govuk-heading-l govuk-!-margin-bottom-0">
                {{ resident.name }}
                {% if resident.statusBadge %}
                    {{ resident.statusBadge | safe }}
                {% endif %}
            </h2>
            {% if actions %}
            <div class="resident-actions">
                {{ mojButtonMenu({
                    "button": {
                        "text": "Actions"
                    },
                    "alignMenu": "right",
                    "items": actions
                    })
                }}
            </div>
            {% endif %}
        </div>

        {% for row in resident.attributes %}
        <div>
            {% for attribute in row %}
            <dl class="residents-definition-list">
                <dt>{{ attribute.title }}:</dt>
                <dd>{{ attribute.description }}</dd>
            </dl>
            {% endfor %}
        </div>
        {% endfor %}

        <div class="residents-badge-container govuk-!-padding-bottom-2">
            {% for badge in resident.badges %}
            {{ badge | safe }}
            {% endfor %}
        </div>
    </div>
</div>

{% endmacro %}
