{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}

{% macro profileBanner(resident, actions) %}
    {% set hasPhoto = resident.photoUrl %}

    <div class="{{ 'profile-banner' if hasPhoto else 'profile-banner-noImage' }} govuk-!-margin-bottom-2">
        {% if hasPhoto %}
            <div class="one-eighth">
                <img class="residents-profile-pic" alt="Photo of {{ resident.name }}" src="{{ resident.photoUrl }}">
            </div>
        {% endif %}
        <div class="six-eighths">
            <h2 class="govuk-heading-l govuk-!-margin-bottom-2">{{ resident.name }}</h2>

            {% for row in resident.attributes %}
                <div>
                    {% for attribute in row %}
                        <dl class="residents-definition-list">
                            <dt>{{ attribute.title }}</dt>
                            <dd>{{ attribute.description }}</dd>
                        </dl>
                    {% endfor %}
                </div>
            {% endfor %}

            <div class="residents-badge-container govuk-!-padding-bottom-2">
                {% for badge in resident.badges %}
                    {{ badge | safe }}
                {% endfor %}
            </div>
        </div>
        {% if actions %}
            <div class="one-eighth resident-actions govuk-!-padding-top-2">
                {{ mojButtonMenu({
                    "button": {
                        "text": "Actions"
                    },
                    "alignMenu": "left",
                    "items": actions
                }) }}
            </div>
        {% endif %}
    </div>

{% endmacro %}
