{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% extends "../layout.njk" %}

{% set interventionOptions = page.items() %}

{% block questions %}

    <h1 class="govuk-heading-l">{{page.title}}</h1>

    <p class="govuk-body">Formerly known as purposeful activities.</p>
    <p class="govuk-body">Select any additional needs the person has that an AP could help meet. For example, support getting qualifications or finding work.</p>
    <p class="govuk-body">Further information about rehabilitative activities can be found on EQuip</p>

    {% set otherIntervention %}
    {{
        formPageInput(
            {
                fieldName: "otherIntervention",
                type: "text",
                autocomplete: "text",
                classes: "govuk-!-width-two-thirds",
                label: {
                    text: "Please specify"
                }
            },
            fetchContext()
        )
    }}
    {% endset %}

    {{
        formPageCheckboxes(
            {
                fieldName: "rehabilitativeInterventions",
                hint: {
                    text: "You can select more than one option"
                },
                items: (
                        interventionOptions.push({
                            value: "other",
                            text: "Other",
                            conditional: {
                                html: otherIntervention
                            }
                        }), interventionOptions
                    )
            },
            fetchContext()
        )
    }}

    {{ formPageTextarea({
        fieldName: 'summary',
        label: {
            text: page.summaryQuestion,
            classes: 'govuk-label--m'
        }
    }, fetchContext()) }}

{% endblock %}
