{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../components/keyDetails/macro.njk" import keyDetails %}
{% from "../../../partials/showErrorSummary.njk" import showErrorSummary %}


{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block header %}
    {{ super() }}
    {{ keyDetails(MatchUtils.keyDetails(placementRequest)) }}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLink
    }) }}
{% endblock %}

{% block content %}
    {% include "../../../_messages.njk" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thir">
            <form action="{{ postUrl }}"
                  method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ showErrorSummary(errorSummary, errorTitle) }}

                <h1 class="govuk-heading-l">
                    {{ pageHeading }}
                </h1>

                {% if bookingSummary %}
                    <h2 class="govuk-heading-m">Placement information</h2>
                    {{ govukSummaryList(bookingSummary) }}
                {% endif %}

                {% if changeRequestSummary %}
                    <h2 class="govuk-heading-m">Appeal request summary</h2>
                    {{ govukSummaryList(        changeRequestSummary) }}
                {% endif %}

                <h2 class="govuk-heading-m">Decision</h2>

                {{ govukRadios({
                    fieldset: {
                        legend: {
                            text: "Reject with reason",
                            classes: "govuk-fieldset__legend--s"
                        }
                    },
                    idPrefix: "decision",
                    errorMessage: errors.decision,
                    name: "decision",
                    items: decisionOptions
                }) }}

                {{ govukTextarea({
                    id: "notes",
                    name: "notes",
                    label: {
                        text: "Decision rationale",
                        classes: "govuk-fieldset__legend--s"
                    },
                    errorMessage: errors.notes
                }) }}

                {{ govukButton({
                    text: "Continue",
                    preventDoubleClick: true
                }) }}
            </form>
        </div>
    </div>
{% endblock %}

