{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../partials/showErrorSummary.njk" import showErrorSummary %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Mark a bed as out of service" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: paths.v2Manage.premises.beds.show({ premisesId: premisesId, bedId: bedId })
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.v2Manage.outOfServiceBeds.create({ premisesId: premisesId, bedId: bedId }) }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ showErrorSummary(errorSummary, errorTitle) }}

        <h1 class="govuk-!-margin-bottom-0">Mark a bed as out of service</h1>
        <p> Provide details of beds that are out of service within your AP estate</p>

        {{ govukDateInput({
        id: "startDate",
        namePrefix: "startDate",
        items: dateFieldValues('startDate', errors),
        errorMessage: errors.startDate,
        fieldset: {
          legend: {
            text: "Out of service from",
            classes: "govuk-fieldset__legend--s"
          }
        }
      }) }}

        {{ govukDateInput({
        id: "endDate",
        namePrefix: "endDate",
        items: dateFieldValues('endDate', errors),
        errorMessage: errors.endDate,
        fieldset: {
          legend: {
            text: "Out of service to",
            classes: "govuk-fieldset__legend--s"
          }
        }
      }) }}

        {{ govukInput({
        label: {
          text: "Work order reference number"
        },
        classes: "govuk-input--width-6",
        id: "referenceNumber",
        name: "outOfServiceBed[referenceNumber]",
        errorMessage: errors.referenceNumber
      }) }}

        {{ govukTextarea({
        id: "notes",
        name: "outOfServiceBed[notes]",
        label: {
          text: "Provide  detail about why the bed is out of service. If FM works are required you should update this record with any progress on that work.",
          classes: "govuk-fieldset__legend--s"
        },
        errorMessage: errors.notes
      }) }}

        {{ govukButton({
          text: "Save and continue",
          name: "outOfServiceBed[submit]",
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
