{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../../components/formFields/form-page-input/macro.njk" import formPageInput %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading  %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.timeline.show({}) }}" method="get">

        <h1>{{ pageHeading }}</h1>
        {{ showErrorSummary(errorSummary) }}

        {{ govukInput({
            label: {
                text: "Enter the person's CRN",
                classes: "govuk-label--m"
              },
              id: 'crn',
              hint: {
                text: "For example, a CRN is DO16821"
              },
              name: "crn",
              value: crn,
              errorMessage: errors.crn,
              classes: "govuk-input--width-10"
          }) }}

        {{ govukButton({
                    text: "Save and continue"
                }) }}
      </form>
    </div>
  </div>
{% endblock %}
