{% extends "../../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../partials/_applicationTimeline.njk" import applicationTimeline %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = applicationName + " - " + pageHeading  %}
{% set mainClasses = "app-container govuk-body" %}

{% set query = "?crn=" + crn if crn else 
    "" %}

{% set applications = ApplyUtils.mapPersonalTimelineForUi(timeline) %}

{% block beforeContent %}
    {{ govukBackLink({
		text: "Back",
        href: paths.timeline.find({}) + "?crn=" + crn
	}) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Application history for {{crn}}</h2>
            <h2 class="govuk-heading-m">Total applications: {{applications | length}}</h2>
            <hr/>
            {% for application in applications %}
                <h2 class="govuk-heading-m">Application {{loop.index}} of {{applications.length}}</h2>
                {% set html%}
                <h2 class="govuk-heading-s">Application made by: {{application.createdBy.name}}</h2>
                <h2 class="govuk-heading-s">Status: {{ application | applicationStatusTag('govuk-tag--timeline-tag') | safe}}</h2>
                {% endset %}

                {{ govukInsetText({
                        html: html
                })}}

                {{applicationTimeline(application.timelineEvents)}}
                <hr/>
                {%endfor%}
            </div>
        </div>
    {% endblock %}
