{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% if infoMessages %}
    {% for message in infoMessages %}
        {{ govukNotificationBanner({
            titleText: 'Important',
            html: '<div class="govuk-heading-s">' + message + '</div>',
            titleId: 'info-title'
        }) }}
    {% endfor %}
{% endif %}

{% if successMessages %}
    {% for message in successMessages %}
        {{ govukNotificationBanner({
            html: '<h3 class="govuk-notification-banner__heading">' + message + '</h3>',
            type: 'success',
            titleId: 'success-title'
        }) }}
    {% endfor %}
{% endif %}
