{% extends "./partials/layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">
     Delius account missing staff details
  </h1>
  <p>
    You are not currently able to use the service. Please complete the following form: <a class="govuk-link" href="https://forms.office.com/e/zBFKQbJtjU">Microsoft Forms</a> to request changes to your account.
  </p>
{% endblock %}
