{% extends "./partials/layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">
    Authorisation Error
  </h1>
  <p>
    You are not authorised to access this page.
  </p>

  <p>
    If you think this is a mistake, please <a class="govuk-link" target="_blank" rel="noreferrer noopener" href="{{ serviceNowUrl }}">report it here</a> in a new tab.
  </p>
{% endblock %}
