{% extends "./partials/layout.njk" %}

{% block content %}
    <h1 class="govuk-heading-l">
        Unsupported probation region
    </h1>

    <p>You will need to <a href="{{ serviceNowUrl }}">raise a NDelius support request</a> to address this.</p>
    <p>The support team should ensure that you have been assigned to a valid probation region.</p>
    <p>Once your account has been amended on NDelius, you will be able to access the service.</p>
{% endblock %}
