{% from "../components/keyDetails/macro.njk" import keyDetails %}
{% extends "../partials/layout.njk" %}

{% block header %}
    {{ super() }}
    {% if placementRequest %}
        {{ keyDetails(MatchUtils.keyDetails(placementRequest)) }}
    {% endif %}
{% endblock %}
