{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}

{% block content %}

	<h1 class="govuk-heading-m">{{person.name}}</h1>
	<dl class="search-identity-table govuk-body">

		<div class="search-identity-table__column">
			<div class="search-identity-table__table-cell">
				<dt>
					<strong>Tier</strong>
				</dt>
				<dd>A1</dd>
			</div>
			<div class="search-identity-table__table-cell">
				<dt>
					<strong>CRN
				</strong>
				</dt>
				<dd>{{person.crn}}</dd>
			</div>
			<div class="search-identity-table__table-cell">
				<dt>
					<strong>DOB
				</strong>
				</dt>
				<dd>{{person.dateOfBirth}}</dd>
			</div>
			<div class="search-identity-table__table-cell">
				<dt>
					<strong>Expected arrival date</strong>
				</dt>
				<dd>{{formatDate(startDate)}}</dd>
			</div>
		</div>
		<div class="search-identity-table__column search-identity-table__table-cell__last-col">
			<div class="search-identity-table__table-cell">
				<dt>
					<strong>Assessment</strong>

				</dt>
				<dd>
					<a href="{{assessmentPath}}">View <span class="govuk-visually-hidden">assessment</span></a>
				</dd>
			</div>
			<div class="search-identity-table__table-cell">
				<dt>
					<strong>Application</strong>
				</dt>
				<dd>
					<a href="{{applicationPath}}">View <span class="govuk-visually-hidden">Application</span></a>
				</dd>
			</div>

		</div>
	</dl>
	<hr/>
	<h2 class="govuk-heading-m">{{bedSearchResults.resultsBedCount}} matching beds in {{bedSearchResults.resultsRoomCount}} rooms in {{bedSearchResults.resultsPremisesCount}} premises</h2>
	{% for bedSearchResult in bedSearchResults.results %}
		{{ govukSummaryList({
			card: {
				title: {
					text: bedSearchResult.premises.name
				}
			},
			rows: MatchUtils.summaryCardRows(bedSearchResult)
        }) }}
	{% endfor %}

{% endblock %}
