{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-width-container">
			<div class="govuk-grid-column-full">
				<h1 class="govuk-heading-m">{{placementRequest.person.name}}</h1>
				<div class="search-identity-table govuk-body">
					<dl class="search-identity-table__column">
						<dt>
							<strong>Tier</strong>
						</dt>
						<dd>{{ tier }}</dd>

						<dt>
							<strong>CRN</strong>
						</dt>
						<dd>{{placementRequest.person.crn}}</dd>

						<dt>
							<strong>DOB</strong>
						</dt>
						<dd>{{placementRequest.person.dateOfBirth}}</dd>

						<dt>
							<strong>Expected arrival date</strong>
						</dt>
						<dd>{{formatDate(startDate)}}</dd>
					</dl>

					<dl class="search-identity-table__column">
						<dt>
							<strong>Assessment</strong>
						</dt>
						<dd>
							{{ PlacementRequestUtils.assessmentLink(placementRequest, 'View', 'Assessment') | safe }}
						</dd>
						<dt>
							<strong>Application</strong>
						</dt>
						<dd>
							{{ PlacementRequestUtils.applicationLink(placementRequest, 'View', 'Application') | safe }}
						</dd>
					</dl>
				</div>
				<hr/>
			</div>
		</div>
		<div class="govuk-grid-row">
			<div class="govuk-width-container">
				<div class="govuk-grid-column-full">
					<h2 class="govuk-heading-m">{{spaceSearchResults.resultsBedCount}} matching beds in {{spaceSearchResults.resultsRoomCount}} rooms in {{spaceSearchResults.resultsPremisesCount}} premises</h2>
				</div>
			</div>
		</div>
		<div class="govuk-grid-row">
			<div class="govuk-width-container">

				<form action="{{formPath}}" method="post">
					<input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
					<input type="hidden" name="crn" value="{{crn}}"/>
					<input type="hidden" name="startDate" value="{{startDate}}"/>
					<input type="hidden" name="applicationId" value="{{applicationId}}"/>
					<input type="hidden" name="assessmentId" value="{{assessmentId}}"/>

					<div class="govuk-grid-column-one-third">
						<div class="moj-filter">
							<div class="moj-filter__header">
								<h2 class="govuk-heading-m">Filters</h2>
							</div>

							<div class="govuk-grid-column-two-thirds">

								{{ govukDateInput({
								id: "startDate",
								namePrefix: "startDate",
								fieldset: {
								legend: {
									text: "Expected arrival",
									classes: "govuk-fieldset__legend--s"
									}
								},
								items: dateFieldValues('startDate', errors),
								errorMessage: errors.startDate
							}) }}

								{% call govukFieldset({
								legend: {
									text: "Length of stay",
									classes: "govuk-fieldset__legend--s"
								}
							}) %}

								{{
								govukInput(
									{
										classes: "govuk-input--width-2",
										id: "durationWeeks",
       							name: "durationWeeks",
										formGroup: {
											classes: "govuk-form-group--inline"
										},
										label: {
											text: "Weeks"
										},
										value: durationWeeks
									},
									context
								)
							}}

								{{
								govukInput(
									{
										classes: "govuk-input--width-2",
										id: "durationDays",
       							name: "durationDays",
										formGroup: {
											classes: "govuk-form-group--inline"
										},
										label: {
											text: "Days"
										},
										value: durationDays
									},
									context
								)
							}}

								{% endcall %}

								{{ govukInput({
								id: "postcodeDistrict",
								name: "postcodeDistrict",
								value: postcodeDistrict,
								label: {
								text: "Preferred location"
								},
								classes: "govuk-input--width-3"
							}) }}

								{{ govukInput({
								id: "maxDistanceMiles",
								name: "maxDistanceMiles",
								value: maxDistanceMiles,
								label: {
								text: "Radius"
								},
								classes: "govuk-input--width-3",
								suffix: {
									text: "miles"
								}
							}) }}

								<div class="button">
									{{ govukButton({
									text: "Update",
									preventDoubleClick: true
								}) }}
								</div>
							</div>
						</div>
					</div>
				</form>

				<div class="govuk-grid-column-two-thirds">

					<div>
						{% for spaceSearchResult in spaceSearchResults.results %}
							{{ govukSummaryList({
								card: {
									title: {
										text: spaceSearchResult.premises.name
									},
									actions: {
										items: [
											{
												href: MatchUtils.summaryCardLink({spaceSearchResult: spaceSearchResult, placementRequestId: placementRequest.id, startDate: startDate, durationDays: durationDays, durationWeeks: durationWeeks}),
												text: "View spaces",
												visuallyHiddenText: "View spaces at " + spaceSearchResult.premises.name
											}
										]
								}
								},
								rows: MatchUtils.summaryCardRows(spaceSearchResult, targetPostcodeDistrict)
							}) }}
						{% endfor %}

						<h3 class="govuk-heading-m">Mark this case as unable to match</h3>
						<p>If there are no suitable results for your search, mark this case as unable to match.</p>
						{{ govukButton({
						text: "Unable to match",
						href: paths.placementRequests.bookingNotMade.confirm({id: placementRequest.id}),
						preventDoubleClick: true
					}) }}
					</div>
				</div>
			</div>

		{% endblock %}
