{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "partials/layout-with-details.njk" %}
{% from "./partials/apSummaryCard.njk" import apSummaryCard %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set context = fetchContext() %}

{% block beforeContent %}
    {{ govukBackLink({
        text: backlinkLabel,
        href: backlink
    }) }}
{% endblock %}

{% set locationTitle %}
    <span class="govuk-fieldset__legend--s">Preferred location</span>
    <div class="govuk-hint">For example, M5</div>
{% endset %}

{% block content %}
    {% if errorSummary | length %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorSummary
        }) }}
    {% endif %}

    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

    {% call govukDetails({summaryText: "Placement request information", open: not newPlacementSummaryList}) %}
        {{ govukSummaryList(placementRequestInfoSummaryList) }}
    {% endcall %}

    {% if newPlacementSummaryList %}
        {% call govukDetails({summaryText: "New placement information", open: true}) %}
            {{ govukSummaryList(newPlacementSummaryList) }}
        {% endcall %}
    {% endif %}

    <h2 class="govuk-heading-m">{{ summaryCards | length }} Approved Premises found</h2>

    <p>Results are ordered by suitable preferred AP and distance from location.</p>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <form action="{{ formPath }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                <div class="moj-filter">
                    <div class="moj-filter__header govuk-!-padding-left-2">
                        <h3 class="govuk-heading-m">Filters</h3>
                    </div>
                    <div class="space-search-inputs">

                        {% call govukFieldset( {
                            legend: {
                                html: locationTitle
                            },
                            hint: {
                                text: "For example, M5"
                            }
                        }) %}

                            {{ govukInput({
                                id: "postcode",
                                name: "postcode",
                                value: postcode,
                                label: {
                                    text: "Postcode"

                                },
                                classes: "govuk-input--width-3",
                                errorMessage: errors.postcode
                            }) }}

                        {% endcall %}

                        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3">

                        {{ govukRadios({
                            name: "apType",
                            classes: "govuk-radios--small",
                            fieldset: {
                                legend: {
                                    text: 'AP Type',
                                    classes: 'govuk-fieldset__legend--s',
                                    isPageHeading: false
                                }
                            },
                            items: apTypeRadioItems
                        }) }}

                        {% for group in criteriaCheckboxGroups %}
                            {{ govukCheckboxes({
                                name: group.fieldName + '[]',
                                classes: "govuk-checkboxes--small",
                                fieldset: {
                                    legend: {
                                        text: group.legend,
                                        isPageHeading: false,
                                        classes: 'govuk-fieldset__legend--s'
                                    }
                                },
                                items: group.items
                            }) }}
                        {% endfor %}

                        <div class="button">
                            {{ govukButton({
                                text: "Update",
                                preventDoubleClick: true
                            }) }}
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="govuk-grid-column-two-thirds">
            {% for summaryCard in summaryCards %}

                {{ apSummaryCard(summaryCard, placementRequest) }}

            {% endfor %}

            {% if not newPlacementSummaryList %}
                <h3 class="govuk-heading-m">Mark this case as unable to book</h3>
                <p>If there are no suitable results for your search, mark this case as unable to book.</p>
                {{ govukButton({
                    text: "Unable to book",
                    href: paths.placementRequests.bookingNotMade.confirm({ placementRequestId: placementRequest.id }),
                    preventDoubleClick: true
                }) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
