{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends "../../layout.njk" %}

{% set columnClasses = "govuk-grid-column-full applications--pages--attach-documents" %}

{% set textboxLabel %}
  <p class="govuk-body">If there are any other relevant documents on Ndelius that you would like the assessor to know about, add details here.</p>
  <p class="govuk-body">Please include</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>file name</li>
    <li>description of document </li>
  </ul>
{% endset %}

{% block questions %}
  <h1 class="govuk-heading-l">{{page.title}}</h1>

  <p>Select the parole report and parole directions (if available). You can select up to 5 relevant documents to support your request for placement. </p>

  <p class="applications--pages--attach-document__results">Showing <b>{{ page.documents | length }}</b> documents</p>

  {{ govukTable({
    firstCellIsHeader: true,
    classes: "applications--pages--attach-document__table",
    head: [
      {
        html: "Document name",
        classes: "applications--pages--attach-document__header-name"
      },
      {
        text: "Date uploaded to Delius",
        classes: "applications--pages--attach-document__header-date"
      },
      {
        text: "Download",
        classes: "applications--pages--attach-document__header-download"
      },
      {
        text: "Provide description",
        classes: "applications--pages--attach-document__header-description"
      }
    ],
    rows: AttachDocumentsUtils.tableRows(page.documents, page.body.selectedDocuments, page.application, errors)
  }) }}

  {{
    formPageTextarea(
      {
        fieldName: "otherDocumentDetails",
        label: {
        html: textboxLabel
        }
      },
      fetchContext()
    )
  }}

{% endblock %}
