{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends "../layout.njk" %}

{% set columnClasses = "govuk-grid-column-full applications--pages--attach-documents" %}

{% block questions %}
  <h1 class="govuk-heading-l">{{page.title}}</h1> 
  
  <p>You can select some documents to import from NDelius to support your application. </p>
  <p>Not all documents are available to import.</p>

  <p class="applications--pages--attach-document__results">Showing <b>{{ page.documents | length }}</b> documents</p>

  {{ govukTable({
    firstCellIsHeader: true,
    classes: "applications--pages--attach-document__table",
    head: [
      {
        html: "Document name",
        classes: "applications--pages--attach-document__header-name"
      },
      {
        text: "Date uploaded to Delius",
        classes: "applications--pages--attach-document__header-date"
      },
      {
        text: "Download",
        classes: "applications--pages--attach-document__header-download"
      },
      {
        text: "Provide description",
        classes: "applications--pages--attach-document__header-description"
      }
    ],
    rows: AttachDocumentsUtils.tableRows(page.documents, page.body.selectedDocuments, page.application, errors)
  }) }}
  {% if page.documents.length === 0 %}
      <p class="govuk-body">No documents have been imported from Delius</p>
  {% endif %}

{% endblock %}
