{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../../components/keyDetails/macro.njk" import keyDetails %}
{% from "../../../../partials/showErrorSummary.njk" import showErrorSummary %}

{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}

{% extends "../../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLink
    }) }}
{% endblock %}

{% block header %}
    {{ super() }}
    {{ keyDetails(PlacementUtils.getKeyDetail(placement)) }}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

    {{ govukSummaryList(summaryList) }}

    <form action="{{ postUrl }}"
          method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{ govukButton({
            text: "Create appeal",
            preventDoubleClick: true
        }) }}
    </form>


{% endblock %}

