{% extends "partials/layout.njk" %}
{% from "components/manage/profile-banner/macro.njk" import profileBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "moj/components/identity-bar/macro.njk" import mojIdentityBar %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{% from "moj/components/side-navigation/macro.njk" import mojSideNavigation %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "govuk-body govuk-!-padding-top-0" %}

{% set bodyClasses = "wide-page" %}

{% block beforeContent %}
    {% if backLink %}
        {{ govukBackLink({
            text: "Back to residents list",
            href: backLink
        }) }}
    {% endif %}
{% endblock %}

{% set titleHtml %}
    <h1>{{ placement.premises.name }}</h1>
{% endset %}

{% block content %}

    {% include "_messages.njk" %}

    {{ profileBanner(
        resident,
        actions
    ) }}

    {{ mojSubNavigation({
        label: 'Sub navigation',
        items: tabItems
    }) }}

    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

    <div class="govuk-grid-row">

        {% if sideNavigation %}
            <div class="govuk-grid-column-one-quarter">
                {{ mojSideNavigation({items:sideNavigation}) }}
            </div>
        {% endif %}

        <div class="govuk-grid-column-three-quarters">

            {% if subHeading %}
                <h2 class="govuk-heading-m">{{ subHeading }}</h2>
            {% endif %}

            {% if cardList %}
                {% include "./partials/cardList.njk" %}
            {% endif %}

            {% if accordion %}
                {{ govukAccordion(accordion) }}
            {% endif %}

            {% if bottomCardList %}
                {% set cardList = bottomCardList %}
                {% include "./partials/cardList.njk" %}
            {% endif %}
        </div>
    </div>

{% endblock %}