{% extends "partials/layout.njk" %}
{% from "components/manage/profile-banner/macro.njk" import profileBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "moj/components/identity-bar/macro.njk" import mojIdentityBar %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "govuk-body govuk-!-padding-top-0" %}

{% block head %}
    {{ super() }}
    <style nonce="{{ cspNonce }}">
        {# override default width for all containers for this page - prototypes use 1200px, rest of CAS1 uses 960px #}
        .govuk-width-container, .moj-primary-navigation__container, .hmpps-header__container, .hmpps-header__container {
            max-width: 1200px;
        }
    </style>
{% endblock %}

{% block beforeContent %}
    {% if backLink %}
        {{ govukBackLink({
            text: "Back to residents list",
            href: backLink
        }) }}
    {% endif %}
{% endblock %}

{% set titleHtml %}
    <span class="govuk-caption-xl">{{ placement.premises.name }}</span>
    <h1>{{ pageHeading }}</h1>
{% endset %}

{% block content %}

    {% include "_messages.njk" %}

    {{ profileBanner(
        resident,
        actions
    ) }}

    {{ mojSubNavigation({
        label: 'Sub navigation',
        items: tabItems
    }) }}

    <h1 class="govuk-heading-l">Personal details</h1>
{% endblock %}