{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading  %}
{% set mainClasses = "app-container govuk-body assessments--index" %}

{% block content %}
  <div class="govuk-grid-column-two-thirds">
    <h1>{{ pageHeading }}</h1>

    <p>
      You will need to contact the probation practitioner using the details provided below.
    </p>

    <p>
      The probation practitioner should provide this information within 5 days of your request. If the information is not provided within this timeframe you will need to mark the decision as 'requested information not provided by probation practitioner' when submitting your assessment.
    </p>

    <p>
      You will not be able to continue with your assessment until either the information is provided, or 5 days have passed.
    </p>

    <p class="govuk-label--m">Probation practicioner contact information</p>

    {{
      govukSummaryList({
          rows: [
            {
              key: {
                text: "Name"
              },
              value: {
                text: user.name
              }
            },
            {
              key: {
                text: "Email"
              },
              value: {
                text: user.email
              }
            },
            {
              key: {
                text: "Contact number"
              },
              value: {
                html: user.telephoneNumber
              }
            }
          ]
      })
    }}

    {{ govukButton({
      text: "Back to dashboard",
      href: paths.assessments.index()
    }) }}

  </div>
</div>
{% endblock %}
