{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading  %}
{% set mainClasses = "app-container govuk-body assessments--index" %}

{% block content %}
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: pageHeading
    }) }}

    <p>
      Some confirmation text here
    </p>

    {{ govukButton({
      text: "Back to dashboard",
      href: paths.assessments.index()
    }) }}

  </div>
</div>
{% endblock %}
