{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + premises.name %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}

	{{ govukBackLink({
		text: "Back",
		href: paths.premises.show({ premisesId: premisesId })
	}) }}
{% endblock %}

{% block content %}
	<h1 class="govuk-heading-l">{{ premises.name }}</h1>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			{{
					govukSummaryList({
						rows: [
							{
								key: {
									text: "Total number of beds"
								},
								value: {
									text: premises.bedCount
								}
							}
						]
					})
				}}
		</div>
	</div>

	<h2 class="govuk-heading-m">{{ dateObjToUIDate(startDate) }}</h2>

	<p class="govuk-body">
		Showing occupancy for the next 30 days
	</p>

	{{
		govukPagination({
			classes: "govuk-pagination--calendar",
			previous: {
				text: "Previous 14 Days",
				href: paths.premises.calendar({premisesId: premisesId}) + "?startDate=" + previousDate
			},
			next: {
				text: "Next 14 Days",
				href: paths.premises.calendar({premisesId: premisesId}) + "?startDate=" + nextDate
			}
		})
	}}

	{{CalendarUtils.calendar(bedOccupancyRangeList, startDate, premisesId) | safe}}
{% endblock %}
