{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - This page has been moved" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-l">This page has been moved</h1>
      <p class="govuk-body"><a class="govuk-link" href="{{paths.v2Manage.premises.index({})}}">Please click this link to go to the new location</a></p>
    </div>
  </div>
{% endblock %}
