{% from "govuk/components/table/macro.njk" import govukTable %}
{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      {% include "../_messages.njk" %}

      <h1 class="govuk-heading-l">List of Approved Premises</h1>

      {{
      govukTable({
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        head: [
          {
            text: "Name"
          },
          {
            text: "Code"
          },
          {
            text: "Number of beds"
          },
          {
            html: '<span class="govuk-visually-hidden">Actions</span>'
          }
        ],
        rows: PremisesUtils.premisesTableRows(premisesSummaries)
      })
    }}

    </div>
  </div>
{% endblock %}
