{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/showErrorSummary.njk" import showErrorSummary %}

{% extends "partials/layout-with-details.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backlink
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {{ showErrorSummary(errorSummary, errorTitle) }}

            <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>

            <form action="{{ currentUrl }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukRadios({
                    name: "typeOfAp",
                    fieldset: {
                        legend: {
                            text: 'Type of AP',
                            classes: 'govuk-fieldset__legend--m',
                            isPageHeading: false
                        }
                    },
                    items: typeOfApRadioItems
                }) }}

                {% for group in criteriaCheckboxGroups %}
                    {{ govukCheckboxes({
                        name: group.fieldName + '[]',
                        fieldset: {
                            legend: {
                                text: group.legend,
                                isPageHeading: false,
                                classes: 'govuk-fieldset__legend--m'
                            }
                        },
                        items: group.items
                    }) }}
                {% endfor %}

                {{ govukButton({
                    text: "Save and continue",
                    preventDoubleClick: true
                }) }}
            </form>
        </div>
    </div>
{% endblock %}

