{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% from "partials/showErrorSummary.njk" import showErrorSummary %}

{% extends "partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + premises.name %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backlink
    }) }}
{% endblock %}

{% block content %}
    {% include "_messages.njk" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

            {{ showErrorSummary(errorSummary) }}

            <form method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                <span class="govuk-caption-l">{{ premises.name }}</span>
                <h1 class="govuk-heading-l">Do you want to remove this restriction?</h1>

                {{ govukInsetText({
                    text: restriction.description
                }) }}

                {{ govukButton({
                    type: 'submit',
                    text: 'Confirm',
                    preventDoubleClick: true
                }) }}
            </form>
        </div>
    </div>

{% endblock %}
