{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "partials/showErrorSummary.njk" import showErrorSummary %}

{% extends "partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + premises.name %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backlink
    }) }}
{% endblock %}

{% block content %}
    {% include "_messages.njk" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

            {{ showErrorSummary(errorSummary) }}

            <span class="govuk-caption-l">{{ premises.name }}</span>
            <h1 class="govuk-heading-l">Add a local restriction</h1>

            <form method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                <div data-module="govuk-character-count" data-maxlength="100">
                    {{ govukInput({
                        label: {
                            text: 'Enter details about the restriction',
                            classes: 'govuk-label--m'
                        },
                        hint: {
                            text: 'Add information that is not captured by the site survey and any relevant dates. For example, ‘no arson offences during November’.'
                        },
                        classes: 'govuk-js-character-count',
                        name: "description",
                        value: description,
                        errorMessage: errors.description
                    }) }}
                    <div id="description-info" class="govuk-hint govuk-character-count__message">
                        You can enter up to 100 characters
                    </div>
                </div>

                {{ govukButton({
                    type: 'submit',
                    text: 'Add restriction',
                    preventDoubleClick: true
                }) }}
            </form>
        </div>
    </div>

{% endblock %}
