{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName %}
{% set mainClasses = "app-container govuk-body" %}
{% set bodyClasses = "dashboard--index" %}

{% block content %}

  {% include "../_messages.njk" %}

  <h1>{{ pageHeading }}</h1>

  <div class="card-container">
    <div class="card" data-cy-card-service="apply">
      <div class="card-body">
        <h2 class="govuk-heading-s">
          <a class="govuk-link" href="{{ paths.applications.index({}) }}">Apply for an Approved Premises placement</a>
        </h2>
        <p class="govuk-body">Apply for a placement in an Approved Premises on behalf of a person on probation/in custody.</p>
      </div>
    </div>

    {% if 'assessor' in user.roles %}
      <div class="card" data-cy-card-service="assess">
        <div class="card-body">
          <h2 class="govuk-heading-s">
            <a class="govuk-link" href="{{ paths.assessments.index({}) }}">Assess Approved Premises applications</a>
          </h2>
          <p class="govuk-body">Assess applications for placements in an Approved Premises</p>
        </div>
      </div>
    {% endif %}

    {% if 'manager' in user.roles %}
      <div class="card" data-cy-card-service="manage">
        <div class="card-body">
          <h2 class="govuk-heading-s">
            <a class="govuk-link" href="{{ paths.premises.index({}) }}">Manage an Approved Premises</a>
          </h2>
          <p class="govuk-body">Manage occupancy at an Approved Premises</p>
        </div>
      </div>
    {% endif %}

  </div>

{% endblock %}
