<div class="govuk-grid-row technical-updates-banner" id="technical-updates-banner">
    <div class="govuk-grid-column-full">
        <div class="govuk-width-container govuk-body-s technical-updates-container">
            <div class="technical-updates-content">
                <strong class="technical-updates-whats-new">New features</strong>
                <span>We're updating the service all the time, <a class="govuk-link govuk-link--inverse" href="/whats-new">find out more on the What's new page.</a></span>
            </div>
        </div>
    </div>
</div>

