@use "govuk-frontend/dist/govuk" as *;

.govuk-main-wrapper {
  min-height: 600px;
}

.moj-identity-bar__title {
  @include govuk-font($size: 19);
}

.govuk-form-group {
  &--inline {
    float: left;
    @include govuk-responsive-margin(4, 'right');
    @include govuk-responsive-margin(0, 'bottom');
  }
}

.govuk-checkboxes--inline {
  display: flex;
  flex-wrap: wrap;
  gap: govuk-spacing(3);

  & label {
    min-inline-size: fit-content;

    &:before {
      background: govuk-colour('white');
    }
  }
}

.govuk-body__text-block {
  white-space: pre-wrap;
}

a.link-disabled {
  cursor: default;
  background: govuk-colour("light-grey");
  color: govuk-colour("mid-grey");
  box-shadow: none;
}

.flex_justify_space_between {
  justify-content: space-between;
}
