<p class="govuk-body">The placement at {{ premises.name }} has been changed:</p>
<ul class="govuk-list govuk-list--bullet">
    {% if previousExpectedArrival %}
        <li>Arrival date changed from {{ previousExpectedArrival }} to {{ expectedArrival }}</li>
    {% endif %}
    {% if previousExpectedDeparture %}
        <li>Departure date changed from {{ previousExpectedDeparture }} to {{ expectedDeparture }}</li>
    {% endif %}
    {% if previousCharacteristics %}
        <li>Room criteria changed from {{ previousCharacteristics }} to {{ characteristics }}</li>
    {% endif %}
    {% if not previousExpectedArrival and not previousExpectedDeparture and not previousCharacteristics %}
        <li>No change</li>
    {% endif %}
</ul>
