{% extends "partials/layout.njk" %}

{% from "partials/filters.njk" import filterWrapper, filterSelect, filterDatepicker, filterText, filterCheckboxes %}
{% from "components/formFields/selectWithOptgroup.njk" import govukSelectWithOptgroup %}
{% from "partials/showErrorSummary.njk" import showErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "partials/_calendar.njk" import calendarKey %}
{% from "./partials/_weekCalendar.njk" import weekCalendar %}
{

{% set pageTitle = applicationName + " - " + pageHeading %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back to CRU dashboard",
        href: backLink
    }) }}
{% endblock %}

{% block content %}

    {{ showErrorSummary(errorSummary) }}
    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

    {% call filterWrapper('Filter') %}
        {{ filterDatepicker('arrivalDate', 'Arrival date', fetchContext()) }}
        {{ filterText('postcode','Postcode area', fetchContext()) }}
        {{ govukSelectWithOptgroup({
            label: {
                classes: "govuk-fieldset__legend--s",
                text: "AP area"
            },
            id: "apArea",
            name: "apArea",
            items: cruManagementAreaOptions
        }) }}

        {{ filterSelect('apType','Type of AP',apTypeOptions ) }}
        {{ filterCheckboxes('apCriteria','AP criteria',apCriteria) }}
        {{ filterCheckboxes('roomCriteria','Room criteria',roomCriteria) }}
    {%- endcall %}

    {% if processedCapacity %}

        <section id="calendar-heading">
            <h2 class="govuk-heading-l">Showing spaces from {{ formatDate(fromDate,{format:'short'}) }}</h2>
            <h3 class="govuk-heading-m">{{ processedCapacity.length }} Approved Premises found</h3>
            {{ criteriaBlock | safe }}

            {% if postcode and processedCapacity.length > 1 %}
                <p>Results are ordered by distance from postcode area: {{ postcode }}</p>
            {% endif %}
        </section>

        {% if processedCapacity.length > 0 %}

            {{ calendarKey() }}

            {{ govukPagination(pagination) }}

            <section aria-describedby="calendar-key">
                {{ weekCalendar(processedCapacity, dateHeader) }}
            </section>
        {% endif %}

    {% endif %}
{% endblock %}