{% set cruManagementAreaFilter %}
    {{ govukSelect({
        label: {
            text: "AP area",
            classes: "govuk-label--s"
        },
        id: "area",
        name: "area",
        items: convertObjectsToSelectOptions(cruManagementAreas, 'All areas', 'name', 'id', 'cruManagementArea', 'all', context)
    }) }}
{% endset %}

{% set allocatedUserFilter %}
    {{ govukSelect({
        label: {
            text: "Allocated user",
            classes: "govuk-label--s"
        },
        id: "allocatedToUserId",
        name: "allocatedToUserId",
        items: convertObjectsToSelectOptions(users, 'All users', 'name', 'id', 'allocatedToUserId', '', context)
    }) }}
{% endset %}

{% set qualificationsFilter %}
    {{ govukSelect({
        label: {
            text: "Required qualification",
            classes: "govuk-label--s"
        },
        id: "requiredQualification",
        name: "requiredQualification",
        items: userQualificationSelectOptions
    }) }}
{% endset %}

{% set submitButton %}
    {{ govukButton({
        "name": "submit",
        "text": "Apply filters",
        preventDoubleClick: true
    }) }}
{% endset %}

<form action="{{ paths.tasks.index({}) }}" method="get" class="search-and-filter">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <input type="hidden" name="activeTab" value="{{ activeTab }}">
    <input type="hidden" name="allocatedFilter" value="{{ allocatedFilter }}">

    <h2 class="govuk-heading-m">Filters</h2>

    <div class="govuk-form-group">
        <label class="search-and-filter__crn-label--small" for="crnOrName">
            CRN or Name
        </label>
        <input class="govuk-input moj-search__input" id="crnOrName" name="crnOrName" type="search"
               aria-describedby="crn-hint" value="{{ crnOrName }}">
    </div>

    <div class="search-and-filter__row">
        {{ cruManagementAreaFilter | safe }}

        {% if activeTab == 'allocated' or activeTab == 'completed' %}
            {{ allocatedUserFilter | safe }}
        {% endif %}

        {{ qualificationsFilter | safe }}

        {{ submitButton | safe }}
    </div>
</form>
