{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{% macro navigation(activeTab, apArea) %}
  {{
    mojSubNavigation({
      label: 'Sub navigation',
      items: TaskUtils.tasksTabItems(activeTab, apArea)
    })
  }}
{% endmacro %}
