{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{% macro navigation(activeTab, hrefPrefix) %}
  {{
    mojSubNavigation({
      label: 'Sub navigation',
      items: TaskUtils.tasksTabItems(hrefPrefix, activeTab)
    })
  }}
{% endmacro %}
