{% extends "../partials/layout.njk" %}

{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/sortableTable/macro.njk" import sortableTable %}
{% from "./_navigation.njk" import navigation %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body tasks--index" %}

{% block content %}

    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
    {% include "../_messages.njk" %}
    {% include "./_filters.njk" %}

    {{ navigation(activeTab, hrefPrefix) }}

    {{ sortableTable({
        firstCellIsHeader: true,
        head: taskHeader,
        rows: taskRows
    }) }}

    {{ govukPagination(pagination(pageNumber, totalPages, hrefPrefix)) }}

{% endblock %}
