{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "./_navigation.njk" import navigation %}

{% set pageTitle = applicationName + " - " + pageHeading  %}
{% set mainClasses = "app-container govuk-body tasks--index" %}

{% block content %}

  <div class="govuk-width-container">
    <div>

      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
      {% include "../_messages.njk" %}
      <div class="search-and-filter__wrapper">
        <form action="{{ paths.tasks.index({}) }}" method="get">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          <input type="hidden" name="allocatedFilter" value="{{ allocatedFilter }}">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
              <h2 class="govuk-heading-m">Filters</h2>
            </div>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              {{ govukSelect({
                      label: {
                        text: "AP Areas",
                        classes: "govuk-label--s"
                      },
                      id: "area",
                      name: "area",
                      items: convertObjectsToSelectOptions(apAreas, 'All areas', 'name', 'id', 'apArea', 'all', context)
                    }) }}
            </div>
            <div class="govuk-grid-column-one-third">
              {{ govukSelect({
                      label: {
                        text: "Allocated user",
                        classes: "govuk-label--s"
                      },
                      id: "allocatedToUserId",
                      name: "allocatedToUserId",
                      items: convertObjectsToSelectOptions(users, 'All users', 'name', 'id', 'allocatedToUserId', '', context)
                    }) }}
            </div>
            <div class="govuk-grid-column-one-third">
              {{ govukSelect({
                      label: {
                        text: "Required qualification",
                        classes: "govuk-label--s"
                      },
                      id: "requiredQualification",
                      name: "requiredQualification",
                      items: TaskUtils.userQualificationsSelectOptions(requiredQualification)
                    }) }}
            </div>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              {{ govukButton({
                      "name": "submit",
                      "text": "Apply filters",
                      "classes": "search-and-filter__submit"
                  }) }}
            </div>
          </div>
        </form>
      </div>
      {{ navigation(allocatedFilter, apArea) }}

      {{
        govukTable({
            firstCellIsHeader: true,
            head: TaskUtils.tasksTableHeader(allocatedFilter, sortBy, sortDirection, hrefPrefix),
            rows: TaskUtils.tasksTableRows(tasks, allocatedFilter)
          })
      }}

      {{ govukPagination(pagination(pageNumber, totalPages, hrefPrefix)) }}

    </div>
  </div>
{% endblock %}
