{% extends "../partials/layout.njk" %}
{% from "components/sortableTable/macro.njk" import sortableTable %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "./_navigation.njk" import navigation %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body tasks--index" %}

{% block content %}

    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
    {% include "../_messages.njk" %}
    {% include "./_filters.njk" %}

    {{ navigation(activeTab, hrefPrefix) }}

    {{ sortableTable({
        firstCellIsHeader: true,
        head: TaskUtils.tasksTableHeader(activeTab, sortBy, sortDirection, hrefPrefix),
        rows: TaskUtils.tasksTableRows(tasks, activeTab)
    }) }}

    {{ govukPagination(pagination(pageNumber, totalPages, hrefPrefix)) }}

{% endblock %}
