{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% from "components/sortableTable/macro.njk" import sortableTable %}

{% from "partials/showErrorSummary.njk" import showErrorSummary %}
{% from "partials/filters.njk" import filterWrapper, filterSelect %}

{% extends "partials/layout.njk" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                {{ pageHeading }}
            </h1>

            {{ govukSummaryList({
                rows: TaskUtils.taskSummary(task, application)
            }) }}

            {{ showErrorSummary(errorSummary) }}
        </div>
    </div>
    {% if canAllocate %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Allocate task to</h2>
            </div>
        </div>

        {% call filterWrapper('Filters') %}
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ filterSelect('cruManagementAreaId', 'AP area', convertObjectsToSelectOptions(cruManagementAreas, 'All areas', 'name', 'id', 'cruManagementAreaId')) }}
            {{ filterSelect('qualification', 'Qualifications', UserUtils.userQualificationsSelectOptions(qualification)) }}
        {% endcall %}

        {{ sortableTable({
            attributes: { 'data-module': 'moj-sortable-table' },
            firstCellIsHeader: true,
            head: TaskUtils.userTableHeader(),
            rows: TaskUtils.userTableRows(users, task, csrfToken)
        }) }}

    {% endif %}

{% endblock %}

