{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% from "../partials/showErrorSummary.njk" import showErrorSummary %}

{% extends "../partials/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      {{
        govukSummaryList({
            rows: TaskUtils.taskSummary(task, application)
        })
      }}

      {{ showErrorSummary(errorSummary) }}

      <form action="{{ paths.tasks.allocations.create({ id: task.id, taskType: (task.taskType | kebabCase) }) }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {{
          govukSelect({
            label: {
              html: '<h2 class="govuk-heading-m">Reallocate task</h2>'
            },
            hint: {
              text: 'Select a staff member to allocate the task to'
            },
            id: "userId",
            name: "userId",
            items: convertObjectsToSelectOptions(users, 'Please select', 'name', 'id', 'userId'),
            errorMessage: errors.userId
          })
        }}

        {{
          govukButton({
          text: "Submit"
          })
        }}
      </form>
    </div>

  </div>

</div>

{% endblock %}
