.calendar__month {
  border-top: 1px solid $govuk-border-colour;

  .calendar__day {
    padding: govuk-spacing(2) 0;
    border-bottom: 1px solid $govuk-border-colour;
  }

  @include govuk-media-query($from: tablet) {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2px;
    border-top: none;

    .calendar__day {
      margin: 0;
      padding: govuk-spacing(2);
      border: 1px solid $govuk-text-colour;
      @include govuk-font-size(16);
    }

    .calendar__day--mon {
      grid-column-start: 1;
    }
    .calendar__day--tue {
      grid-column-start: 2;
    }
    .calendar__day--wed {
      grid-column-start: 3;
    }
    .calendar__day--thu {
      grid-column-start: 4;
    }
    .calendar__day--fri {
      grid-column-start: 5;
    }
    .calendar__day--sat {
      grid-column-start: 6;
    }
    .calendar__day--sun {
      grid-column-start: 7;
    }
  }
}
