.prev-next {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: govuk-spacing(3);

  .prev-next--prev {
    margin-right: govuk-spacing(3);

    &::before {
      content: "\2190";
      margin-right: govuk-spacing(2);
      font-size:30px;
    }
  }

  .prev-next--next::after {
    content: "\2192";
    margin-left: govuk-spacing(2);

    font-size:30px;
  }
}