.search-and-filter {
  &__wrapper {
    @include govuk-responsive-padding(6);
    @include govuk-responsive-margin(6, 'bottom');

    background-color: govuk-colour('light-grey');
  }

  &__crn-label {
    @extend .govuk-heading-m;
  }

  &__submit {
    @include govuk-responsive-margin(6, 'top');
  }
}
