.calendar__month {
  border-top: 1px solid $govuk-border-colour;

  .calendar__day {
    margin: 0;
    border-bottom: 1px solid $govuk-border-colour;
    color: $govuk-text-colour;

    #calendar-key & {
      padding: govuk-spacing(2) 0;
    }
  }

  .calendar__link {
    display: flex;
    flex-direction: row;
    gap: govuk-spacing(4);
    color: $govuk-text-colour;
    padding: govuk-spacing(2) 0;
    text-decoration: none;

    &:hover, &:focus {
      background: govuk-colour('blue');
      color: govuk-colour('white');
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }

    &:focus {
      outline: 3px solid govuk-colour('yellow');
      outline-offset: -2px;
      box-shadow: none;
    }
  }

  .calendar__date {
    min-width: 20%;
  }

  .calendar__availability {
    margin: 0;

    dd {
      margin: 0;

      &:only-of-type {
        margin-bottom: govuk-spacing(4);
      }
    }
  }

  @include govuk-media-query($from: tablet) {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2px;
    border-top: none;

    #calendar-key & {
      display: flex;
    }

    .calendar__day {
      display: flex;
      border: 1px solid $govuk-text-colour;

      #calendar-key & {
        padding: govuk-spacing(2) govuk-spacing(6);
      }
    }

    .calendar__link {
      flex: 1;
      flex-direction: column;
      padding: govuk-spacing(2);
      @include govuk-font-size(16);
    }

    .calendar__day--mon {
      grid-column-start: 1;
    }
    .calendar__day--tue {
      grid-column-start: 2;
    }
    .calendar__day--wed {
      grid-column-start: 3;
    }
    .calendar__day--thu {
      grid-column-start: 4;
    }
    .calendar__day--fri {
      grid-column-start: 5;
    }
    .calendar__day--sat {
      grid-column-start: 6;
    }
    .calendar__day--sun {
      grid-column-start: 7;
    }

    .calendar__date {
      margin-bottom: auto;
    }
  }
}
