@use 'govuk-frontend/dist/govuk' as *;

.govuk-list {
  &--compact {
    margin-bottom: 0;

    li:last-child {
      margin-bottom: 0;
    }
  }
}

dl.details-list {
  overflow: hidden;
  @include govuk-responsive-margin(5, 'top');
  @include govuk-responsive-margin(5, 'bottom');
  dt {
    float: left;
    clear: both;
    @include govuk-font($size: 19, $weight: bold, $tabular: true);
  }

  dd {
    float: left;
    @include govuk-font($size: 19, $tabular: true);
    @include govuk-responsive-margin(2, 'left');
  }
}
