[aria-sort] {
  a,
  button {
    display: inline-flex;
    background-color: transparent;
    border-width: 0;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    color: #005ea5;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0 16px 0 0;
    position: relative;
    text-align: inherit;
    text-decoration: none;
    margin: 0;

    &:hover {
      text-decoration: underline;
      @include govuk-link-common;
      padding: 0 16px 0 0;
    }

    &:focus {
      background-color: $govuk-focus-colour;
      color: $govuk-focus-text-colour;
      box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
      outline: none;
    }

    &:before,
    &:after {
      position: absolute;
      right: 0;
      font-size: 0.5em;
    }

    &:before {
      content: " \25bc" / "";
      top: 11px;
    }

    &:after {
      content: " \25b2" / "";
      top: 2px;
    }
  }

  button svg {
    display: none;
  }
}

[aria-sort="ascending"] {
  button, a {
    &:before {
      content: none;
    }

    &:after {
      font-size: .8em;
    }
  }
}

[aria-sort="descending"] {
  button, a {
    &:after {
      content: none;
    }

    &:before {
      font-size: .8em;
      top: 2px
    }
  }
}
