@use "govuk-frontend/dist/govuk" as *;

.space-search-inputs {
  display: flex;
  flex-direction: column;
  @include govuk-responsive-padding(2);

  .govuk-form-group {
    margin-top: auto;
  }

  .button {
    margin-top: auto;
  }
}
