@use "govuk-frontend/dist/govuk" as *;

.moj-sub-navigation__link[aria-selected] {
  color: $govuk-link-active-colour;
  position: relative;
  text-decoration: none;

  &:before {
    background-color: $govuk-link-colour;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;

    @include govuk-media-query($from: tablet) {
      height: 5px;
      width: 100%;
    }
  }

  &:focus:before {
    background-color: govuk-colour("black");
  }

  &.disabled {

  }
}

.moj-sub-navigation__item.disabled .moj-sub-navigation__link {
  color: $govuk-secondary-text-colour;
  cursor: default;
}
