@use "govuk-frontend/dist/govuk" as *;

.whats-new-top {
    &-banner {
        background-color: govuk-colour('purple');
        padding: 10px 0;
    }

    &-container {
        color: govuk-colour('white');
    }

    &-content {
        float: left;
    }

    &-whats-new {
        margin-right: 5px;
    }

    &-hide-message {
        float: right;
    }
}

