.wide-page {
  .govuk-width-container,
  .moj-primary-navigation__container,
  .hmpps-header__container,
  .moj-identity-bar__container {
    max-width: 1170px;
    margin-right: 15px;
    margin-left: 15px;
  }
  @media (min-width: 40.0625em) {
    .govuk-width-container,
    .moj-primary-navigation__container,
    .hmpps-header__container {
      margin-right: 30px;
      margin-left: 30px;
    }
  }
  @media (min-width: 40.0625em) {
    @supports (margin: max(calc(0px))) {
      .govuk-width-container,
      .moj-primary-navigation__container,
      .hmpps-header__container {
        margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
        margin-left: max(30px, calc(15px + env(safe-area-inset-left)));
      }
      .moj-identity-bar__container {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
  @media (min-width: 1230px) {
    @supports (margin: max(calc(0px))) {
      .govuk-width-container,
      .moj-primary-navigation__container,
      .hmpps-header__container,
      .moj-identity-bar__container {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}
