{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% set characteristicsHtml%}
<ul>
  {% for characteristic in characteristics %}
    <li>{{characteristic.name}}</li>
  {% endfor %}
</ul>
{%endset%}

{% block beforeContent %}
  {% if referrer %}
    {{ govukBackLink({
      text: "Back",
      href: referrer
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">

      {{
          mojIdentityBar({
            title: {
              html: '<span class="govuk-caption-l">' + outOfServiceBed.premises.name + '</span><span class="govuk-caption-l">Room ' + outOfServiceBed.room.name + ' | Bed ' + outOfServiceBed.bed.name + '</span> <h1 class="govuk-heading-l">View out of service bed record</h1>'
            },
            menus: [{
              items: [
                {
                  text: "Update record",
                  href: paths.v2Manage.outOfServiceBeds.update({premisesId: premisesId, id: id})
                }
              ]
            }]
          })
        }}

      {{
        mojSubNavigation({
          label: 'Sub navigation',
          items: [{
            text: 'Details',
            href: paths.v2Manage.outOfServiceBeds.show({ premisesId: premisesId, bedId: bedId, id: id, tab: 'details' }),
            active: activeTab === 'details'
          }, {
            text: 'Timeline',
            href: paths.v2Manage.outOfServiceBeds.show({ premisesId: premisesId, bedId: bedId, id: id, tab: 'timeline' }),
            active: activeTab === 'timeline'
          }]
        })
      }}

      {{
        govukSummaryList({
          rows: [
            {
              key: {
                text: "Start date"
              },
              value: {
                text: formatDate(outOfServiceBed.revisionHistory[0].startDate, {format: 'long'})
              }
            },
            {
              key: {
                text: "End date"
              },
              value: {
                text: formatDate(outOfServiceBed.revisionHistory[0].endDate, {format: 'long'})
              }
            },
            {
              key: {
                text: "Reason"
              },
              value: {
                text: outOfServiceBed.revisionHistory[0].reason.name
              }
            },
            {
              key: {
                text: "End date"
              },
              value: {
                text: formatDate(outOfServiceBed.endDate, {format: 'long'})
              }
            },

            {
              key: {
                text: "Reference number"
              },
              value: {
                text: outOfServiceBed.revisionHistory[0].referenceNumber
              }
            },
            {
              key: {
                text: "Additional information"
              },
              value: {
                text: outOfServiceBed.revisionHistory[0].notes
              }
            },
            {
              key: {
                text: "Characteristics"
              },
              value: {
                html: characteristicsHtml
              }
            }
          ]
        })
      }}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    </div>
  </div>
{% endblock %}
