{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading  %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
    {{ govukBackLink({
		text: "Back",
		href: paths.admin.placementRequests.show({ id: id })
	}) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="{{ paths.admin.placementRequests.unableToMatch.create({ id: id }) }}" method="post">
                <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>

                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

                <p class="govuk-body">We recommend that you continue to search for a placement weekly until a match is found.</p>
                <p class="govuk-body">If the expected arrival date is less than 4 weeks away, consider the referral prioritisation approach or escalation to an AP Area Manager.</p>
                <p class="govuk-body">This placement request will be added to your dashboard</p>

                <div class="govuk-button-group">
                    {{ govukButton({
                        name: 'submit',
                        text: "Continue",
                        preventDoubleClick: true
                    }) }}
                    <a class="govuk-link" href="{{paths.admin.placementRequests.show({ id: id })}}">Back to placement details</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
