{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../../../components/formFields/form-page-textarea/macro.njk" import formPageTextarea %}
{% from "../../../components/formFields/form-page-radios/macro.njk" import formPageRadios %}

{% extends "../../../partials/layout.njk" %}

{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: pageProps.backLink
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <h1 class="govuk-heading-l">
            {{ pageProps.pageHeading }}
        </h1>

        {{ showErrorSummary(errorSummary) }}

        {% if placementApplication.applicationCompletedAt %}
            <p>
                <a href="{{ paths.applications.show({id: placementApplication.applicationId}) }}">View application</a>
                (Completed on {{ formatDateTime(placementApplication.applicationCompletedAt) }})
            </p>
        {% endif %}

        {% if placementApplication.assessmentCompletedAt %}
            <p>
                <a href="{{ paths.assessments.show({id: placementApplication.assessmentId}) }}">View assessment</a>
                (Completed on {{ formatDateTime(placementApplication.assessmentCompletedAt) }})
            </p>
        {% endif %}

        {{ govukSummaryList(reviewQuestions) }}

        <form action="{{ paths.placementApplications.review.update({ id: placementApplication.id }) }}" method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

            {% block questions %}

                {{ formPageTextarea({
                    fieldName: 'summaryOfChanges',
                    label: {
                        text: "Summarise any significant changes that have happened between the assessment and this placement request",
                        classes: "govuk-label--s"
                    }
                }, fetchContext()) }}

            {% endblock %}

            {{ govukButton({
                text: "Save and continue",
                preventDoubleClick: true
            }) }}
        </form>
    </div>

{% endblock %}