<p>Record any observations which may be helpful for the receiving AP to follow up on as part of pre-arrival planning.</p>
<p>For example, this may include any additional actions required by the probation practitioner to make a placement viable. Or include reference to any agreements regarding funding for additional resources that may be required.</p>
