<p>Consider if the probation practitioner should seek assistance or intervention from other agencies to support effective management in the community, or address risk issues and additional needs. For example:</p>
<ul>
    <li>GP support</li>
    <li>Mental health services</li>
    <li>Drug and alcohol support</li>
    <li>Gambling support</li>
    <li>Women's services</li>
    <li>Care Act assessment</li>
    <li>Assistance from the local authority with care and support needs</li>
    <li>Liaison with accommodation providers regarding move on plans</li>
</ul>
<p>Consider if there is any further information that may be required by the receiving Approved Premises (AP) but is not necessary for the purpose of determining suitability.</p>
