<p>Record observations which may be helpful for the receiving AP to follow up on as part of pre-arrival planning.</p>
<p>For example, any additional actions required by the probation practitioner to make a placement viable. Or any agreements regarding funding for additional resources that may be required.</p>
<p>This should also include any meetings the receiving AP manager may need to attend, including MAPPA or transgender case boards. </p>
