<p>There may be occasions where there is evidence that a person’s behaviour would pose an unacceptable risk to staff, self, others in the AP, or the local community which would not be mitigated by the proposed licence conditions or the regime and security of the AP.</p>
<p>In these instances, the assessor cannot decide the application is unsuitable without first discussing the application with an APAM to identify potential mitigations to make the risk manageable. This may include the need for additional resources.</p>
<p>
    <b>If 'yes' is selected</b>
    <br>Record the nature of the concerns in the additional comments box and why these are considered unmanageable.</p>
<p>Additional recommendations for the receiving AP manager must be provided in the next question.</p>
