<p>The application should identify any additional curfews or sign ins that will be required during the placement.</p>
<p>Consider whether these are sufficient and make recommendations for additional curfews or sign ins where these are assessed as necessary and proportionate.</p>
