{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% macro dateRangeList(ranges) %}
    <ul>
        {% for range in ranges %}
            <li>
                <strong>{{ formatDate(range.from) }}
                {% if range.to != range.from %} to {{ formatDate(range.to) }}{% endif %}
                </strong>
                ({{ formatDuration(range.duration) }})
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro overbookingSummary(overbookings, viewSpacesLink) %}
    {% set bannerHtml %}
        <p class="govuk-heading-m">Overbooking in the next 12 weeks</p>
        {{ dateRangeList(overbookings) }}
        <a class="govuk-link" href="{{ viewSpacesLink }}">View spaces</a>
    {% endset %}
    {% if overbookings and overbookings.length %}
    {{ govukNotificationBanner({
        html: bannerHtml,
        classes: 'govuk-notification-banner--full-width-content'
    }) }}
    {% endif %}
{% endmacro %}