{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% extends "../layout.njk" %}

{% block questions %}

    <h1 class="govuk-heading-l">{{page.title}}</h1>

    {% for sectionName, question in page.sections %}
        {%
            call govukFieldset({
                legend: {
                    text: question,
                    classes: "govuk-fieldset__legend--m"
                }
            })
        %}

        {% set hintHtml %}
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                View guidance notes
                </span>
            </summary>

            <div class="govuk-details__text">
                {% include './partials/' + sectionName + '.njk' %}
            </div>
        </details>
        {% endset %}

        {% if sectionName === 'concernsOfUnmanagableRisk' %}

            <div class="govuk-hint">
                If yes, the application must be discussed with the Approved Premises Area Manager (APAM) to identify additional support that may be required
            </div>

            {% set unmanageableRisks %}

            {{
                formPageInput(
                {
                label: {
                    text: "Name of area manager"
                },
                fieldName: "nameOfAreaManager"
                },
                fetchContext()
            )
            }}

            {{
                formPageDateInput(
                    {
                    label: {
                        text: "Date of discussion"
                    },
                    fieldName: "dateOfDiscussion",
                    items: dateFieldValues('dateOfDiscussion', errors)
                    },
                    fetchContext()
                )
            }}

            {{ formPageTextarea({
                fieldName: 'outlineOfDiscussion',
                label: {
                    text: "Outline the discussion, including any additional measures that have been agreed."
                    }
            }, fetchContext()) }}
            {% endset %}

            {{ formPageRadios({
                fieldName: sectionName,
                hint: {
                    html: hintHtml
                },
                items: [
                    {
                        value: "yes",
                        text: "Yes",
                        conditional: {
                            html: unmanageableRisks
                    }
                    },
                    {
                        value: "no",
                        text: "No"
                    }
                ]
            }, fetchContext())}}

        {% else %}
            {{ formPageRadios({
                fieldName: sectionName,
                hint: {
                    html: hintHtml
                },
                items: [
                    {
                        value: "yes",
                        text: "Yes"
                    },
                    {
                        value: "no",
                        text: "No"
                    }
                ]
            }, fetchContext()) }}

        {% endif %}

        {{ formPageTextarea({
                    fieldName: sectionName + "Comments",
                    label: {
                        text: "Additional comments",
                        classes: "govuk-label--s"
                    }
                }, fetchContext()) }}
        {% endcall %}
    {% endfor %}

{% endblock %}
