{% extends "../layout.njk" %}

{% block questions %}

  <h1 class="govuk-heading-l">{{page.title}}</h1>

  {{
    formPageInput(
      {
        label: {
          text: page.questions.postcodeArea,
          classes: "govuk-label--m"
        },
        hint: {
          html: '<p class="govuk-hint">Please provide the postcode area only. To get the postcode from the full postcode remove the last 3 characters. For example, the postcode area for SW11 4NJ is SW11.</p>
          <p>We aim to accommodate someone within 50 miles of the postcode area provided.</p>
          <p>If you are unsure about which postcode area to provide, you can use the postcode area for the probation office.</p>'
        },
        classes: "govuk-input--width-3",
        fieldName: "postcodeArea"
      },
      fetchContext()
    )
  }}

  {{
    formPageTextarea(
      {
        fieldName: "positiveFactors",
        label: {
          text: page.questions.positiveFactors
        }
      },
      fetchContext()
    )
  }}

  {% set alternativeRadiusSelect %}
  {{ govukSelect({
    label: {
      text: page.questions.alternativeRadius
    },
    id: "alternativeRadius",
    name: "alternativeRadius",
    items: convertObjectsToSelectOptions(page.radiusItems(), 'Please Select', 'key', 'value', 'alternativeRadius'),
    errorMessage: errors.alternativeRadius
  }) }}
  {% endset -%}

  {{
    formPageRadios(
      {
        fieldName: "alternativeRadiusAccepted",
        fieldset: {
          legend: {
            text: page.questions.alternativeRadiusAccepted,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: alternativeRadiusSelect
            }
          },
          {
            value: "no",
            text: "No"
          }
        ]
      },
      fetchContext()
    )
  }}

  {% set placementRestrictions %}
  {{
    formPageTextarea(
      {
        fieldName: "restrictionDetail",
        label: {
          text: page.questions.restrictionDetail
        }
      },
      fetchContext()
    )
  }}
  {% endset -%}

  {{
    formPageRadios(
      {
        fieldName: "restrictions",
        fieldset: {
          legend: {
            text: page.questions.restrictions,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Where there's a risk to a known person, exclusion zones or limits on movements."
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: placementRestrictions
            }
          },
          {
            value: "no",
            text: "No"
          }
        ]
      },
      fetchContext()
    )
  }}

{% endblock %}
