{% extends "../layout.njk" %}

{% block questions %}

  <h1 class="govuk-heading-l">{{page.title}}</h1>


  {{
    applyInput(
      {
        label: {
          text: page.questions.postcodeArea,
          classes: "govuk-label--m"
        },
        hint: {
          text: "For example SW1."
        },
        fieldName: "postcodeArea"
      },
      fetchContext()
    )
  }}

  {{
    applyTextarea(
      {
        fieldName: "positiveFactors",
        label: {
          text: page.questions.positiveFactors
        }
      },
      fetchContext()
    )
  }}

   {% set alternativeRadiusSelect %}
  {{ govukSelect({
    label: {
      text: page.questions.alternativeRadius
    },
    id: "alternativeRadius",
    name: "alternativeRadius",
    items: convertObjectsToSelectOptions(page.radiusItems(), 'Please Select', 'key', 'value', 'alternativeRadius'),
    errorMessage: errors.alternativeRadius
  }) }}
  {% endset -%}

  {{
    applyRadios(
      {
        fieldName: "alternativeRadiusAccepted",
        fieldset: {
          legend: {
            text: page.questions.alternativeRadiusAccepted,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: alternativeRadiusSelect
            }
          },
          {
            value: "no",
            text: "No"
          }
        ]
      },
      fetchContext()
    )
  }}

  {% set placementRestrictions %}
  {{
    applyTextarea(
      {
        fieldName: "restrictionDetail",
        spellcheck: false,
        label: {
          text: page.questions.restrictionDetail
        }
      },
      fetchContext()
    )
  }}
  {% endset -%}

  {{
    applyRadios(
      {
        fieldName: "restrictions",
        fieldset: {
          legend: {
            text: page.questions.restrictions,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Where there's a risk to a known person, exclusion zones or limits on movements."
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: placementRestrictions
            }
          },
          {
            value: "no",
            text: "No"
          }
        ]
      },
      fetchContext()
    )
  }}

 
  

  {{
    applyRadios(
      {
        fieldName: "differentPDU",
        fieldset: {
          legend: {
            text: page.questions.differentPDU,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      },
      fetchContext()
    )
  }}

{% endblock %}
