{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "../../../components/formFields/form-page-select-with-optgroup/macro.njk" import formPageSelectWithOptgroup %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% extends "../layout.njk" %}

{% block questions %}

  <h1 class="govuk-heading-l">
    {{ page.title }}
  </h1>
  {% for preferredAp in page.preferredApOptions %}
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        {{page.preferredApLabels[loop.index0]}}
      </legend>
      {{
      formPageSelectWithOptgroup({
        label: {
          classes: "govuk-fieldset__legend--s",
          html: "Select a premises"
        },
        attributes:  page.selectorAttributes,
        prompt: "No preference",
        fieldName: preferredAp,
        items: PremisesUtils.groupCas1SummaryPremisesSelectOptions(page.allPremises, fetchContext(), preferredAp)
      })
    }}

    </fieldset>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  {%endfor%}

  {% endblock %}

  {% block extraScripts %}
    <script type="text/javascript" src="/assets/js/flattenPremisesOptions.js"></script>
  {% endblock %}
