{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../partials/filters.njk" import filterWrapper, filterSelect %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}

{% block content %}

    <h1 class="govuk-heading-l">List of Approved Premises</h1>

    {% call filterWrapper('Filter') %}
        <input type="hidden" name="activeTab" value="{{ activeTab }}" />
        {{ filterSelect('selectedArea','AP area',convertObjectsToSelectOptions(areas, 'All areas', 'name', 'id', 'selectedArea', 'all', context)) }}
    {%- endcall %}

    {{ govukTable({
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        head: tableHead,
        rows: tableRows
    }) }}
{% endblock %}
