{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}

{% block content %}

    <h1 class="govuk-heading-l">List of Approved Premises</h1>

    <form action="{{ currentUrl }}" method="get" class="search-and-filter">

        <h2 class="govuk-heading-m">Filter</h2>

        <div class="search-and-filter__row">
            {{ govukSelect({
                label: {
                    text: "AP area",
                    classes: "govuk-label--s"
                },
                classes: "govuk-input--width-20",
                id: "selectedArea",
                name: "selectedArea",
                items: convertObjectsToSelectOptions(areas, 'All areas', 'name', 'id', 'selectedArea', 'all', context)
            }) }}

            {{ govukButton({
                text: "Apply filter",
                type: "submit",

                preventDoubleClick: true
            }) }}
        </div>
    </form>

    {{ govukTable({
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        head: tableHead,
        rows: tableRows
    }) }}
{% endblock %}
