{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}

{% block content %}

    <h1 class="govuk-heading-l">List of Approved Premises</h1>

    <form action="{{ paths.premises.index({}) }}" method="get">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                {{ govukSelect({
                    label: {
                        text: "Areas",
                        classes: "govuk-label--s"
                    },
                    classes: "govuk-input--width-20",
                    id: "selectedArea",
                    name: "selectedArea",
                    items: convertObjectsToSelectOptions(areas, 'All areas', 'name', 'id', 'selectedArea', 'all', context)
                }) }}
            </div>

            <div class="govuk-grid-column-one-quarter">
                {{ govukButton({
                    "text": "Apply filter",
                    "type": "submit",
                    classes: "govuk-!-margin-top-6",
                    preventDoubleClick: true
                }) }}
            </div>
        </div>
    </form>

    {{ govukTable({
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        head: [
            {
                text: "Name"
            },
            {
                text: "Code"
            },
            {
                text: "Number of beds"
            },
            {
                html: '<span class="govuk-visually-hidden">Actions</span>'
            }
        ],
        rows: PremisesUtils.premisesTableRows(premisesSummaries)
    }) }}
{% endblock %}
