{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% from "../partials/showErrorSummary.njk" import showErrorSummary %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {% if referrer %}
    {{ govukBackLink({
      text: "Back",
      href: referrer
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Manage out of service bed</h1>

      {{
        govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          rows: [
            {
              key: {
                text: "Room number"
              },
              value: {
                text: lostBed.roomName
              }
            },
            {
              key: {
                text: "Bed number"
              },
              value: {
                text: lostBed.bedName
              }
            },
            {
              key: {
                text: "Start date"
              },
              value: {
                text: formatDate(lostBed.startDate, {format: 'long'})
              }
            },
            {
              key: {
                text: "End date"
              },
              value: {
                text: formatDate(lostBed.endDate, {format: 'long'})
              }
            },
            {
              key: {
                text: "Reason for bed being marked as lost"
              },
              value: {
                text: lostBed.reason.name
              }
            },
                        {
              key: {
                text: "Reference number"
              },
              value: {
                text: lostBed.referenceNumber
              }
            }
          ]
        })
      }}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <form action="{{ paths.lostBeds.update({ id: lostBed.id, bedId: lostBed.bedId, premisesId: premisesId }) }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <input type="hidden" name="startDate" value="{{ lostBed.startDate }}"/>
        <input type="hidden" name="reason" value="{{ lostBed.reason.id }}"/>
        <input type="hidden" name="referenceNumber" value="{{ lostBed.referenceNumber }}"/>

        {{ showErrorSummary(errorSummary, errorTitle) }}

        {{ govukDateInput({
        id: "endDate",
        namePrefix: "endDate",
        items: dateFieldValues('endDate', errors),
        errorMessage: errors.endDate,
        hint: {
        text: "For example, 27 3 2007"
        },
        fieldset: {
          legend: {
            text: "End date",
            classes: "govuk-fieldset__legend--s"
          }
        }
        }) }}

        {{ govukTextarea({
        id: "notes",
        name: "notes",
        label: {
          text: "Can you provide more detail?",
          classes: "govuk-fieldset__legend--s"
        },
        errorMessage: errors.notes
        }) }}

        {{ govukButton({
          text: "Save and continue",
          name: "submit",
          preventDoubleClick: true
        }) }}

        {{ govukButton({
          text: "Cancel lost bed",
          name: "cancel",
          value: '1',
          classes: "govuk-button--secondary govuk-!-margin-left-3",
          preventDoubleClick: true
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
