{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "../../../components/keyDetails/macro.njk" import keyDetails %}
{% from "../../../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../../../partials/dateGds.njk" import dateGds %}

{% extends "../../../partials/layout.njk" %}

{% block header %}
    {{ super() }}
    {{ keyDetails(PlacementUtils.getKeyDetail(placement)) }}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: paths.premises.placements.show({ premisesId: placement.premises.id, placementId: placement.id })
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {{ showErrorSummary(errorSummary, errorTitle) }}

            <h1 class="govuk-heading-l">Record someone as arrived</h1>
        </div>
    </div>

    {{ govukSummaryList({
        rows: [{
            key: {
                text: "Expected arrival date"
            },
            value: {
                text: formatDate(placement.expectedArrivalDate)
            }
        }]
    }) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <form action="{{ paths.premises.placements.arrival({ premisesId: placement.premises.id, placementId: placement.id }) }}"
                  method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ callMacro(dateGds,{name:"arrivalDateTime",label:"What is the arrival date?"}) }}

                {{ govukInput({
                    label: {
                        text: 'What is the time of arrival?',
                        classes: 'govuk-label--m'
                    },
                    hint: {
                        text: 'For example, 09:30 or 14:55.'
                    },
                    classes: 'govuk-input--width-5',
                    id: 'arrivalTime',
                    name: 'arrivalTime',
                    value: arrivalTime,
                    errorMessage: errors.arrivalTime
                }) }}

                {{ govukButton({
                    text: "Submit",
                    preventDoubleClick: true
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
