{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "../../../components/keyDetails/macro.njk" import keyDetails %}
{% from "../../../match/placementRequests/occupancyView/partials/_occupancySummary.njk" import occupancySummary %}
{% from "../../../match/placementRequests/occupancyView/partials/_occupancyCalendar.njk" import occupancyCalendar %}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block header %}
    {{ super() }}
    {{ keyDetails(PlacementUtils.getKeyDetail(placement)) }}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: paths.admin.placementRequests.show({ id: placement.requestForPlacementId })
    }) }}
{% endblock %}


{% block content %}
    {% include "../../../_messages.njk" %}

    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

    {% call govukDetails({summaryText: "Your booked placement", open: true}) %}
        {{ govukSummaryList(placementSummary) }}
    {% endcall %}

    <section>
        <h2 class="govuk-heading-l">View availability for {{ formatDuration(placement.durationDays) }}
            {% if not errors.startDate %}from {{ formatDate(placement.expectedArrivalDate, { format: 'short' }) }}{% endif %}</h2>

        <p>Your current booking is not included in this calendar.</p>

        {{ occupancySummary(summary) }}

        <section id="calendar-key">
            <h3 class="govuk-heading-m">Key</h3>

            <ul class="calendar__month govuk-list">
                <li class="calendar__day">
                    Available
                </li>
                <li class="calendar__day govuk-tag--yellow">
                    Full
                </li>
                <li class="calendar__day govuk-tag--red">
                    Overbooked
                </li>
            </ul>
        </section>

        <section id="calendar" aria-describedby="calendar-key">
            {{ occupancyCalendar(calendar) }}
        </section>
    </section>




{% endblock %}
