{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "partials/showErrorSummary.njk" import showErrorSummary %}

{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}

{% extends "partials/layout-with-details.njk" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: paths.premises.placements.show({ premisesId: placement.premises.id, placementId: placement.id })
    }) }}
{% endblock %}

{% block content %}
    {% include "_messages.njk" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {{ showErrorSummary(errorSummary, errorTitle) }}

            <h1 class="govuk-heading-l">Edit keyworker details</h1>
        </div>
    </div>

    {{ govukSummaryList({
        rows: [{
            key: {
                text: "Keyworker"
            },
            value: {
                text: currentKeyworkerName
            }
        }]
    }) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <form action="{{ paths.premises.placements.keyworkerDeprecated({ premisesId: placement.premises.id, placementId: placement.id }) }}"
                  method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukSelect({
                    label: {
                        text: "Select keyworker",
                        classes: "govuk-label--m"
                    },
                    id: "staffCode",
                    name: "staffCode",
                    items: keyworkersOptions
                }) }}

                {{ govukButton({
                    text: "Submit",
                    preventDoubleClick: true
                }) }}
            </form>
        </div>
    </div>

{% endblock %}

