{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../components/keyDetails/macro.njk" import keyDetails %}

{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "../../../partials/_applicationTimeline.njk" import applicationTimeline %}
{% from "../../../applications/partials/_readonly-application.njk" import applicationReadonlyView %}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
    {% if backLink %}
        {{ govukBackLink({
            text: "Back",
            href: backLink
        }) }}
    {% endif %}
{% endblock %}

{% block header %}
    {{ super() }}
    {{ keyDetails(PlacementUtils.getKeyDetail(placement)) }}
{% endblock %}

{% set titleHtml %}
    <span class="govuk-caption-xl">{{ placement.premises.name }}</span>
    <h1>{{ pageHeading }}</h1>
{% endset %}

{% set offlineAppContent %}
    <span class="govuk-heading-s">This booking was imported from NDelius</span>
    <span>As such, Assessment and Request for Placement information isn't available.</span>
{% endset %}

{% block content %}

    {% include "../../../_messages.njk" %}

    {{ mojIdentityBar({
        title: {
            html: titleHtml
        },
        menus: PlacementUtils.actions(placement, user)
    }) }}
    {% if isOfflineApplication %}
        {{ govukNotificationBanner({
            html: offlineAppContent,
            classes: 'govuk-notification-banner--full-width-content',
            titleText: 'Information'
        }) }}
    {% endif %}

    {{ mojSubNavigation({
        label: 'Sub navigation',
        items: tabItems
    }) }}

    {% if activeTab=='timeline' %}

        <h2 class="govuk-heading-m">Placement timeline</h2>
        {{ applicationTimeline(timelineEvents) }}

    {% elseif activeTab==='application' %}

        {{ applicationReadonlyView(application) }}

    {% elseif activeTab==='assessment' %}

        {% for section in SummaryListUtils.summaryListSections(assessment, false) %}
            <h2 class="govuk-heading-l">{{ section.title }}</h2>
            {% for task in section.tasks %}
                {{ govukSummaryList(task) }}
            {% endfor %}
        {% endfor %}

    {% elseif activeTab==='placementRequest' %}

        {{ govukSummaryList({
            attributes: {
                'data-cy-section': "placement-request-summary"
            },
            rows:PlacementRequestUtils.adminSummary(placementRequestDetail).rows
        }) }}
        {{ govukSummaryList(PlacementRequestUtils.matchingInformationSummary(placementRequestDetail)) }}

    {% else %}

        {{ govukSummaryList(PlacementUtils.placementSummary(placement)) }}

        <h2 class="govuk-heading-m">Arrival information</h2>
        {{ govukSummaryList(PlacementUtils.arrivalInformation(placement)) }}

        <h2 class="govuk-heading-m">Departure information</h2>
        {{ govukSummaryList(PlacementUtils.departureInformation(placement)) }}

        <h2 class="govuk-heading-m">Booking requirements</h2>
        {{ govukSummaryList(PlacementUtils.requirementsInformation(placement)) }}

        {% if placement.otherBookingsInPremisesForCrn and placement.otherBookingsInPremisesForCrn.length %}
            <h2 class="govuk-heading-m">Other</h2>
            {{ govukSummaryList(PlacementUtils.otherBookings(placement)) }}
        {% endif %}

    {% endif %}
{% endblock %}

{% block extraScripts %}
    <script type="text/javascript" nonce="{{ cspNonce }}">
      const container = $('.moj-button-menu')
      if (container?.length) {
        new MOJFrontend.ButtonMenu({
          container: container,
          mq: '(min-width: 200em)',
          buttonText: 'Actions',
          menuClasses: 'moj-button-menu__wrapper--right',
        })
      }
    </script>
{% endblock %}
