{% extends "../../partials/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - " + pageHeading  %}
{% set mainClasses = "app-container govuk-body assessments--index" %}

{% block beforeContent %}
    {{ govukBackLink({
		text: "Back",
		href: paths.admin.userManagement.edit({id: user.id})
	}) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
            <form action="{{ paths.admin.userManagement.delete({id: user.id}) }}?_method=DELETE" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">

                {{
                    govukSummaryList({
                        rows: UserUtils.userSummaryListItems(user)
                    })
                }}

                {{
                govukButton({
                    text: "Remove access",
                    type: "submit",
                    preventDoubleClick: true
                })
            }}
            </form>
        </div>
    </div>
{% endblock %}
