{% extends "../../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body assessments--index" %}
{% block beforeContent %}{{ govukBackLink({"text": "Back", "href": "/"}) }}
{% endblock %}
{% block content %}
  {% include "../../_messages.njk" %}
  <div class="govuk-width-container search-and-filter">
    <div class="govuk-grid-row">
      <h1 class="govuk-heading-l govuk-grid-column-three-quarters">{{ pageHeading }}</h1>
      {{ govukButton({
          text: "Add new user",
          href: paths.admin.userManagement.new({}) ,
          classes: "govuk-grid-column-one-quarter"
        }) }}
    </div>
    <div class="search-and-filter__wrapper">
      <form action="{{ paths.admin.userManagement.search({}) }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
            {{ govukInput({
                classes: "moj-search__input",
                label: {
                  text: "Find a user",
                  classes: "govuk-label--m"
                },
                id: 'search-by-name',
                hint: {
                  text: "You can search for a person's name or username",
                  classes: "moj-crn__hint"
                },
                name: "name",
                value: name,
                errorMessage: errors.name
              }) }}
          </div>
          <div class="govuk-grid-column-one-quarter govuk-!-margin-top-5 govuk-!-padding-left-0">
            {{ govukButton({
                "text": "Search",
                "type": "submit",
                "classes": "govuk-grid-column-one-quarter govuk-!-margin-top-9"
              }) }}
          </div>
        </div>
      </form>
      <form action="{{ paths.admin.userManagement.index({}) }}" method="get">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <h2 class="govuk-heading-m">Filters</h2>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            {{ govukSelect({
                label: {
                  text: "Roles",
                  classes: "govuk-label--s"
                },
                id: "roles",
                name: "roles",
                items: UserUtils.userRolesSelectOptions(selectedRole)
              }) }}
          </div>
          <div class="govuk-grid-column-one-quarter">
            {{ govukSelect({
                label: {
                  text: "AP Areas",
                  classes: "govuk-label--s"
                },
                classes: "govuk-input--width-20",
                id: "areas",
                name: "areas",
                items: convertObjectsToSelectOptions(apAreas, 'All areas', 'name', 'id', 'selectedArea')
              }) }}
          </div>
          <div class="govuk-grid-column-one-quarter">
            {{ govukSelect({
                label: {
                text: "Allocations",
                classes: "govuk-label--s"
                },
                id: "qualifications",
                name: "qualifications",
                items: UserUtils.userQualificationsSelectOptions(selectedQualification)
              }) }}
          </div>
          <div class="govuk-grid-column-one-quarter">
            {{ govukButton({
                "name": "submit",
                "text": "Apply filters",
                "classes": "search-and-filter__submit"
            }) }}
          </div>
        </div>
      </form>
    </div>
    {{ govukTable({
        firstCellIsHeader: true,
        head: UserUtils.tableUtils.managementDashboardTableHeader(sortBy, sortDirection, hrefPrefix) ,
        rows: UserUtils.tableUtils.managementDashboardTableRows(users)
      }) }}
    {{ govukPagination(pagination(pageNumber, totalPages, hrefPrefix) ) }}
  </div>
{% endblock %}
