{% extends "../../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% from "components/sortableTable/macro.njk" import sortableTable %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body assessments--index" %}

{% block content %}
    {% include "../../_messages.njk" %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <h1 class="govuk-heading-l govuk-grid-column-three-quarters">{{ pageHeading }}</h1>
            {{ govukButton({
                text: "Add new user",
                href: paths.admin.userManagement.new({}) ,
                classes: "govuk-grid-column-one-quarter",
                preventDoubleClick: true
            }) }}
        </div>

        <div class="search-and-filter">
            <form action="{{ currentUrl }}" method="get">
                <h2 class="govuk-heading-m">Filters</h2>

                <div class="search-and-filter__row">
                    {{ govukInput({
                        label: {
                            text: "Name or email",
                            classes: "govuk-label--s"
                        },
                        id: 'nameOrEmail',
                        hint: {
                            text: "e.g. 'John' or 'smith' or 'john Smith'"
                        },
                        name: "nameOrEmail",
                        value: nameOrEmail,
                        errorMessage: errors.nameOrEmail
                    }) }}

                    {{ govukSelect({
                        label: {
                            text: "Role",
                            classes: "govuk-label--s"
                        },
                        id: "role",
                        name: "role",
                        items: UserUtils.userRolesSelectOptions(selectedRole)
                    }) }}

                    {{ govukSelect({
                        label: {
                            text: "AP Area",
                            classes: "govuk-label--s"
                        },
                        classes: "govuk-input--width-20",
                        id: "area",
                        name: "area",
                        items: convertObjectsToSelectOptions(cruManagementAreas, 'All areas', 'name', 'id', 'selectedArea')
                    }) }}

                    {{ govukSelect({
                        label: {
                            text: "Allocation",
                            classes: "govuk-label--s"
                        },
                        id: "qualification",
                        name: "qualification",
                        items: UserUtils.userQualificationsSelectOptions(selectedQualification)
                    }) }}

                    {{ govukButton({
                        type: "submit",
                        text: "Apply filters",
                        preventDoubleClick: true
                    }) }}
                </div>
            </form>
        </div>

        {{ sortableTable({
            firstCellIsHeader: true,
            head: UserUtils.managementDashboardTableHeader(sortBy, sortDirection, hrefPrefix),
            rows: UserUtils.managementDashboardTableRows(users)
        }) }}

        {{ govukPagination(pagination(pageNumber, totalPages, hrefPrefix) ) }}
    </div>
{% endblock %}
