{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-width-container">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

        <h2 class="govuk-heading-m">{{ placementRequest.person.name }}</h2>

        {{
          govukSummaryList({
            classes: 'govuk-summary-list--no-border',
					  rows: MatchUtils.confirmationSummaryCardRows(bedSearchResult, dates)
				  })
        }}
      </div>
    </div>
  </div>
{% endblock %}
