{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-width-container">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

        <h2 class="govuk-heading-m">{{ placementRequest.person.name }}</h2>

        {{
          govukSummaryList({
            classes: 'govuk-summary-list--no-border',
					  rows: MatchUtils.confirmationSummaryCardRows(bedSearchResult, dates)
				  })
        }}

        <p>This booking will be sent to {{ bedSearchResult.premises.name }} Approved Premises for confirmation.</p>

        <form action="{{ paths.placementRequests.bookings.create({ id: placementRequest.id }) }}" method="post">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

          <input type="hidden" name="arrivalDate" value="{{ dates.startDate }}"/>
          <input type="hidden" name="departureDate" value="{{ dates.endDate }}"/>
          <input type="hidden" name="bedId" value="{{ bedSearchResult.bed.id }}"/>

          {{ govukButton({
            text: "Confirm and submit",
            preventDoubleClick: true
          }) }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
