{% extends "../../../../partials/_calendar.njk" %}

{% block dayContent %}
    {% if day.criteriaBookableCount is defined %}
        <dd>
            <span class="govuk-!-font-weight-bold">{{ day.criteriaBookableCount }}</span>
            <span class="govuk-visually-hidden">for</span>
            your criteria
        </dd>
    {% endif %}
    <dd>
        <span class="govuk-!-font-weight-bold">{{ day.bookableCount }}/{{ day.capacity }}</span>
        capacity
    </dd>
{% endblock %}
