{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLink
    }) }}
{% endblock %}

{% set titleHtml %}

{% endset %}

{% block content %}
    <span class="govuk-caption-l">{{ premises.name }}</span>
    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
    <div class="prev-next">
        <span class="prev-next--prev">
            <a href="{{ previousDayLink }}" class="govuk-link govuk-link--no-visited-state ">Previous day</a>
        </span>
        <span class="prev-next--next">
            <a href="{{ nextDayLink }}" class="govuk-link govuk-link--no-visited-state">Next day</a>
        </span>
    </div>
    {% if daySummaryText %}
        {{ govukNotificationBanner({
            text: daySummaryText,
            classes: 'govuk-notification-banner--full-width-content'
        }) }}
    {% endif %}
    {{ govukSummaryList(daySummaryRows) }}

    <div class="search-and-filter">
        <form action="{{ selfPath }}"
              method="get">
            <h2 class="govuk-heading-m">Filter</h2>

            <div class="search-and-filter__row">
                {{ govukCheckboxes({
                    name: "characteristics",
                    classes: "govuk-checkboxes--small govuk-checkboxes--inline",
                    items: criteriaOptions
                }) }}
                {{ govukButton({
                    text: 'Apply filters',
                    preventDoubleClick: true
                }) }}
            </div>
        </form>
    </div>

    <section>
        <h2 class="govuk-heading-m">People booked in on {{ formattedDate }}</h2>
        {{ govukTable({
            firstCellIsHeader: false,
            head: placementTableHeader,
            rows: placementTableRows
        }) }}
    </section>
    <section>
        <h2 class="govuk-heading-m">Out of service beds on {{ formattedDate }}</h2>
        {{ govukTable({
            firstCellIsHeader: false,
            head: outOfServiceBedTableHeader,
            rows: outOfServiceBedTableRows
        }) }}
    </section>

{% endblock %}


