{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% from "components/sortableTable/macro.njk" import sortableTable %}

{% extends "../../../match/layout-with-details.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLink
    }) }}
{% endblock %}

{% block content %}
    <span class="govuk-caption-l">{{ premises.name }}</span>
    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

    {{ govukPagination({
        previous: {
            text: 'Previous day',
            href: previousDayLink
        },
        next: {
            text: 'Next day',
            href: nextDayLink
        },
        items:[]
    }) }}

    {% if daySummaryText %}
        {{ govukNotificationBanner({
            text: daySummaryText,
            classes: 'govuk-notification-banner--full-width-content'
        }) }}
    {% endif %}

    {% if dayAvailabilityStatus %}
        <strong class="govuk-heading-m">{{ dayAvailabilityStatus.title }}</strong>
        <p>{{ dayAvailabilityStatus.detail }}</p>
    {% endif %}

    {{ govukSummaryList(daySummaryRows) }}

    {% if criteriaOptions %}
        <div class="search-and-filter">
            <form action="{{ selfPath }}"
                  method="get">
                <h2 class="govuk-heading-m">Filter</h2>

                <div class="search-and-filter__row">
                    {{ govukCheckboxes({
                        name: "characteristics",
                        classes: "govuk-checkboxes--small govuk-checkboxes--inline",
                        items: criteriaOptions
                    }) }}
                    {{ govukButton({
                        text: 'Apply filters',
                        preventDoubleClick: true
                    }) }}
                </div>
            </form>
        </div>
    {% endif %}

    <section>
        <h2 class="govuk-heading-m">{{ placementTableCaption }}</h2>
        {% if placementTableRows and placementTableRows.length %}
            {{ sortableTable({
                firstCellIsHeader: false,
                head: placementTableHeader,
                rows: placementTableRows
            }) }}
        {% endif %}
    </section>

    {% if outOfServiceBedTableRows and outOfServiceBedTableRows.length %}
        <section>
            <h2 class="govuk-heading-m">{{ outOfServiceBedCaption }}</h2>
            {{ sortableTable({
                firstCellIsHeader: false,
                head: outOfServiceBedTableHeader,
                rows: outOfServiceBedTableRows
            }) }}
        </section>
    {% endif %}

{% endblock %}


