{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "partials/showErrorSummary.njk" import showErrorSummary %}
{% from "partials/filters.njk" import filterWrapper, filterSelect, filterDatepicker %}
{% from "./_calendar.njk" import occupancyCalendar %}

{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}

{% extends "partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLink
    }) }}
{% endblock %}

{% set titleHtml %}

{% endset %}

{% block content %}
    {{ showErrorSummary(errorSummary) }}
    <span class="govuk-caption-l">{{ premises.name }}</span>
    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

    {% call filterWrapper('Filter') %}
        {{ filterDatepicker('startDate', 'Start date', fetchContext()) }}

        {{ filterSelect('durationDays', 'Duration', durationOptions) }}
    {% endcall %}

    {% if errorSummary.length === 0 %}
        <h2 class="govuk-heading-l">{{ calendarHeading }}</h2>
        <section id="calendar-key">
            <h3 class="govuk-heading-m">Key</h3>

            <ul class="calendar__month govuk-list">
                <li class="calendar__day govuk-tag--green">
                    Available
                </li>
                <li class="calendar__day govuk-tag--yellow">
                    Full
                </li>
                <li class="calendar__day govuk-tag--red">
                    Overbooked
                </li>
            </ul>
        </section>

        <section id="calendar" aria-describedby="calendar-key">
            {{ occupancyCalendar(calendar, true) }}
        </section>
    {% endif %}

{% endblock %}


