//@media (min-width: 1260px) {
//    .govuk-width-container, .moj-primary-navigation__container, .hmpps-header__container, .moj-identity-bar__container {
//    max-width: 1200px;
//      margin-right: auto;
//      margin-left: auto;
//  }
//}
//@media (min-width: 1000px) {
//  @supports (margin: max(calc(0px))) {
//    .govuk-width-container {
//      margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
//      margin-left: max(30px, calc(15px + env(safe-area-inset-left)));
//    }
//  }
//}
