{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% from "partials/showErrorSummary.njk" import showErrorSummary %}
{% from "./partials/_pageHeading.njk" import outOfServiceBedPageHeading %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backlink
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <form method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ showErrorSummary(errorSummary, errorTitle) }}

                <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

                {{ govukSummaryList(outOfServiceBedSummary) }}

                {{ govukInsetText({
                    text: "
                        You can update any of the details if progress has been made since creating the out of service bed record.
                        Please provide additional information on the reason for the change before submitting.
                    "
                }) }}

                {% include './partials/_formFields.njk' %}

                {{ govukButton({
                    type: 'submit',
                    text: "Save",
                    preventDoubleClick: true
                }) }}

                {{ govukButton({
                    text: "Go back",
                    href: backlink,
                    classes: "govuk-button--secondary govuk-!-margin-left-3"
                }) }}
            </form>
        </div>
    </div>

{% endblock %}
