{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "partials/filters.njk" import filterWrapper, filterDatepicker, filterSelect, filterCheckboxes %}

{% from "partials/showErrorSummary.njk" import showErrorSummary %}
{% from "match/placementRequests/occupancyView/partials/_occupancySummary.njk" import occupancySummary %}
{% from "partials/calendar/_occupancyCalendar.njk" import occupancyCalendar,  calendarKey %}

{% extends "partials/layout-with-details.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backlink
    }) }}
{% endblock %}


{% block content %}
    {{ showErrorSummary(errorSummary) }}

    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

    {% call govukDetails({summaryText: "Your booked placement", open: true}) %}
        {{ govukSummaryList(placementSummary) }}
    {% endcall %}

    <section>
        {% call filterWrapper('Filter') %}
            {{ filterDatepicker('startDate', 'Availability start date', fetchContext()) }}

            {{ filterSelect('durationDays', 'Length of availability', durationOptions) }}

            {{ filterCheckboxes('criteria', 'Room requirements', criteriaOptions) }}
        {% endcall %}

        {% if not errors.startDate %}
            <h2 class="govuk-heading-l">{{ calendarHeading }}</h2>

            <p>Your current booking is not included in this calendar.</p>

            <section class="govuk-visually-hidden">
                {{ occupancySummary(summary) }}
            </section>

            {{ calendarKey() }}

            <section id="calendar" aria-describedby="calendar-key">
                {{ occupancyCalendar(calendar) }}
            </section>
        {% endif %}
    </section>

    {% if not errors.startDate %}
        <section>
            <h2 class="govuk-heading-l">Change placement</h2>

            <p><strong>Room criteria:</strong> {{ selectedCriteria }}</p>

            <form action="{{ currentUrl }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                <input type="hidden" name="criteria" value="{{ criteria }}" />
                {% if not placement.actualArrivalDate %}
                    {{ govukDateInput({
                        id: "arrivalDate",
                        namePrefix: "arrivalDate",
                        fieldset: {
                            legend: {
                                text: "New arrival date",
                                classes: "govuk-fieldset__legend--m"
                            }
                        },
                        hint: {
                            text: arrivalDateHint
                        },
                        items: dateFieldValues('arrivalDate', errors),
                        errorMessage: errors.arrivalDate
                    }) }}
                {% else %}
                    <input type="hidden" name="actualArrivalDate" value="{{ placement.actualArrivalDate }}" />
                {% endif %}

                {{ govukDateInput({
                    id: "departureDate",
                    namePrefix: "departureDate",
                    fieldset: {
                        legend: {
                            text: "New departure date",
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    hint: {
                        text: departureDateHint
                    },
                    items: dateFieldValues('departureDate', errors),
                    errorMessage: errors.departureDate
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Continue",
                        preventDoubleClick: true
                    }) }}
                    {{ govukButton({
                        text: "Cancel",
                        classes: "govuk-button--secondary",
                        href: backlink,
                        preventDoubleClick: true
                    }) }}
                </div>
            </form>
        </section>
    {% endif %}


{% endblock %}
