{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% from "../../../../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../../../../components/keyDetails/macro.njk" import keyDetails %}
{% from "../../../../match/placementRequests/occupancyView/partials/_occupancySummary.njk" import occupancySummary %}
{% from "../../../../match/placementRequests/occupancyView/partials/_occupancyCalendar.njk" import occupancyCalendar %}

{% extends "../../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}

{% block header %}
    {{ super() }}
    {{ keyDetails(PlacementUtils.getKeyDetail(placement)) }}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backlink
    }) }}
{% endblock %}


{% block content %}
    {{ showErrorSummary(errorSummary) }}

    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

    {% call govukDetails({summaryText: "Your booked placement", open: true}) %}
        {{ govukSummaryList(placementSummary) }}
    {% endcall %}

    <section>
        <h2 class="govuk-heading-l">View availability for {{ formatDuration(durationDays) }}
            {% if not errors.startDate %}from {{ formatDate(startDate, { format: 'short' }) }}{% endif %}</h2>

        <p>Your current booking is not included in this calendar.</p>

        <div class="search-and-filter">
            <form action="{{ currentUrl }}" method="get">

                <h3 class="govuk-heading-m">Filters</h3>

                <div class="search-and-filter__row">
                    {{ govukDateInput({
                        id: "startDate",
                        namePrefix: "startDate",
                        fieldset: {
                            legend: {
                                text: "Availability start date",
                                classes: "govuk-fieldset__legend--s"
                            }
                        },
                        items: dateFieldValues('startDate', errors),
                        errorMessage: errors.startDate
                    }) }}

                    {{ govukSelect({
                        id: 'durationDays',
                        name: 'durationDays',
                        label: {
                            text: 'Length of availability',
                            classes: 'govuk-label--s'
                        },
                        items: durationOptions
                    }) }}
                </div>

                <div class="search-and-filter__row">
                    {{ govukCheckboxes({
                        name: "criteria",
                        classes: "govuk-checkboxes--small govuk-checkboxes--inline",
                        fieldset: {
                            legend: {
                                text: "Select following criteria",
                                classes: "govuk-fieldset__legend--s"
                            }
                        },
                        items: criteriaOptions
                    }) }}
                </div>

                <div class="search-and-filter__row">
                    {{ govukButton({
                        text: 'Apply filters',
                        preventDoubleClick: true
                    }) }}
                </div>
            </form>
        </div>

        {% if not errors.startDate %}

            {{ occupancySummary(summary) }}

            <section id="calendar-key">
                <h3 class="govuk-heading-m">Key</h3>

                <ul class="calendar__month govuk-list">
                    <li class="calendar__day">
                        Available
                    </li>
                    <li class="calendar__day govuk-tag--yellow">
                        Available for your criteria
                    </li>
                    <li class="calendar__day govuk-tag--red">
                        Full or overbooked
                    </li>
                </ul>
            </section>

            <section aria-describedby="calendar-key">
                {{ occupancyCalendar(calendar) }}
            </section>
        {% endif %}
    </section>

    {% if not errors.startDate %}
        <section>
            <h2 class="govuk-heading-l">Book your placement</h2>

            <form action="{{ currentUrl }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                <input type="hidden" name="criteria" value="{{ criteria }}" />

                {{ govukDateInput({
                    id: "arrivalDate",
                    namePrefix: "arrivalDate",
                    fieldset: {
                        legend: {
                            text: "Arrival date",
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    hint: {
                        text: "For example, 17 5 2024"
                    },
                    items: dateFieldValues('arrivalDate', errors),
                    errorMessage: errors.arrivalDate
                }) }}

                {{ govukDateInput({
                    id: "departureDate",
                    namePrefix: "departureDate",
                    fieldset: {
                        legend: {
                            text: "Departure date",
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    hint: {
                        text: "For example, 17 5 2024"
                    },
                    items: dateFieldValues('departureDate', errors),
                    errorMessage: errors.departureDate
                }) }}

                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Continue",
                        preventDoubleClick: true
                    }) }}
                    {{ govukButton({
                        text: "Cancel",
                        classes: "govuk-button--secondary",
                        href: backlink,
                        preventDoubleClick: true
                    }) }}
                </div>
            </form>
        </section>
    {% endif %}


{% endblock %}
