{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "partials/summaryCard.njk" import summaryCard %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "components/sortableTable/macro.njk" import sortableTable %}

{% for card in cardList %}
    {% set html %}
        {% if card.rows %}
            {{ govukSummaryList({
                rows: card.rows
            }) }}
            {% if card.card.actions %}
                {% for action in card.card.actions.items %}
                    <p class="govuk-!-margin-top-6 govuk-!-margin-bottom-2">
                        <a href="{{ action.href }}">{{ action.text }}</a>
                    </p>
                {% endfor %}
            {% endif %}
        {% endif %}

        {% if card.table %}
            {{ sortableTable(card.table) }}
        {% endif %}

        {% if card.html %}
            {{ card.html | safe }}
        {% endif %}
    {% endset %}

    {% if card.card.title %}
        {{ summaryCard({
            title: card.card.title,
            actions:card.card.actions,
            html:html
        }) }}
    {% else %}
        {{ html | safe }}
    {% endif %}
{% endfor %}


