{% extends "partials/layout.njk" %}

{% set pageTitle = applicationName + " - Accessibility statement" %}

{% block content %}
    <h1 class="govuk-heading-l">
        Accessibility statement
    </h1>

    <p>Ministry of Justice is committed to making its website accessible, in accordance with the Public Sector Bodies
        (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
    <p>This accessibility statement applies to the Approved Premises service.</p>

    <h2 class="govuk-heading-m">Compliance status</h2>

    <p>This website is partially compliant with the Web Content Accessibility Guidelines version 2.2 AA standard, due to
        the non-compliances listed below.</p>

    <h2 class="govuk-heading-m">Non-accessible content</h2>

    <p>The content listed below is non-accessible for the following reasons:</p>

    <ol class="govuk-list govuk-list--number">
        <li>non-compliance with the accessibility regulations
            <ul class="govuk-list govuk-list--bullet">
                <li>Announcement of sort icons in tables could be confusing</li>
                <li>Distinction between optional or mandatory questions is not announced</li>
                <li>Some unclear progression instructions</li>
                <li>Different links go to same target in the header</li>
                <li>Some broken ARIA references</li>
            </ul>
        </li>
    </ol>

    <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>

    <p>This statement was prepared on 21 May 2025, following an evaluation by an external company called User
        Vision.</p>

    <p>The statement was reviewed on 21 May 2025. A further audit is due to take place 26 May 2025. This statement will
        then be updated by 15 July 2025.</p>

    <h2 class="govuk-heading-m">Feedback and contact information</h2>

    <p>If you find any problems not listed on this page or think we’re not meeting accessibility requirements or if you
        need information on this website in a different format like accessible PDF, large print, easy read, audio
        recording or braille, contact
        <a href="mailto:APServiceSupport@digital.justice.gov.uk">APServiceSupport@digital.justice.gov.uk</a> and we will
        respond within 5 working days.</p>

    <h2 class="govuk-heading-m">Enforcement procedure</h2>

    <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites
        and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>

    <p>If you’re not happy with how we respond to your complaint, contact the <a
                href="https://www.equalityadvisoryservice.com">Equality Advisory and Support Service
            (EASS)</a>.</p>
{% endblock %}
