{% extends "partials/layout.njk" %}

{% set pageTitle = applicationName + " - What's new" %}
{% set hideNav = true %}

{% block content %}
    <h1 class="govuk-heading-l">What's new</h1>

    <p>See the latest releases and updates for the Manage Approved Premises residents service.</p>

    <h2 class="govuk-heading-m">February 2026</h2>

    <h3 class="govuk-heading-s">We released read-only resident profiles</h3>

    <p>The resident profiles include information like personal details, placement details, risk, offence, drug and alcohol use, and licence conditions.</p>

    <p>The profile will show the latest information from NDelius, OASys and other services.</p>

    <h2 class="govuk-heading-m">Future areas of focus</h2>

    <p>We plan to:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>add more information to the resident profile</li>
        <li>let you change some information in the profile</li>
    </ul>

    <p>You can <a class="govuk-link" href="https://forms.office.com/pages/responsepage.aspx?id=KEeHxuZx_kGp4S6MNndq2KxXUZ1jbxlMsEoiPoZPWGNUOVpGMkgxU1dXTU1QSDVQNUJZRVFMTDdYQS4u&route=shorturl" target="_blank" rel="noreferrer noopener">give us feedback</a> to help improve the service.</p>
{% endblock %}

