{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "components/sortableTable/macro.njk" import sortableTable %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}
{% from "../../../partials/filters.njk" import filterWrapper, filterCheckboxes %}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLink
    }) }}
{% endblock %}

{% block content %}
    {% set headingHtml %}
        <span class="govuk-caption-l">
            {{ premises.name }}
        </span>
        <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
    {% endset %}

    {{ mojIdentityBar({
        title: {
            html: headingHtml
        },
        menus: actions
    }) }}

    {% call filterWrapper('Filter') %}
        {{ filterCheckboxes('characteristics','Room characteristics',characteristicOptions) }}
    {%- endcall %}

    <section>
        <h2 class="govuk-heading-m">{{ tableCaption }}</h2>

        {{ sortableTable({
            attributes: { 'data-module': 'moj-sortable-table' },
            captionClasses: "govuk-table__caption--m",
            firstCellIsHeader: true,
            head: tableHeader,
            rows: tableRows
        }) }}

    </section>>
{% endblock %}

