{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLink
    }) }}
{% endblock %}

{% block content %}
    {% set headingHtml %}
        <span class="govuk-caption-l">
            <a href="{{ backLink }}">{{ premises.name }}</a>
        </span>
        <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
    {% endset %}

    {{ mojIdentityBar({
        title: {
            html: headingHtml
        },
        menus: actions
    }) }}

    {{ govukTable({
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        head: [
            { text: "Room Name" },
            { text: "Bed Name" },
            { text: "Action" }
        ],
        rows: tableRows
    }) }}
{% endblock %}

