{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}
{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}
{% from "./partials/_pageHeading.njk" import bedPageHeading %}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLink
    }) }}
{% endblock %}

{% block content %}
    {% include "../../../_messages.njk" %}

    {% if UserUtils.hasManagerRole(user) %}
        {{ mojIdentityBar({
            title: {
                html: bedPageHeading(pageHeading, bed, premises)
            },
            menus: [BedUtils.bedActions(bed, premises.id)]
        }) }}
    {% else %}
        {{ BedUtils.title(bed, pageHeading) | safe }}
    {% endif %}

    {{ govukSummaryList({
        rows: BedUtils.bedDetails(bed)
    }) }}

{% endblock %}

{% block extraScripts %}
    <script type="text/javascript" nonce="{{ cspNonce }}">
      new MOJFrontend.ButtonMenu({
        container: $('.moj-button-menu'),
        mq: '(min-width: 200em)',
        buttonText: 'Actions',
        menuClasses: 'moj-button-menu__wrapper--right',
      })
    </script>
{% endblock %}
