{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}
{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLink
    }) }}
{% endblock %}

{% block content %}
    {% include "../../../_messages.njk" %}

    {% set headingHtml %}
        <span class="govuk-caption-l">
            <a href="{{ paths.premises.show({premisesId: premises.id}) }}">{{ premises.name }}</a>
        </span>
        <span class="govuk-caption-l">Room {{ bed.roomName }}</span>
        <h1 class="govuk-heading-l">Bed {{ bed.name }}</h1>
    {% endset %}

    {{ mojIdentityBar({
        title: {
            html: headingHtml
        },
        menus: actions
    }) }}

    {{ govukSummaryList(characteristicsSummaryList) }}

{% endblock %}

{% block extraScripts %}
    <script type="text/javascript" nonce="{{ cspNonce }}">
      new MOJFrontend.ButtonMenu({
        container: $('.moj-button-menu'),
        mq: '(min-width: 200em)',
        buttonText: 'Actions',
        menuClasses: 'moj-button-menu__wrapper--right',
      })
    </script>
{% endblock %}
