{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro bookingTable(title, dateField, rows) %}
  {% if rows %}
    {{
      govukTable({
        caption: title,
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        head: [
          {
            text: "Name"
          },
          {
            text: "CRN"
          },
          {
            text: "Expected "+ dateField +" Date"
          },  
          {
            text: 'Bed name'
          },
          {
              text: "Actions"
            }
        ],
        rows: rows
      })
    }}
  {% endif %}
{% endmacro %}
