{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
    {{ govukBackLink({
  		text: "Back",
  		href: paths.premises.show({ premisesId: premisesId })
  	}) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ showErrorSummary(errorSummary, errorTitle) }}

            <h1>{{pageHeading}}</h1>
            <form action="{{ paths.bookings.create({ premisesId: premisesId, bedId: bedId }) }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                <input type="hidden" name="crn" value="{{ crn }}"/>

                {{ govukSummaryList({
                rows: [
                   {
                    key: {
                        text: "Name"
                    },
                    value: {
                        text: name
                    }
                    },
                    {
                    key: {
                        text: "CRN"
                    },
                    value: {
                        text: crn
                    }
                    }
                ]
                }) }}

                {{
                    govukRadios({
                        name: "eventNumber",
                        id: "eventNumber",
                        fieldset: {
                            legend: {
                                text: "Select an index offence",
                                classes: "govuk-fieldset__legend--m"
                            }
                        },
                        hint: {
                            text: "Select the most relevant index offence for this person"
                        },
                        errorMessage: errors.eventNumber,
                        items: OffenceUtils.offenceRadioItems(offences, eventNumber)
                    })
                }}

                {{ govukWarningText({
                    text: "If the required offence is not visible here, you will not be able to proceed with the booking until the offence has been added to NDelius",
                    iconFallbackText: "Warning"
                }) }}

                {{ govukDateInput({
                    id: "arrivalDate",
                    namePrefix: "arrivalDate",
                    fieldset: {
                        legend: {
                            text: "What is their expected arrival date?",
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    hint: {
                        text: "For example, 27 3 2007"
                    },
                    items: dateFieldValues('arrivalDate', errors),
                    errorMessage: errors.arrivalDate
                }) }}

                {{ govukDateInput({
                    id: "departureDate",
                    namePrefix: "departureDate",
                    fieldset: {
                    legend: {
                        text: "What is their expected departure date?",
                        classes: "govuk-fieldset__legend--m"
                        }
                    },
                    hint: {
                    text: "For example, 27 3 2007"
                    },
                    items: dateFieldValues('departureDate', errors),
                    errorMessage: errors.departureDate
                }) }}

                {{ govukButton({
                    text: "Submit",
                    preventDoubleClick: true
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
