{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{%- from "moj/components/identity-bar/macro.njk" import mojIdentityBar -%}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: paths.premises.show({premisesId: premisesId})
  }) }}
{% endblock %}

{% block content %}
  {% include "../_messages.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if UserUtils.hasRole(user, 'workflow_manager') %}
        {{ mojIdentityBar({
            title: {
              html: "<h1 class='govuk-heading-l'>" + pageHeading + "</h1>"
            },
            menus: BookingUtils.bookingActions(booking, premisesId)
          }) }}
      {% else %}
        <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
      {% endif %}

      <br>
      <h2>Person details</h2>

      {{
        govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          attributes: {
            'data-cy-person-info': true
          },
          rows: BookingUtils.bookingPersonRows(booking)
        })
      }}

      <br>

      {% if booking.cancellation %}

        <h2>Cancellation information</h2>

        {{
        govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          rows: BookingUtils.cancellationRows(booking)
        })
      }}

        <br>

      {% endif %}

      <h2>Arrival information</h2>

      {{
        govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          attributes: {
            'data-cy-arrival-information': true
          },
          rows: BookingUtils.bookingArrivalRows(booking)
        })
      }}

      <br>

      <h2>Departure information</h2>

      {{
          govukSummaryList({
            classes: 'govuk-summary-list--no-border',
            attributes: {
              'data-cy-departure-information': true
            },
            rows: BookingUtils.bookingDepartureRows(booking)
          })
        }}

      <br>

      <h2>Documents</h2>

      {{
        govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          attributes: {
            'data-cy-documents': true
          },
          rows: BookingUtils.bookingShowDocumentRows(booking)
        })
      }}
    </div>
  </div>
{% endblock %}

{% block extraScripts %}
  <script type="text/javascript" nonce="{{ cspNonce }}">
    new MOJFrontend.ButtonMenu({container: $('.moj-button-menu'), mq: "(min-width: 200em)", buttonText: "Actions", menuClasses: "moj-button-menu__wrapper--right"});
  </script>
{% endblock %}
