{% extends "../../partials/layout.njk" %}
{% from "../../partials/showErrorSummary.njk" import showErrorSummary %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body assessments--index" %}

{% block content %}

    {% include 'partials/plannedMaintenanceBanner.njk' %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ showErrorSummary(errorSummary) }}

            <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

            <form action="{{ paths.admin.reports.create() }}" method="post" data-clear-errors-on-submit>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukRadios({
                    name: "reportType",
                    fieldset: {
                        legend: {
                            text: "Report type",
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    items: ReportUtils.reportOptions(user),
                    errorMessage: errors.reportType
                }) }}

                <div class="govuk-grid-row govuk-!-margin-bottom-8">
                    <div class="govuk-grid-column-one-half">
                        {{ mojDatePicker({
                            id: "startDate",
                            name: "startDate",
                            label: {
                                text: "Start date",
                                classes: "govuk-label--m"
                            },
                            hint: {
                                text: "For example, 1/2/2025."
                            },
                            value: startDate,
                            errorMessage: errors.startDate
                        }) }}
                    </div>

                    <div class="govuk-grid-column-one-half">
                        {{ mojDatePicker({
                            id: "endDate",
                            name: "endDate",
                            label: {
                                text: "End date",
                                classes: "govuk-label--m"
                            },
                            hint: {
                                text: "For example, 31/3/2025."
                            },
                            value: endDate,
                            errorMessage: errors.endDate
                        }) }}
                    </div>
                </div>

                {{ govukButton({
                    name: 'submit',
                    text: "Download data"
                }) }}
            </form>

        </div>
    </div>
{% endblock %}
