{% extends "../../partials/layout.njk" %}
{% from "../../partials/showErrorSummary.njk" import showErrorSummary %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - " + pageHeading  %}
{% set mainClasses = "app-container govuk-body assessments--index" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ showErrorSummary(errorSummary) }}

      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

      <form action="{{ paths.admin.reports.create() }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ govukRadios({
              name: "reportType",
              fieldset: {
                  legend: {
                      text: "Report type",
                      classes: "govuk-fieldset__legend--m"
                  }
              },
              items: ReportUtils.reportOptions,
              errorMessage: errors.reportType
          }) }}

        <div class="govuk-form-group {% if errors.date %} govuk-form-group--error {% endif %}" id="date">
          <div class="govuk-grid-row">
            {% if errors.date %}
              <div class="govuk-grid-column-full">
                <p id="month-error" class="govuk-error-message" data-cy-error-date="true">
                  <span class="govuk-visually-hidden">Error:</span>
                  {{  errors.date.text }}
                </p>
              </div>
            {% endif %}
            <div class="govuk-grid-column-one-third">
              {{
            govukSelect({
              id: 'month',
              name: 'month',
              label: {
                text: 'Month',
                classes: "govuk-label--s"
              },
              items: convertObjectsToSelectOptions(monthOptions, 'Choose Month', 'name', 'value', month)
            })
          }}
            </div>
            <div class="govuk-grid-column-one-third govuk-!-margin-left-5">
              {{
            govukSelect({
              id: 'year',
              name: 'year',
              label: {
                text: 'Year',
                classes: "govuk-label--s"
              },
              items: convertObjectsToSelectOptions(yearOptions(2023), 'Choose Year', 'name', 'value', year)
            })
          }}
            </div>
          </div>
        </div>

        {{ govukButton({
            name: 'submit',
            text: "Download data"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
