{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "../../partials/personDetails.njk" import personDetails %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}
{% set nomsNumber = nomsNumber if nomsNumber else
  "" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: paths.applications.new()
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
      <p class="govuk-body">
        Taken from NDelius, <strong>{{ date }}</strong>
      </p>

      {{ personDetails(person, false) }}

      {% if person.isRestricted %}
        {% set html %}
          <p class='govuk-!-font-weight-bold'>This person is a limited access offender (LAO).</p>
          <p class='govuk-!-font-weight-bold'>You can continue with the application as you have access to this record, however please verify that the level of restriction is not broader than necessary.</p>
          <p class='govuk-!-font-weight-bold'>Once a placement is made for this application you may receive a request to grant LAO access to the staff of the particular AP.</p>
          <p class='govuk-!-font-weight-bold'>
            <a href="https://equip-portal.equip.service.justice.gov.uk/CtrlWebIsapi.dll/?__id=webDiagram.show&map=0%3AFF2D8D3F16B44268B814F7F8177A16F7&dgm=0CCF9118DFAC43F697E66CE331889D60">Guidance on managing user access to LAOs is available on EQUIP.</a>
          </p>
        {% endset %}

        {{
          govukWarningText({
            html: html,
            iconFallbackText: "Warning"
          })
        }}
      {% endif %}

      <p class="govuk-body">If these details are wrong, update this case in NDelius before you start.</p>
      <p class="govuk-body">If you've entered the wrong CRN, go back to the CRN screen.</p>

      {{ govukButton({
          text: "Save and continue",
          href: paths.applications.people.selectOffence({ crn: person.crn })
      }) }}

      <p class="govuk-body">
        <a href="{{ paths.applications.new() }}"> Back to CRN screen </a>
      </p>
    </div>
  </div>
{% endblock %}
