{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading  %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ govukBackLink({
		text: "Back",
		href: paths.applications.new({ crn: person.crn })
	}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1>{{ pageHeading}}</h1>

      <p class="govuk-body">
        Please select the main offence that will be used to assess {{ person.name }}'s sutability
        for an Approved Premises (the 'index offence') below:
      </p>

      {{ govukWarningText({
        text: "If the required offence is not visible here, you will not be able to proceed with the application until the offence has been added to NDelius",
        iconFallbackText: "Warning"
      }) }}

        <form action="{{ paths.applications.create() }}" method="post">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
          <input type="hidden" name="crn" value="{{ person.crn }}"/>

          {{
            govukTable({
              firstCellIsHeader: false,
              head: [
                {
                  html: '<span class="govuk-visually-hidden">Select offence</span>'
                },
                {
                  text: "Offence description"
                },
                {
                  text: "Delius event number"
                },
                {
                  text: "Offence date"
                }
              ],
              rows: OffenceUtils.offenceTableRows(offences)
            })
          }}

          {{ govukButton({
            text: "Save and continue"
        }) }}

        </form>
      </div>
    </div>
  {% endblock %}
