{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% extends "./partials/layout.njk" %}
{% set conditionalHtml %}
    {{ govukSelect({
        label: {
            text: "Select destination AP",
            classes: "govuk-label--m"
        },
        id: "apName",
        name: "apName",
        items: convertObjectsToSelectOptions(premisesSummaries, 'Select an AP', 'name', 'name', 'apName'),
        errorMessage:errors.apName
    }) }}
{% endset %}

{% block formContent %}
    {{ govukRadios({
        name: "moveOnCategoryId",
        fieldset: {
            legend: {
                text: "Move on",
                classes: "govuk-fieldset__legend--m"
            }
        },
        items: PlacementUtils.injectRadioConditionalHtml(
            convertObjectsToRadioItems(moveOnCategories, 'name', 'id', 'moveOnCategoryId'),
            MOVE_TO_AP_REASON_ID,conditionalHtml),
        value: moveOnCategoryId,
        errorMessage: errors.moveOnCategoryId
    }) }}

    {{ govukButton({
        text: "Continue",
        preventDoubleClick: true
    }) }}
{% endblock %}
