{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../../partials/dateGds.njk" import dateGds %}

{% extends "./partials/layout.njk" %}

{% block formContent %}

    {{ callMacro(dateGds,{name:"departureDate",label:"What is the departure date?"}) }}

    {{ govukInput({
        label: {
            text: 'What is the time of departure?',
            classes: 'govuk-fieldset__legend--m'
        },
        hint: {
            text: 'For example, 09:30 or 14:55.'
        },
        classes: 'govuk-input--width-5',
        id: 'departureTime',
        name: 'departureTime',
        value: departureTime,
        errorMessage: errors.departureTime
    }) }}

    {{ govukRadios({
        name: "reasonId",
        fieldset: {
            legend: {
                text: "Reason",
                classes: "govuk-fieldset__legend--m"
            }
        },
        items: convertObjectsToRadioItems(departureReasons, 'name', 'id', 'reasonId'),
        value: reasonId,
        errorMessage: errors.reasonId
    }) }}

    {{ govukButton({
        text: "Continue",
        preventDoubleClick: true
    }) }}
{% endblock %}
