{% set allocatedHtml %}
{{
  govukTable({
    attributes: {
      'data-module': 'moj-sortable-table'
    },
    caption: "Allocated Assessments",
    captionClasses: "govuk-table__caption--m",
    firstCellIsHeader: true,
    head: [
      {
        text: "Name"
      },
      {
        text: "Arrival date",
        attributes: {
          "aria-sort": "none"
        }
      },
      {
        text: "Days until Assessment Due",
        attributes: {
          "aria-sort": "none"
        }
      },
      {
        text: "Assessor name"
      },
      {
        text: "Application type"
      },
      {
        text: "Status"
      },
      {
        html: '<span class="govuk-visually-hidden">Actions</span>'
      }
    ],
    rows: AssessmentUtils.allocatedTableRows(assessments.allocated)
  })
}}
{% endset -%}

{% set unallocatedHtml %}
{{
  govukTable({
    attributes: {
      'data-module': 'moj-sortable-table'
    },
    caption: "Unallocated Assessments",
    captionClasses: "govuk-table__caption--m",
    firstCellIsHeader: true,
    head: [
      {
        text: "Name"
      },
      {
        text: "Arrival date",
        attributes: {
          "aria-sort": "none"
        }
      },
      {
        text: "Days until Assessment Due",
        attributes: {
          "aria-sort": "none"
        }
      },
      {
        text: "Application type"
      },
      {
        text: "Status"
      },
      {
        html: '<span class="govuk-visually-hidden">Actions</span>'
      }
    ],
    rows: AssessmentUtils.unallocatedTableRows(assessments.unallocated)
  })
}}
{% endset -%}

{{ govukTabs({
  items: [
    {
      label: "Allocated",
      id: "allocated",
      panel: {
        html: allocatedHtml
      }
    },
    {
      label: "Unallocated",
      id: "unallocated",
      panel: {
        html: unallocatedHtml
      }
    }
  ]
}) }}
