{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{% set pageTitle = applicationName + " - " + pageHeading  %}
{% set mainClasses = "app-container govuk-body assessments--index" %}

{% block content %}
  {% include "../_messages.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

      {% if UserUtils.hasRole(user, 'workflow_manager') %}
        {{ mojSubNavigation({
          label: 'Sub navigation',
          items: [{
            text: 'All Assessments',
            href: paths.assessments.index({}),
            active: (type !== 'myAssessments')
          },
          {
            text: 'My Assessments',
            href: paths.assessments.index({}) + '?type=myAssessments',
            active: (type === 'myAssessments')
          }]
        }) }}

        {% if type === 'myAssessments' %}
          {% include './_assessmentsForUser.njk' %}
        {% else %}
          {% include './_assessmentAllocationList.njk' %}
        {% endif %}
      {% else %}
        {% include './_assessmentsForUser.njk' %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block extraScripts %}
  <script type="text/javascript" nonce="{{ cspNonce }}">
    window
      .MOJFrontend
      .initAll()

    // This is a temporary fix to ensure table sorting works correctly with row headers
    // This can be removed once https://github.com/ministryofjustice/moj-frontend/pull/442 is merged
    window.MOJFrontend.SortableTable.prototype.sort = function (rows, columnNumber, sortDirection) {
      var newRows = rows.sort($.proxy(function (rowA, rowB) {
        var tdA = $(rowA)
          .find('td,th')
          .eq(columnNumber);
        var tdB = $(rowB)
          .find('td,th')
          .eq(columnNumber);
        var valueA = this.getCellValue(tdA);
        var valueB = this.getCellValue(tdB);
        if (sortDirection === 'ascending') {
          if (valueA < valueB) {
            return -1;
          }
          if (valueA > valueB) {
            return 1;
          }
          return 0;
        } else {
          if (valueB < valueA) {
            return -1;
          }
          if (valueB > valueA) {
            return 1;
          }
          return 0;
        }
      }, this));
      return newRows;
    };
  </script>
{% endblock %}
