{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../partials/personDetails.njk" import personDetails %}

{% extends "../partials/layout.njk" %}

{% set pageHeading = "View Assessment" %}
{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
    {% if referrer %}
        {{ govukBackLink({
            text: "Back",
            href: referrer
        }) }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-width-container">
            <h1 class="govuk-heading-xl">
                {{ pageHeading }}
            </h1>

            {{ personDetails(assessment.application.person, statusOnSubmission = assessment.application.personStatusOnSubmission) }}

            {% for section in getSummaryCardsForApplication(assessment) %}
                <h2 class="govuk-heading-l">{{ section.title }}</h2>
                {% for task in section.tasks %}
                    {{ govukSummaryList(task) }}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
