{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% from "partials/showErrorSummary.njk" import showErrorSummary %}
{% from "components/riskWidgets/macro.njk" import widgets %}

{% extends "partials/layout-with-details.njk" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-width-container">

            {% if assessment.createdFromAppeal %}
                {% set html %}
                    <h3 class="govuk-!-margin-top-2">This is an appealed assessment</h3>
                    <p class="govuk-body">This application has been reopened for reassessment.</p>
                {% endset %}
                {{ govukNotificationBanner({
                    html: html
                }) }}
            {% endif %}

            <h1 class="govuk-heading-xl">
                {{ pageHeading }}
            </h1>

            {{ showErrorSummary(errorSummary) }}

            <h2 class="govuk-heading-s govuk-!-margin-bottom-2" data-cy-status>Assessment {{ taskList.status }}</h2>
            <p class="govuk-body govuk-!-margin-bottom-7">You have completed {{ taskList.completeSectionCount }}
                of {{ (taskList.sections | length) }} sections.</p>
        </div>

        <form action="{{ paths.assessments.submission({id: assessment.id}) }}" method="post">

            <div class="govuk-grid-column-two-thirds">
                <ol class="app-task-list">
                    {% set applicationOrAssessment = assessment %}
                    {% include 'partials/taskListItems.njk' %}

                    {% if taskList.status === 'complete' %}
                        <li>
                            <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">
                  {{ (taskList.sections | length) + 1 }}.
            </span>
                                Submit your assessment
                            </h2>

                            {{ govukCheckboxes({
                                idPrefix: "confirmation",
                                name: "confirmation",
                                errorMessage: errors.confirmation,
                                items: [
                                    {
                                        value: "confirmed",
                                        text: "I confirm the information provided is complete, accurate and up to date."
                                    }
                                ]
                            }) }}
                        </li>
                    {% endif %}
                </ol>

                {% if taskList.status === 'complete' %}
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                    {{ govukButton({
                        text: "Submit assessment",
                        preventDoubleClick: true
                    }) }}
                {% endif %}
        </form>

        {{ govukButton({
            text: "Save and come back later",
            classes: "govuk-button--secondary",
            href: paths.assessments.index(),
            preventDoubleClick: true
        }) }}

    </div>

    {% if not oasysDisabled %}
        <div class="govuk-grid-column-one-third">
            {{ widgets(assessment.application.risks | mapApiPersonRisksForUi) }}
        </div>
    {% endif %}

    </div>

{% endblock %}
