{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backLink
    }) }}
{% endblock %}

{% block content %}
    {{ showErrorSummary(errorSummary) }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1>{{ pageHeading }}</h1>

            <form action="{{ formAction }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                {{ govukSummaryList({
                    rows: [
                        {
                            key: {
                            text: "Name"
                        },
                            value: {
                            text: displayName(booking.person, { laoSuffix: true })
                        }
                        },
                        {
                            key: {
                            text: "CRN"
                        },
                            value: {
                            text: booking.person.crn
                        }
                        },
                        {
                            key: {
                            text: "Arrival Date"
                        },
                            value: {
                            text: formatDate(booking.arrivalDate)
                        }
                        },
                        {
                            key: {
                            text: "Departure Date"
                        },
                            value: {
                            text: formatDate(booking.departureDate)
                        }
                        }
                    ]
                }) }}



                {% set noteConditional %}
                    {{ govukTextarea(
                        {
                            name: "otherReason",
                            id: "otherReason",
                            errorMessage: errors.otherReason,
                            label: {
                            text: "Provide more information"
                        }
                        }) }}

                {% endset -%}

                {{ govukRadios({
                    name: "reason",
                    id: "reason",
                    fieldset: {
                        legend: {
                            text: "Why is this placement being withdrawn?",
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    errorMessage: errors.reason,
                    items: CancellationUtils.cancellationReasonsRadioItems(cancellationReasons, noteConditional, fetchContext())
                }) }}

                {{ govukButton({
                    text: "Withdraw",
                    preventDoubleClick: true
                }) }}
            </form>

        </div>
    </div>
{% endblock %}
