{% macro outOfServiceBedPageHeading(title, outOfServiceBed) %}
    <span class="govuk-caption-l">
        <a href="{{ paths.premises.show({premisesId: outOfServiceBed.premises.id}) }}">{{ outOfServiceBed.premises.name }}</a>
    </span>
    <span class="govuk-caption-l">Room {{ outOfServiceBed.room.name }} | <a
                href="{{ paths.premises.beds.show({premisesId: outOfServiceBed.premises.id, bedId: outOfServiceBed.bed.id}) }}">Bed {{ outOfServiceBed.bed.name }}</a>
    </span>
    <h1 class="govuk-heading-l">{{ title }}</h1>
{% endmacro %}
