{% extends "../layout.njk" %}

{% block questions %}

  <h1 class="govuk-heading-l">{{page.title}}</h1>
  <p>Please specify requirements for matching the person to a bed within an Approved Premises (AP).</p>

  {{ formPageRadios({
      fieldName: "apType",
      fieldset: {
        legend: {
          text: page.apTypeQuestion
        }
      },
      items: convertKeyValuePairToRadioItems(page.apTypes, page.apType)
    },fetchContext()) }}

  {{
    formPageCheckboxes(
      {
        fieldName: "specialistSupportCriteria",
        fieldset: {
          legend: {
            text: "If this person would benefit from specialist support, select the relevant option below",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          html: "<p>There are only two AP with a semi-specialism in mental health nationally. Placement in one of these AP is not guaranteed.</p><p>Recovery Focused AP's are currently being piloted nationally. Placement is not guaranteed.</p>"
        },
      items: page.specialistSupportCheckboxes
      },
      fetchContext()
    )
  }}

  {{
    formPageCheckboxes(
      {
        fieldName: "accessibilityCriteria",
        fieldset: {
          legend: {
            text: "Would the person benefit from any of the following?",
            classes: "govuk-fieldset__legend--m"
          }
        },
      items: page.accessibilityCheckBoxes
      },
      fetchContext()
    )
  }}

  <h2 class="govuk-heading-m">Placement requirements</h2>

  {{placementRequirementsTable(page.placementRequirementTableHeadings, page.placementRequirements, page.placementRequirementPreferences, page.body) | safe}}

  {{placementRequirementsTable(page.relevantInformationTableHeadings, page.offenceAndRiskInformationKeys, page.offenceAndRiskInformationRelevance, page.body) | safe}}

{% endblock %}
