{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "../../../../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../../../../components/keyDetails/macro.njk" import keyDetails %}

{% extends "../../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}

{% block header %}
    {{ super() }}
    {{ keyDetails(PlacementUtils.getKeyDetail(placement)) }}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backlink
    }) }}
{% endblock %}

{% block content %}
    {{ showErrorSummary(errorSummary) }}

    <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <form action="{{ currentUrl }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukSelect({
                    id: "destinationPremisesId",
                    name: "destinationPremisesId",
                    label: {
                        text: "Where is the person being transferred to?",
                        classes: "govuk-fieldset__legend--m"
                    },
                    attributes: {
                        'data-autocomplete': { value: true, optional: true },
                        'data-autocomplete-hint': { value: true, optional: true }
                    },
                    items: approvedPremisesOptions,
                    value: destinationPremisesId,
                    errorMessage: errors.destinationPremisesId
                }) }}

                {{ govukDateInput({
                    id: "placementEndDate",
                    namePrefix: "placementEndDate",
                    fieldset: {
                        legend: {
                            text: "What is the end date of the placement?",
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    hint: {
                        text: "Enter the expected departure date. The current departure date is " + formatDate(placement.expectedDepartureDate)
                    },
                    items: dateFieldValues('placementEndDate', errors),
                    errorMessage: errors.placementEndDate
                }) }}

                {{ govukButton({
                    text: "Continue",
                    preventDoubleClick: true
                }) }}
            </form>
        </div>
    </div>

{% endblock %}
