{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "../../../../partials/showErrorSummary.njk" import showErrorSummary %}
{% from "../../../../components/keyDetails/macro.njk" import keyDetails %}

{% extends "../../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}

{% block header %}
    {{ super() }}
    {{ keyDetails(PlacementUtils.getKeyDetail(placement)) }}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: backlink
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            {{ showErrorSummary(errorSummary) }}

            <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

            <form action="{{ currentUrl }}" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ govukDateInput({
                    id: "transferDate",
                    namePrefix: "transferDate",
                    fieldset: {
                        legend: {
                            text: "When does the person need to be transferred?",
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    hint: {
                        text: "Enter the date that the transfer happened or will happen."
                    },
                    items: dateFieldValues('transferDate', errors),
                    errorMessage: errors.transferDate
                }) }}

                {{ govukButton({
                    text: "Continue",
                    preventDoubleClick: true
                }) }}
            </form>
        </div>
    </div>

{% endblock %}
