{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back to timeline",
        href: paths.applications.show({ id: application.id }) + "?tab=timeline"
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="moj-page-header-actions">
                <div class="moj-page-header-actions__title">
                    <span class="govuk-caption-l">Assessment</span>
                    <h1 class="govuk-heading-l">
                        {{ displayName(application.person) }}
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            {{ govukSummaryList({
                card: {
                    title: {
                        text: "Appeal decision"
                    }
                },
                rows: AppealsUtils.appealSummaryListItems(appeal)
            }) }}
        </div>
    </div>
{% endblock %} 
