{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "../../../components/formFields/form-page-textarea/macro.njk" import formPageTextarea %}
{% from "../../../partials/prisonInformationTable.njk" import prisonInformationTable %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


{% set title = "Select prison case notes" %}

{% extends "../layout.njk" %}

{% if page.nomisFailed == false %}
  {% set columnClasses = "govuk-grid-column-full" %}
{% endif %}

{% set caseNotes %}
  <div class="govuk-form-group{% if errors.selectedCaseNotes %} govuk-form-group--error{% endif %}">
    <fieldset class="govuk-fieldset" aria-describedby="case-notes-error">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m" id="prison-case-notes">Prison case notes</legend>
      {% if errors.selectedCaseNotes %}
        <p id="case-notes-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> You can only select up to 10 prison case notes that support this application.
        </p>
      {% endif %}
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Select</th>
              <th scope="col" class="govuk-table__header">Created</th>
              <th scope="col" class="govuk-table__header">Comments</th>
            </tr>
          </thead>
    
          <tbody class="govuk-table__body govuk-checkboxes">
            {% for caseNote in page.caseNotes %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ page.checkBoxForCaseNoteId(caseNote.id) | safe }}</td>
                <td class="govuk-table__cell">{{ uiDateOrDateEmptyMessage(caseNote, 'createdAt', formatDate) }}</td>
                <td class="govuk-table__cell">
                  <p>
                    <strong>Type: {{caseNote.type}}: {{caseNote.subType}}</strong>
                  </p>
                  <p>{{caseNote.note}}</p>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </fieldset>
  </div>
{% endset %}

{% block questions %}
  {% if page.nomisFailed == true %}
    <h1 class="govuk-heading-l">{{page.title}}</h1>

    <p>We are unable to import information from NOMIS.</p>

    <p>If you have any information from the prison provide it below. This includes case notes, adjudications and ACCT information. </p>

    <p>These will be used to help Approved Premises (AP) managers understand factors that may help with the person's risk management in an AP. You may need to contact the persons prison to get this information</p>

    {% set key = 'informationFromPrison' %}
    {% include "./../../partials/_yes-no-with-detail.njk" %}
  {% else %}
    <div class="govuk-grid-row">
      <div>
        <h1 class="govuk-heading-l">{{page.title}}</h1>
        <p>This information is imported from NOMIS</p>
        <p>Select any prison case notes that will help Approved Premises (AP) managers understand factors that may help with the person's risk management in an AP. </p>
        <p>Adjudications from the person's current sentence and ACCT (Assessment, Care in Custody and Teamwork) information will be sent automatically.</p>
      </div>

      {{ govukWarningText({
          text: "You can select up to 10 prison case notes that support this application.",
          iconFallbackText: "Warning"
        }) }}

      {{prisonInformationTable(caseNotes, page.body.adjudications, page.body.acctAlerts)}}
    </div>
  {% endif %}
{% endblock %}
