{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "../layout.njk" %}

{% block questions %}
  <h1 class="govuk-heading-l">
    Additional information
  </h1>

  {% set hintHtml %}
    {{ govukDetails({
      summaryText: "View requested information",
      html: page.query | linebreaksToParagraphs
    }) }}
  {% endset %}

  {% set informationReceivedHtml %}
  {{ formPageTextarea({
            fieldName: 'response',
            label: {
              text: page.questions.details
            }
          }, fetchContext()) }}

  {{
    formPageDateInput(
      {
        fieldName: "responseReceivedOn",
        fieldset: {
          legend: {
            text: page.questions.date
          }
        },
        items: dateFieldValues('responseReceivedOn', errors)
      },
      fetchContext()
    )
  }}
  {% endset -%}

  {{ formPageRadios({
        fieldName: "informationReceived",
        fieldset: {
          legend: {
            html: '<h2 class="govuk-heading-m">' + page.title + '</h2>'
          }
        },
        hint: {
          html: hintHtml
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: informationReceivedHtml
            }
          },
          {
            value: "no",
            text: "No"
          }
        ]
    },fetchContext()) }}
{% endblock %}
