{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "../layout.njk" %}

{% block questions %}
  <h1 class="govuk-heading-l">
    Suitability Assessment
  </h1>

  {% set hintHtml %}
  <div class="govuk-inset-text">
      If there's not enough information, you'll need to request it from the probation practitioner. No progress can be made on the application until they've responded or 5 days have passed (whichever is soonest).
    </div>
  {% endset %}

  {% set notEnoughInfo %}
  {{ formPageTextarea({
            fieldName: 'query',
            label: {
              text: page.furtherInformationQuestion
            }
          }, fetchContext()) }}
  {% endset -%}

  {{ formPageRadios({
        fieldName: "sufficientInformation",
        fieldset: {
          legend: {
            html: '<h2 class="govuk-heading-m">' + page.title + '</h2>'
          }
        },
        hint: {
          html: hintHtml
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No, I need to contact the probation practitioner for more information",
            conditional: {
              html: notEnoughInfo
            }
          }
        ]
    },fetchContext()) }}
{% endblock %}
