{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "../../../../components/keyDetails/macro.njk" import keyDetails %}
{% from "../../../../partials/showErrorSummary.njk" import showErrorSummary %}

{% extends "../../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + pageHeading %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: paths.premises.placements.show({ premisesId: placement.premises.id, placementId: placement.id })
    }) }}
{% endblock %}

{% block header %}
    {{ super() }}
    {{ keyDetails(PlacementUtils.getKeyDetail(placement)) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form action="{{ postUrl }}"
                  method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

                {{ showErrorSummary(errorSummary, errorTitle) }}

                {% include "../../../../_messages.njk" %}

                <h1 class="govuk-heading-l">{{ pageHeading }}</h1>


                {{ govukInput({
                    label: {
                        text: 'Which area manager approved?',
                        classes: 'govuk-fieldset__legend--m'
                    },
                    hint: {
                        text: 'Give the AP area manager\'s name'
                    },
                    classes: 'govuk-input--width-20',
                    id: 'areaManagerName',
                    name: 'areaManagerName',
                    value: areaManagerName,
                    errorMessage: errors.areaManagerName
                }) }}

                {{ govukInput({
                    label: {
                        text: 'What is their email address?',
                        classes: 'govuk-fieldset__legend--m'
                    },
                    hint: {
                        text: 'e.g. john.smith@moj.gov.uk'
                    },
                    classes: 'govuk-input--width-20',
                    id: 'areaManagerEmail',
                    name: 'areaManagerEmail',
                    type: "email",
                    value: areaManagerEmail,
                    errorMessage: errors.areaManagerEmail
                }) }}

                {{ govukDateInput({
                    id: "approvalDate",
                    namePrefix: "approvalDate",
                    items: dateFieldValues('approvalDate', errors),
                    errorMessage: errors.approvalDate,
                    fieldset: {
                        legend: {
                            text: "When was this approved?",
                            classes: "govuk-fieldset__legend--m"
                        }
                    }
                }) }}

                {{ govukRadios({
                    fieldset: {
                        legend: {
                            text: "Select the reason for the appeal and give details",
                            classes: "govuk-fieldset__legend--m govuk-!-padding-top-9"
                        }
                    },
                    hint: {
                        text: "Use the textboxes to provide information for the central referral unit (CRU). Do not include any personal information about victims or staff members."
                    },
                    idPrefix: "appealReason",
                    errorMessage: errors.appealReason,
                    name: "appealReason",
                    items: appealReasonRadioItems
                }) }}

                {{ govukTextarea({
                    id: "notes",
                    name: "notes",
                    value: notes,
                    label: {
                        text: "Is there anything else that the CRU need to know?",
                        classes: "govuk-fieldset__legend--m govuk-!-padding-top-9"
                    },
                    hint: {
                        text: "Please provide any information that will help the CRU rebook this placement."
                    },
                    errorMessage: errors.notes
                }) }}

                {{ govukButton({
                    text: "Save and continue",
                    preventDoubleClick: true
                }) }}
            </form>

        </div>
    </div>

{% endblock %}

