{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% from "../../partials/showErrorSummary.njk" import showErrorSummary %}

{% extends "../../partials/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      {{
      govukSummaryList({
        rows: AssessmentUtils.allocationSummary(assessment)
      })
    }}

      {{ showErrorSummary(errorSummary) }}

      <form action="#" method="post">
        {{
        govukSelect({
          label: {
            html: '<h2 class="govuk-heading-m">Reallocate Assessment</h2>'
          },
          hint: {
            text: 'Select a staff member to allocate the assessment to'
          },
          id: "staffMember",
          name: "staffMember",
          items: convertObjectsToSelectOptions(users, 'Please select', 'name', 'id', 'staffMember'),
          errorMessage: errors.staffMember
        })
      }}

        {{
        govukButton({
        text: "Submit"
        })
      }}
      </form>
    </div>

  </div>

</div>

{% endblock %}
