{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "../../../components/riskWidgets/macro.njk" import widgets %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% extends "../layout.njk" %}

{% set columnClasses = "govuk-grid-column-full" %}
{% set html %}
<p>This information has been imported from OASys. You must:</p>
<ul>
  <li>Remove any out of date information or information that is not relevant to this application.</li>
  <li>Add in any other relevant information (please note - this does not write back to OASys).</li>
  <li>Your application may be rejected if you do not do this.</li>
</ul>
{% endset -%}
{% block questions %}
  <div class="govuk-grid-row">
      {% if oasysDisabled or page.oasysSuccess == false %}
        <h1 class="govuk-heading-l">Provide risk information</h1>
      {% else %}
        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{page.title}}</h1>
        <p>Risk Information (part {{page.riskTaskStep}} of 5)</p>
        <p>OASys last updated: {{formatDate(page.oasysCompleted)}}</p>
      {% endif %}

      {% if page.oasysSuccess == false %}
        <p class="govuk-body">This information will be used to help Approved Premises (AP) managers understand factors that may help with the person’s risk management in an AP.</p>
      {% endif %}
  </div>

  <div class="govuk-grid-row">
    {% if oasysDisabled %}
      <div class="govuk-grid-column-full" id="{{ pageName }}">
        {{ govukNotificationBanner({
            titleText: 'Important',
            html: html,
            titleId: 'info-title'
        }) }}
        <p>
          {{ guidance }}
        </p>
        {{OasysImportUtils.textareas(questions, key) | safe}}
      </div>
    {% else %}
      <div class="govuk-grid-column-two-thirds" id="{{ pageName }}">
        {{ govukNotificationBanner({
            titleText: 'Important',
            html: html,
            titleId: 'info-title'
        }) }}
        {% if page.oasysSuccess == true %}
          <h2 class="govuk-heading-m">
            {{ heading }}
          </h2>
          <p>
            {{ guidance }}
          </p>
        {% endif %}
        {{OasysImportUtils.textareas(questions, key) | safe}}
      </div>

      <div class="govuk-grid-column-one-third">
        {{ widgets(page.risks) }}
      </div>
    {% endif %}
  </div>
{% endblock %}