{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "../layout.njk" %}

{% block questions %}

    {% if page.oasysSuccess %}
        <h1 class="govuk-heading-l">{{page.title}}</h1>

        <p class="govuk-body">We'll automatically import:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>offence details</li>
            <li>RoSH summary</li>
            <li>any MAPPA or hate-based information</li>
            <li>sections linked to RoSH</li>
            <li>Risk Management Plan</li>
            <li>Section 8 - Drug misuse</li>
            <li>Section 9 - Alcohol misuse</li>
        </ul>

        <p>You will be able to edit the information that is pulled in from OASys. Any new information that you provide as part of this application should be added to OASys.</p>

        <h2 class="govuk-heading-s">Needs linked to risk of serious harm are automatically imported</h2>

        {% if page.allNeedsLinkedToReoffending.length %}
            {{
            govukCheckboxes({
                idPrefix: "needsLinkedToReoffending",
                name: "needsLinkedToReoffending",
                errorMessage: errors.needsLinkedToReoffending,
                fieldset: {
                    legend: {
                        text: "Optional - Needs linked to reoffending",
                        classes: "govuk-fieldset__legend--m"
                    }
                },
                items: OasysImportUtils.sectionCheckBoxes(page.allNeedsLinkedToReoffending, page.body.needsLinkedToReoffending)
            })
        }}
        {% endif %}

        {% if page.allOtherNeeds.length %}
            {{
            govukCheckboxes({
                idPrefix: "otherNeeds",
                name: "otherNeeds",
                errorMessage: errors.otherNeeds,
                fieldset: {
                    legend: {
                        text: "Optional - Needs not linked to risk of serious harm or reoffending",
                        classes: "govuk-fieldset__legend--m"
                    }
                },
                items: OasysImportUtils.sectionCheckBoxes(page.allOtherNeeds, page.body.otherNeeds)
            })
        }}

        {% endif %}
    {% else %}
        <h1 class="govuk-heading-l">Oasys Information</h1>

        {% set html %}
        <p class="govuk-body">
            The OASys information could not be imported
        </p>
        {% endset %}

        {{
            govukNotificationBanner({
                html: html
            })
        }}

        {% set detailHtml %}
        <p class="govuk-body">OASys information can only be imported if the assessment:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>was completed in the last 6 months and has a status of ‘complete’ or 'locked incomplete'</li>
            <li>has any status other than ‘complete’ or ‘locked incomplete’</li>
        </ul>
        {% endset %}

        {{
            govukDetails({
                summaryText: "Help with OASys information",
                html: detailHtml
            })
        }}

        <p class="govuk-body">You will be asked to provide relevant risk information including:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>a summary of the offence, including information about the victim</li>
            <li>RoSH summary</li>
            <li>any MAPPA or hate-based information</li>
            <li>issues contributing to risks of offending and harm  (sections 2 - 13)</li>
            <li>the risk management plan</li>
            <li>risk to self </li>
        </ul>

        <p class="govuk-body">If you have started an OASys and it has not been imported you can copy and paste the information into this application. </p>

        <p class="govuk-body">The information you provide will be used by Approved Premises (AP) managers to consider how an AP will help manage the person’s risk and support their needs.</p>
    {% endif %}

{% endblock %}
