{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "../../components/riskWidgets/macro.njk" import widgets %}

{% extends "../layout.njk" %}

{% set columnClasses = "govuk-grid-column-full" %}

{% block questions %}
    <div class="govuk-grid-row">
        <div>
            <h1 class="govuk-heading-l">{{page.title}}</h1>
            <p>OASys last updated {{page.oasysCompleted}}</p>
        </div>

        {{ mojSubNavigation({
        label: 'Sub navigation',
        attributes: {
          'role': 'tablist'
        },
        items: [{
          text: 'RoSH summary',
          href: paths.applications.pages.show({ id: applicationId, task: 'oasys-import', page: 'rosh-summary' })
        }, 
        {
          text: 'Offence details',
          href: paths.applications.pages.show({ id: applicationId, task: 'oasys-import', page: 'offence-details' }) 
        }, 
        {
          text: 'Supporting information', 
          href: paths.applications.pages.show({ id: applicationId, task: 'oasys-import', page: 'supporting-information' })
        },  
         {
          text: 'Risk management plan',
          href: paths.applications.pages.show({ id: applicationId, task: 'oasys-import', page: 'risk-management-plan' }),
          active: true
        },
        {
          text: 'Risk to self'
        }]
      }) }}
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds" id="offenceDetails" role="tabpanel" >
            {{OasysImportUtils.textareas(page.riskManagementSummaries, 'riskManagementAnswers') | safe}}
        </div>

        <div class="govuk-grid-column-one-third">
            {{ widgets(page.risks) }}
        </div>
    </div>

{% endblock %}
