{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "../../../components/riskWidgets/macro.njk" import widgets %}

{% extends "./_oasys-screen.njk" %}

{% set columnClasses = "govuk-grid-column-full" %}
{% set pageName = "riskManagementPlan" %}
{% set questions = page.riskManagementSummaries %}
{% set key = "riskManagementAnswers" %}
{% set heading = "Risk management plan" %}
{% set guidance = "This information has been imported from the Risk Management Plan in OASys." %}