{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "../../../components/riskWidgets/macro.njk" import widgets %}

{% extends "./_oasys-screen.njk" %}

{% set columnClasses = "govuk-grid-column-full" %}
{% set pageName = "roshSummary" %}
{% set questions = page.roshSummaries %}
{% set key = "roshAnswers" %}
{% set heading = "RoSH summary" %}
{% set guidance = "These questions have been imported from the Risk of Serious Harm Summary (Layer 3) section of OASys." %}
