{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% extends "../layout.njk" %}

{% block questions %}

  <h1 class="govuk-heading-l">{{page.title}}</h1>

  {{ formPageCheckboxes({
      fieldName: "additionalNeeds",
      hint: {
        text: page.questions.needs.hint
      },
      fieldset: {
        legend: {
          text: page.questions.needs.question,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: page.needsCheckboxes()
    }, fetchContext()) }}

  {% set culturalNeeds %}
  {{ formPageTextarea({
      fieldName: 'religiousOrCulturalNeedsDetail',
      spellcheck: false,
      label: {
        text: "Provide details"
      }
    },fetchContext()) }}
  {% endset %}

  {{ formPageRadios({
      fieldName: "religiousOrCulturalNeeds",
      fieldset: {
        legend: {
          text: page.questions.religiousOrCulturalNeeds.question,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: culturalNeeds
          }
        },
        {
          value: "no",
          text: "No"
        }
      ]
    },fetchContext()) }}

  {% set needInterpreter %}
  {{ formPageInput({
        fieldName: "interpreterLanguage",
        label: {
          text: page.questions.interpreter.language
        }
      },fetchContext()) }}
  {% endset -%}

  {% set careAndSupportNeeds %}
  {{ formPageTextarea({
      fieldName: 'careAndSupportNeedsDetail',
      label: {
        text: page.questions.careAndSupportNeeds.hint
      }
      },fetchContext()) }}
  {% endset %}

  {{ formPageRadios({
      fieldName: "careAndSupportNeeds",
      fieldset: {
        legend: {
          text: page.questions.careAndSupportNeeds.question,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: careAndSupportNeeds
          }
        },
        {
          value: "no",
          text: "No"
        }
      ]
    },fetchContext()) }}

  {% set bannerHTML %}
  {% set html %}
  <p>Upload Care Act assessments to NDelius. You cannot upload these within the service.</p>
  {% endset %}

  {{ govukNotificationBanner({
        html: html
    }) }}
  {% endset -%}

  {{ formPageRadios({
        fieldName: "needsInterpreter",
        fieldset: {
          legend: {
            text: page.questions.interpreter.question,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: needInterpreter
            }
          },
          {
            value: "no",
            text: "No"
          }
        ]
      },fetchContext()) }}

  {{ formPageRadios({
        fieldName: "careActAssessmentCompleted",
        fieldset: {
          legend: {
            text: page.questions.careActAssessmentCompleted,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: bannerHTML
            }
          },
          {
            value: "no",
            text: "No"
          },
          {
            value: "iDontKnow",
            text: "I don't know"
          }
        ]
      },fetchContext()) }}

{% endblock %}

{% block extraScripts %}
  <script type="text/javascript" nonce="{{ cspNonce }}">
    var none = document.querySelector('input[name="additionalNeeds"][value="none"]')
    var checkBoxes = document.querySelectorAll('input[name="additionalNeeds"]:not([value="none"])')

    none.addEventListener('change', function () {
      if (this.checked) {
        for (let i = 0; i < checkBoxes.length; i++) {
          checkBoxes[i].checked = false
          checkBoxes[i].setAttribute('disabled', true)
        }
      } else {
        for (let i = 0; i < checkBoxes.length; i++) {
          checkBoxes[i].removeAttribute('disabled')
        }
      }
    });
  </script>
{% endblock %}
