{% extends "../layout.njk" %}

{% block questions %}
  <h1 class="govuk-heading-l">Access, cultural and healthcare needs</h1>
  <p class="govuk-body">Specify any additional details and the adjustments required</p>

  {{ formPageRadios({
      fieldName: "needsWheelchair",
      fieldset: {
        legend: {
          text: page.questions.wheelchair,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        html: '<p>If the person requires use of a wheelchair around the Approved Premises select yes. <a href="">What wheelchair accessibility means within an AP.</a></p>'
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }, fetchContext()) }}

  {% set healthConditionsDetail %}
  {{ formPageTextarea({
        fieldName: "healthConditionsDetail",
        label: {
          text: page.questions.healthConditionsDetail
        }
    }, fetchContext()) }}
  {% endset -%}

  {{ formPageRadios({
      fieldName: "healthConditions",
      fieldset: {
        legend: {
          text: page.questions.healthConditions,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: healthConditionsDetail
          }
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }, fetchContext()) }}

  {% set additionalPregnancyQuestions %}
  {{
    formPageDateInput(
        {
          fieldName: "expectedDeliveryDate",
          fieldset: {
            legend: {
              text: page.questions.deliveryDate
            }
          },
          items: dateFieldValues('expectedDeliveryDate', errors)
        },
        fetchContext()
      )
  }}
  {{ formPageTextarea({
        fieldName: "otherPregnancyConsiderations",
        label: {
        text: page.questions.otherPregnancyConsiderations,
          classes: "govuk-label--s"
        }
    }, fetchContext()) }}
  {% endset -%}

  {% if page.yesToPregnancyHealthcareQuestion %}
    {{ formPageRadios({
      fieldName: "isPersonPregnant",
      fieldset: {
        legend: {
          text: page.questions.isPersonPregnant,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: additionalPregnancyQuestions
          }
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }, fetchContext()) }}

    {{ formPageRadios({
      fieldName: "childRemoved",
      fieldset: {
        legend: {
          text: page.questions.childRemoved,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        },
        {
          value: "decisionPending",
          text: "Decision pending"
        }
      ]
    }, fetchContext()) }}

  {% endif %}

{% endblock %}
