{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName %}
{% set mainClasses = "app-container govuk-body" %}
{% set bodyClasses = "dashboard--index" %}

{% block content %}

  <h1>Community Payback</h1>

  <div class="card-container">
    <div class="card"  data-cy-card-section="track-progress">
      <div class="card-body">
        <h2 class="govuk-heading-s">
          <a class="govuk-link" href="{{ paths.sessions.show() }}">Track progress on Community Payback</a>
        </h2>
        <p class="govuk-body">Find a project session and track a person's progress</p>
      </div>
    </div>
  </div>

{% endblock %}
